$a: #094599;
$cubic: cubic-bezier(.69,0,.08,1.1);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	color: #3D4854;
	font-family: 'Mulish', sans-serif;
}
a {
	color: #3D4854;
	text-decoration: none;
	transition: .2s;
	&:hover {
		text-decoration: none;
		transition: .2s;
	}
}
p {
	opacity: .72;
	letter-spacing: .44px;
}
li {
	list-style: none;
}
input,
button,
select, 
textarea {
	-webkit-appearance: none;
	border: none;
	background: none;
	font-family: 'Mulish', sans-serif;
	&:focus {
		border: none;
		outline: none;
	}
}


header, section, footer {
	padding-left: 25px;
	padding-right: 25px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	line-height: 1.2;
}
h1 {

}
h2 {
	font-size: 50px;
}
.sect__head {
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 50px;
	max-width: 870px;
	margin-left: auto;
	margin-right: auto;
	p {
		font-size: 16px;
		margin-top: 23px;
		color: #37474F;
		opacity: 72%;
	}
	&::after {
		content: '';
		width: 47px;
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate3d(-50%, 0px, 0px);
		background: #094599;
	}
}
h3 {
	font-size: 24px;
	line-height: 1.55;
	font-weight: 400;
}
h4 {
	font-size: 20px;
	line-height: 1.5;
}
h5 {

}
h6 {

}
img,svg {
	display: block;
	width: 100%;
	height: auto;
}

.overflow {
	position: relative;
	width: 100%;
	display: block;
	overflow-x: hidden;
}

.cont {
	max-width: 1140px;
	margin: 0 auto;
	&-lg {
		max-width: 1275px;
	}
	&-xlg {
		max-width: 1390px;
	}
}

.flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	&.col3 {
		align-items: flex-start;
		> * {
			width: calc(33% - 21px);
		}
	}
	&.col2 {
		align-items: flex-start;
		> * {
			width: calc(50% - 12px);
		}
	}
	&.flex-sb {
		justify-content: space-between;
	}
	&.flex-fs {
		justify-content: flex-start;
	}
}
.nav {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F4F7FB;
	opacity: 0;
	padding-left: 25px;
	padding-right: 25px;
	visibility: hidden;
	transition: .2s;
	&.active {
		opacity: 1;
		visibility: visible;
		transition: .2s;
		.col2 {
			>div {
				transform: translate3d(0px, 0px, 0px);
				opacity: 1;
				transition: .5s .2s;
				&:last-child {
					transition: .5s .35s;
				}
			}
		}
		.nav__box {
			opacity: 1;
			transition: .5s .5s;
		}	
	}
	> .cont {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		padding: 20px 0 35px;
		height: calc(100vh - 44px);
		overflow-y: auto;
	}
	.flex-sb {
		align-items: stretch;
		width: 100%;
		padding-top: 30px;
	}
	.flex {
		position: relative;
	}
	
	&-close {
		position: relative;
		cursor: pointer;
		left: -5px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		svg {
			margin-right: 3px;
		}
	}

	.col2 {
		>div {
			width: auto;
			transform: translate3d(-30px, 0px, 0px);
			opacity: 0;

		}
		>div:first-child {
			border-right: 1px solid #E5E5E5;
			margin-right: 20px;
			padding-right: 20px;
		}
	}
	&__box {
		width: 405px;
		border-radius: 32px;
		background: #fff;
		padding: 35px 30px 60px;
		opacity: 0;
		h3 {
			font-size: 32px;
			line-height: 1.22;
			font-weight: 700;
			margin-bottom: 75px;
		}
		img {
			max-width: 285px;
			margin: 0 auto;
		}
	}
	nav {
		min-width: 260px;
		position: relative;
		left: -11px;
		// padding-top: 20px;
		a {
			display: block;
			color: #3D4854;
			font-size: 16px;
			line-height: 33px;
			margin-bottom: 7px;
			transition: .25s;
			padding: 0 11px;
			&:hover {
				color: $a;
				background: #fff;
				border-radius: 8px;
				transition: .25s;
			}
		}

	}
	a.urgent {
		font-weight: 700;
		font-size: 16px;
		.btn {
			margin-top: 40px;
			margin-left: 4px;
			background: #00B0AF;
			&:hover {
				transform: scale(1.0);
			}
		}
	}
	
	&__bottom {
		width: 100%;
		left: 0;
		bottom: 0;
		background: #fff;
		position: absolute;
		padding: 0 25px;
		a {
			color: #B7BFC9;
			font-size: 14px;
			text-transform: uppercase;
			margin-right: 30px;
			line-height: 44px;
		}
	}
}

.btn {
	display: inline-block;
	font-size: 16px;
    color: #fff;
    background: #094599;
    font-weight: 700;
    position: relative;
    padding: 11px 50px;
    border-radius: 25px;
    text-decoration: none;
    transition: .2s;
	&:focus {
		outline: none;
	}
	&-arr {
		font-weight: 700;
		display: flex;
		align-items: center;
		color: #094599;
		font-size: 17px;
		transition: .25s;
		padding: 5px 0;
		&::after {
		    content: '';
		    position: relative;
		    top: 1px;
		    display: inline-block;
		    margin-left: 3px;
		    height: 24px;
		    width: 24px;
		    background: url('../img/arr.svg') no-repeat center center/ contain;
		    transition: .20s;
		}
		&:hover {
			color: #094599;
			&::after {
				transform: translate3d(5px,0,0);
				transition: .2s;
			}
		}
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		transform: scale(1.05);
		transition: .2s;
	}
	&-icon {
		background: #F4F7FB;
		color: $a;
		display: flex;
		svg {
			width: 20px;
			margin-right: 8px;
		}
		&:hover {
			color: $a;
		}
	}
	&-sm {
		font-size: 12px;
		padding: 5px 16px;
	}
}

section {
	padding-top: 80px;
	// padding-bottom: 40px;
}
.header {
	position: relative;
	padding: 18px 25px;
	background: #fff;
	&__menu {
		cursor: pointer;
		padding: 5px 0;
		font-size: 14px;
		text-transform: uppercase;
		svg {
			width: 18px;
			margin-right: 15px;
		}
	}
	&__logo {
		max-width: 89px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0px);
	}
	&__right {

	}
	&__search {
		padding: 5px 0;
		cursor: pointer;
		span {
			white-space: nowrap;
			font-size: 14px;
			color: #95A0AB;
		}
		svg {
			margin-left: 13px;
		}
	}
	&__lang {
		margin-left: 20px;
		select {
			color: #95A0AB;
			font-size: 14px;
			cursor: pointer;
			padding: 5px 20px 5px 0;
			background: url('../img/select.svg') no-repeat right center/ 10px auto;
		}
	}
}
.glide {
	position: relative;
	&__track {
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	&__slides {
		position: relative;
		width: 100%;
		list-style: none;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		touch-action: pan-Y;
		white-space: nowrap;
		display: flex;
		flex-wrap: nowrap;
		will-change: transform; }
	&__slides--dragging {
		user-select: none; }
	&__slide {
		width: 100%;
		flex-shrink: 0;
		white-space: initial;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent; 
	}
	&__slide a {
		user-select: none;
		-webkit-user-drag: none;
		-moz-user-select: none;
		-ms-user-select: none; }
	&__bullets {
		-webkit-touch-callout: none;
		user-select: none; 
		justify-content: center;
		
	}
	&__bullet {
		width: 15px;
		height: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px;
		&::after {
			content: '';
			border-radius: 50%;
			width: 8px;
			height: 8px;
			background: #D8D8D8;
			transition: .2s;

		}
		&--active::after {
			background: #979797;
			transition: .2s;
			transform: scale(1.2);
		}
	}
	&--rtl {
		direction: rtl; }
}
.glide.five-col {
	position: relative;
	.glide__track {
		overflow: visible;
	}
	.glide__slides {
		align-items: stretch;
		padding-top: 120px;
		padding-bottom: 160px;
	}
}
.glide.three-col {
	position: relative;
	.glide__track {
		overflow: visible;
	}
	.glide__slides {
		align-items: stretch;
		padding-bottom: 50px;
	}
	&.why__slider {
		.glide__slides {
			padding-top: 50px;
		}
	}
	&.numbers__slider {
		.glide__slides {
			padding-bottom: 100px;
		}
	}
	.glide__slide {
		visibility: hidden;
		opacity: 0;
		transition: .3s;
		&--active {
			visibility: visible;
			opacity: 1;
			transition: .3s;
			& + li {
				visibility: visible;
				opacity: 1;
				transition: .3s;
				& + li {
					visibility: visible;
					opacity: 1;
					transition: .3s;
				}
			}
		}
	}
	
	.glide__bullets {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
	}
}

.hero {
	position: relative;
	padding: 0;
	// min-height: calc(100vh - 70px);
	background: url('../img/banner.jpg') no-repeat center center/ cover;
	&-page {
		background: url('../img/page-bg.svg') no-repeat center center/ cover;
		min-height: 220px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 0;
		&::before {
			display: none;
		}
		&__title {
			h1 {
				font-size: 40px;
				color: #fff;
			}
		}
	}
	&::before {
		position: absolute;
		content: '';
		z-index: 1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.64));
	}
	> div {
		z-index: 2;
	}
	&__title {
		color: #fff;
		position: absolute;
		bottom: 50px;
		width: 100%;
		left: 50%;
		padding: 0 30px;
		transform: translate3d(-50%, 0px, 0px);
		h1 {
			text-transform: uppercase;
			text-align: center;
			font-family: 'Mulish', sans-serif;
			font-size: 32px;
			font-weight: 300;
			margin-bottom: 30px;
			strong {
				font-size: 36px;
				font-weight: 700;
				display: block;
			}
		}
		&-btn {
			cursor: pointer;
			justify-content: center;
			svg {
				width: 15px;
				margin: 0 13px;
			}
		}
	}
	&__message {
		position: absolute;
		width: 100%;
		top: 0;
		padding: 8px 25px;
		left: 0;
		background: rgba(183,191,201,.3);
		backdrop-filter: blur(10px);
		&-close {
			cursor: pointer;
		}
		&-cont {
			max-width: 1290px;
			margin: 0 auto;
		}
		p {
			color: #fff;
			opacity: 1;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
	&.flex {
		justify-content: flex-end;

		align-items: stretch;
	}
	&__left {
		width: calc(100% / 3 * 2);
		position: relative;
	}
	&__right {
		height: calc(100vh - 70px);
		max-height: 850px;
		overflow-y: auto;
		min-width: 480px;
		width: calc(100% / 3);
		background: #fff;
		padding-top: 40px;
	}
	&__glide {
		padding-bottom: 14px;
	}
	.accent {
		background: #EDF6F5;
		padding-bottom: 22px;
		span {
			color: #3D4854;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	&__slide {
		padding: 15px 32px 6px;
		&.accent {
			background: #EDF6F5;
		}
		&-flex {
			display: flex;
			align-items: flex-start;
		}
		span {
			font-size: 12px;
			color: #B7BFC9;
		}
		h4 {
			margin-bottom: 16px;
		}
		h6 {
			font-size: 16px;
			font-family: 'Mulish', sans-serif;
			line-height: 1.4;
		}
		.btn-arr {
			font-size: 16px;
			margin-top: 5px;
			&::after {
				width: 20px;
				height: 20px;
			}
		}
		.btn-sm {
			margin-top: 13px;
		}
		.img {
			width: 50%;
			min-width: 150px;
			height: 112px;
			overflow: hidden;
			border-radius: 4px;
			position: relative;
			&-label {
				position: absolute;
				background: #fff;
				bottom: 0;
				left: 0;
				padding: 8px 12px;

				text-align: center;
				border-radius: 0 4px 0 0;
				span {
					color: #00AFA3;
					display: block;
					font-size: 12px;
					font-weight: 700;
					line-height: 1.2;
				}
				.day {
					font-size: 16px;
				}
			}
			img {
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

			}
		}
		.content {
			margin-top: -8px;
			flex-grow: 1;
			padding-left: 16px;
		}
	}
}
.boxes.flex, .boxes.grid {
	align-items: stretch;
	> div {
		background: #fff;
		border-radius: 15px;
		box-shadow: 0 0 77px 0 rgba(0,0,0,.06);
		padding: 30px 17px 20px 30px;
	}
}
.why {
	background: url('../img/lines.svg') no-repeat top 75% center / 120% auto;
	&__slider {
		img {
			width: 76px;
			margin-bottom: 24px;
		}
		h3 {
			margin-bottom: 8px;
		}
	}
	.sect__head {
		margin-bottom: 0;
	}
	.btn-arr {
		margin-top: 4px;
	}
	.glide__slide {
		position: relative;
		&:hover {
			transform: translate3d(0px, -10px, 0px);

			.btn-arr {
				&::after {
					transform: translate3d(5px,0,0);
				}
			}
		}
		a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

.wizard {
	padding-top: 70px;
	.cont.flex {
		background: #EDF6F5;
		border-radius: 32px;
		padding: 32px;
		&>div {
			width: 50%;
		}
	}
	h2 {
		font-size: 42px;
		margin-bottom: 26px;
	}
	&__text {
		padding-right: 30px;
	}
	&__img {
		img {
			max-width: 436px;
			margin: 0 auto;
		}
	}
}

.numbers {
	&__slider {
		&.in-view {
			li > div {
				transform: translate3d(0, 0px, 0px);
				opacity: 1;
				transition: transform 1s .2s cubic-bezier(0.25, 1, 0.5, 1),
							opacity .6s .2s ease;

			}
		}
	}

	li {
		text-align: center;
		>div {
			transform: translate3d(0, -50px, 0px);
			opacity: 0;
		}
		p {
			font-size: 24px;
			opacity: 1;
			line-height: 1.55;
			max-width: 250px;
			letter-spacing: 0;
			margin: 0 auto;
		}
	}
	.number {
		font-size: 100px;
		display: block;
		line-height: 1;
		margin-bottom: 10px;
		color: #00B0AF;
		font-weight: 800;
		
		span {
			font-size: 40px;
		}
	}
	
}
.eservice {
	padding-top: 130px;
	background: url('../img/lines.svg') no-repeat bottom center / 100% auto;
	.cont-xlg {
		justify-content: flex-end;
		position: relative;
	}
	.text-cont {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0px);
	}
	&__text {
		width: 50%;
		padding-right: 80px;
		h2 {
			margin-bottom: 32px;
		}
	}
	&__slider {
		position: relative;
		width: 50%;
		&::before {
			content: '';
			position: absolute;
			left: -38px;
			top: -56px;
			z-index: 1;
			width: 76px;
			height: 132px;
			background: url('../img/dots.svg') no-repeat center center/ contain;
		}
		.glide__track {
			position: relative;
			z-index: 2;
			box-shadow: 0 0 28px 0 rgba(38,40,44,.2);
			border-radius: 5px;
			img {
				border-radius: 5px;
			}
		}
		.glide__bullets {
			margin-top: 25px;
		}
	}
}

.actualite {
	background: url('../img/lines.svg') no-repeat bottom left / 105% auto;
	// .col3 >div {
	// 	padding: 0px 17px 20px 30px;
	// 	width: calc((100% / 3) - 14px);
	// 	border-radius: 8px;
	// }
	.flex > div {
		padding: 0px 17px 20px 30px;
		border-radius: 8px;
	}

	img {
		width: calc(100% + 47px);
		position: relative;
		left: -30px;
		border-radius: 8px 8px 0 0;
		margin-bottom: 13px;
	}
	span {
		color: #95A0AB;
		font-size: 15px;
		margin-bottom: 8px;
	}
	p {
		opacity: 1;
		letter-spacing: 0;
	}
	.btn-arr {
		margin-top: 30px;
	}
}

.programs {
	&__wrap {
		position: relative;
		&::before {
			z-index: 1;
			content: '';
			width: calc(100% + 50px);
			left: -25px;
			position: absolute;
			top: 50px;
			height: calc(100% - 100px);
			background: #3D4854;
		}
	}
	&__flex {
		position: relative;
		z-index: 2;
		margin-bottom: 23px;
		&:first-child {
			align-items: flex-end;
			.programs__text {
				padding-bottom: 30px;
			}
		}
		&:last-child {
			align-items: flex-start;
			.programs__text {
				padding-top: 40px;
			}
		}
		>div {
			width: 50%;
		}
	}
	&__box {
		background: #fff;
		min-height: 250px;
		border-radius: 15px;
		box-shadow: 0 0 77px 0 rgba(0,0,0,.06);
		text-align: center;
		padding: 38px 20px 52px;
		img {
			max-width: 250px;
			max-height: 80px;
			width: auto;
			height: auto;
			margin: 0 auto;
		}
		h3 {
			font-size: 34px;
			font-weight: 400;
			margin-top: 10px;
		}
	}
	&__text {
		padding-left: 54px;
		p {
			color: #FDFDFD;
			opacity: 1;

		}
	}
}
.pubs {
	.glide__slide {
		transition: .3s;
		&.hidden {
			opacity: 0;
			visibility: hidden;
			transition: .3s;
		}
	}
	.glide__slide--active {
		z-index: 10000 !important;
		&.hidden {
			opacity: 1;
			visibility: visible;
			transition: .3s;
		}
		
		.pubs__item {
			transform: scale(2);
			transition: .8s $cubic;
			&::after {
				opacity: 1;
				// transition: prop time;
				transition: .3s;
			}
			&-active {
				opacity: 1;
				visibility: visible;
				transition: .4s .2s;
			}
			&-regular {
				opacity: 0;
				visibility: hidden;
				transition: 0;
			}
		}
		
	}
	
	&__item {
		box-shadow: 0 0 33px 0 rgba(0,0,0,.05);
		border-radius: 50%;
		background: #fff;
		position: relative;
		transform: scale(1.2);
		transition: .2s;
		&::after {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			z-index: -1;
			opacity: 0;
			content: '';
			background: url('../img/oval.svg') no-repeat center center/ 100% auto;
		}
		
		&-regular, &-active {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		&-regular {
			display: block;
			padding-top: 35px;
			svg {
				height: 60px;
				width: auto;
				margin: 0 auto 15px;
			}
			path {
				fill: #B7BFC9;
			}
			h6 {
				font-size: 16px;
				max-width: 90%;
				margin: 0 auto;
			}
		}
		&-active {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			opacity: 0;
			padding: 0 10px;
			visibility: hidden;
			color: #fff;
			.icon {
				width: 30px;
				margin: 0 auto 15px;
				position: relative;
				path {
					fill: #fff;
				}
			}
			
			p {
				font-size: 8px;
				line-height: 1.3;
				max-width: 360px;
				letter-spacing: 0;
				margin: 0 auto 20px;
				opacity: 1;
			}
			h6 {
				text-transform: uppercase;
				&::after {
					content: '';
					display: block;
					margin: 6px auto 10px;
					width: 16px;
					height: 1px;
					background: #fff;
					// display: none;
				}
			}
			.more {
				width: 26px;
				display: block;
				margin: 0 auto;
				transition: 0.2s;
				&:hover {
					transform: scale(1.05);
					transition: 0.2s;
				}
			}
		}

		&-rect {
			width: 100%;
			position: relative;
			padding-bottom: 100%;
		}
		&-wrap {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			height: 100%;
			text-align: center;
			padding: 0 10px;
		}
	}
}
.links {
	background: url('../img/lines.svg') no-repeat bottom left / 105% auto;
	padding-bottom: 80px;
	&__flex {
		h3 {
			margin-bottom: 35px;
		}
		img {
			width: 76px;
			margin-bottom: 20px;
		}
	}
}
.news {
	text-align: center;
	// padding-top: px;
	padding-bottom: 90px;

	h3 {
		font-weight: 700;
	}
	p {
		color: #95A0AB;
		opacity: 1;
	}
	&__form {
		max-width: 600px;
		margin: 33px auto 0;
		background: #F7F7F7;
		border-radius: 25px;
		padding: 5px;
		label,input {
			flex-grow: 1;
			display: block;
			width: 100%;
		}
		input {
			height: 38px;
			font-size: 14px;
			color: #3d4854;
			padding: 0 22px;
			&::placeholder {
				color: #95A0AB;
			}
		}
		.btn {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 14px;
			padding: 11px 0;
			min-width: 145px;
			cursor: pointer;
		}
	}
}
.gallery {
	width: calc(100% + 50px);
	position: relative;
	left: -25px;
	padding-bottom: 70px;
}
.footer {
	background: #F7F7F7;
	padding-top: 45px;
	padding-bottom: 45px;
	.cont {
		max-width: 1060px;
	}
	.flex {
		align-items: flex-start;
		a {
			display: block;
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 16px;
			&:hover {
				opacity: .7;


			}
		}
		p {
			font-size: 14px;
			font-weight: 600;
			opacity: 1;
			line-height: 1.4;
			margin-bottom: 18px;
		}
	}
	&__social {
		margin-top: 66px;
		a {
			display: block;
			margin-bottom: 0;
			padding: 6px;
			&:first-child {
				padding-left: 0;
			}
		}
	}
	&__bottom {
		text-align: center;
		max-width: 800px;
		margin: 30px auto 0;
		p {
			font-size: 13px;
		}
	}
}
.page-nav {
	padding-top: 13px;
	padding-bottom: 13px;
	border-bottom: 1px solid #eee;
	.flex {
		justify-content: flex-start;
	}
	a {
		font-size: 14px;
		color: #B7BFC9;
		font-weight: 700;
		&::after {
			content: '/';
			margin: 0 10px;
		}
		&:first-child::after {
			content: ':';
			margin-left: 3px;
		}
		&:last-child {
			font-weight: 400;
			&::after {
				display: none;
			}
		}
	}
}
.c-select {
	position: relative;
	z-index: 10;
	button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #EEEEEB;
		background: #F7F7F7;
		font-size: 16px;
		letter-spacing: 0.44px;
		padding: 14px 22px;
		cursor: pointer;
		border-radius: 24px;
		min-width: 250px;
		transition: .3s;
		&:focus {
			border-color: #00B0AF;
			background: #fff;
			&+ul {
				opacity: 1;
				visibility: visible;
				transition: opacity .3s;
			}
		}
		svg {
			width: 10px;
			margin-left: 15px;
		}
	}
	ul {
		border-radius: 8px;
		background: #fff;
		border: 1px solid #EEEEEB;
		box-shadow: 0 4px 12px 0 rgba(80,77,77,.1);
		overflow: hidden;
		min-width: 290px;
		position: absolute;
		bottom: -5px;
		left: 0;
		transform: translate3d(0, 100%, 0px);
		opacity: 0;
		transition: .3s;
		visibility: hidden;
		max-height: 365px;
		overflow-y: auto;
	}
	li {
		font-size: 16px;
		line-height: 24px;
		padding: 11px 12px 13px;
		color: #000;
		cursor: pointer;
		transition: .3s;
		&.active {
			background: #00B0AF;
			color: #fff;
			transition: .3s;
		}
	}
}
.error-message {
	background: rgba(229,72,66,.2);
	border-radius: 8px;
	padding: 20px;
	color: #E54842;
	font-size: 16px;
	letter-spacing: .44px;
	line-height: 1.2;
}
.appels {
	padding-bottom: 55px;
	padding-top: 30px;
	min-height: 340px;
	svg {
		width: 20px;
	}
	&__top {
		margin-bottom: 32px;
		a {
			font-size: 18px;
			font-weight: 600;
			color: $a;
			svg {
				margin-right: 8px;
			}
		}
	}
	&__grid {
		>div {
			display: flex;
			flex-direction: column;
		}
		h4 {
			margin-bottom: 20px;
		}
		span.flex {
			justify-content: flex-start;
			font-size: 16px;
			color: #B7BFC9;
			font-weight: 600;
			svg {
				margin-right: 8px;
			}
			&:last-of-type {
				margin-bottom: 24px;
			}
		}
		.btn {
			margin-top: auto;
		}
	}
}
.grid.boxes {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px;
	>div {
		padding: 20px;
		border-radius: 8px;
	}
	&.col2 {
		grid-template-columns: repeat(2, 1fr);
	}
}
.rapports {
	&__grid.boxes {
		img {
			width: calc(100% + 40px);
			position: relative;
			left: -20px;
			border-radius: 8px 8px 0 0;
			margin-bottom: 24px;
		}
		>div {
			padding-top: 0;
			padding-bottom: 24px;
		}
		h4 {
			margin-bottom: 16px;
		}
	}
}
.partners {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 55px;
	.grid {
		>div {
			padding: 24px 20px;
		}
	}
	img {
		width: auto;
		height: 74px;
		margin: 0 auto 16px;
	}
}

@import "media";
