@font-face { 
   font-family: 'Playfair';  
   font-weight: 400;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('PlayfairDisplay-Regular'),       
       url('/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('/fonts/PlayfairDisplay-Regular.woff') format('woff'),
       url('/fonts/PlayfairDisplay-Regular.ttf') format('ttf'),
       url('/fonts/PlayfairDisplay-Regular.eot') format('eot');
   font-display: swap;
}
@font-face { 
   font-family: 'Playfair';  
   font-weight: 400;  
   font-style: italic;
   unicode-range: U+000-5FF;
   src: local('PlayfairDisplay-Italic'),       
       url('/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
       url('/fonts/PlayfairDisplay-Italic.woff') format('woff'),
       url('/fonts/PlayfairDisplay-Italic.ttf') format('ttf'),
       url('/fonts/PlayfairDisplay-Italic.eot') format('eot');
   font-display: swap;
}
@font-face { 
   font-family: 'Heebo';  
   font-weight: 400;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('Heebo-Regular'),       
       url('/fonts/Heebo-Regular.woff2') format('woff2'),
       url('/fonts/Heebo-Regular.woff') format('woff'),
       url('/fonts/Heebo-Regular.ttf') format('ttf'),
       url('/fonts/Heebo-Regular.eot') format('eot');
   font-display: swap;
}
@font-face { 
   font-family: 'Heebo';  
   font-weight: 300;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('Heebo-Light'),       
       url('/fonts/Heebo-Light.woff2') format('woff2'),
       url('/fonts/Heebo-Light.woff') format('woff'),
       url('/fonts/Heebo-Light.ttf') format('ttf'),
       url('/fonts/Heebo-Light.eot') format('eot');
   font-display: swap;
}
@font-face { 
   font-family: 'Heebo';  
   font-weight: 500;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('Heebo-Medium'),       
       url('/fonts/Heebo-Medium.woff2') format('woff2'),
       url('/fonts/Heebo-Medium.woff') format('woff'),
       url('/fonts/Heebo-Medium.ttf') format('ttf'),
       url('/fonts/Heebo-Medium.eot') format('eot');
   font-display: swap;
}

$blue: #BADFD6;
$pink: #F3C9BB;
$text: rgba(51, 51, 51, 0.9);
$title: #333;


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: $text;
}
li {
	list-style: none;
}
.mob-only {
	display: none;
}
.btn {
	display: inline-block;
	font-size: 19px;
	padding: 19px 35px 21px;
	border-radius: 35px;
	border: 2px solid $blue;
	line-height: 1;
}
body {
	font-size: 19px;
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	background: #FFFEFB;
	overflow-x: hidden;
	font-family: Playfair;
	color: $text;
}
.container {
	width: 100%;
	max-width: 1045px;
	margin: 0 auto;
}
.header {
	padding: 31px 24px;
	&__hamb {
		display: none;
	}
	&__container {
		max-width: 1360px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.flex {
		display: flex;
		align-items: center;
		p {
			font-family: 'Heebo';
			font-size: 12px;
			line-height: 1;
			margin-left: 25px;
		}
	}
	&__nav {
		> a {
			font-size: 17px;
			display: inline-flex;
			align-items: flex-end;
			margin-left: 16px;
			position: relative;
			padding-top: 30px;
			padding-bottom: 30px;
			overflow: hidden;
			
			&::before, &::after {
				content: '';
				position: absolute;
				height: 7px;
				width: 100%;
				background: $blue;
				bottom: 0;
				left: 0;
				transform: translateX(100%);
				transition: .3s ease;
			}
			&::before {
				transform: translateX(-100%);
				transition: 0s;
			}
			&:hover {
				&::before {
					transform: translateX(0%);
					transition: .3s ease;
				}
				&::after {
					transform: translateX(0%);
					transition: 0s .3s;
				}
			}
			> span {
				width: 14px;
				height: 2px;
				background: $blue;
				display: inline-block;
				position: relative;
				bottom: 5px;
				margin-left: 4px;
			}
		}
	}
}
.banner {
	margin-top: 104px;
	text-align: center;
	margin-bottom: 80px;
	&__title {
		font-size: 129px;
		color: $title;
		font-weight: 400;
		line-height: .87;
		display: inline-block;
		position: relative;
		&::after {
			content: 'Winston Churchill';
			font-size: 18px;
			position: absolute;
			right: 65px;
			bottom: -70px;
			color: $text;
		}
	}
	&__slider {
		width: 100%;
		max-width: 745px;
		margin: -105px auto 0;
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
	&__arrow {
		display: block;
		margin: 47px auto 50px;
	}
	span {
		font-size: 45px;
	}
	p {
		font-size: 16px;
		margin-top: 8px;
	}
}
.text-block {
	padding: 0 60px;
	margin-bottom: 116px;
	.container {
		display: flex;
		flex-direction: column;
		max-width: 1080px;
	}
	&__title {
		display: flex;
		align-items: flex-end;
		margin-bottom: 72px;
		justify-content: space-between;
		h2 {
			font-size: 82px;
			font-weight: 400;
			position: relative;
			display: inline;
			line-height: .86;
			color: $blue;
			&::after {
				content: '';
				position: absolute;
				width: 51px;
				height: 2px;
				bottom: 0;
				right: -60px;
				background: $blue;
			}
		}
		p {
			width: 100%;
			max-width: 763px;
			font-size: 16px;
			line-height: 1.22;
			margin-bottom: -2px;
		}
	}
	&__content {
		width: 100%;
		max-width: 763px;
		align-self: flex-end;
		i {
			display: block;
			font-size: 20px;
			margin-bottom: 44px;
		}
		ul {
			margin-bottom: 48px;
			max-width: 700px;
		}
		li {
			color: rgba(51, 51, 51, 0.7);
			position: relative;
			padding-left: 36px;
			margin-bottom: 11px;
			line-height: 1.24;
			&::before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 15px;
				top: 7px;
				width: 13px;
				height: 12px;
				background: url('../img/heart-b.svg') no-repeat center center/ contain;
			}
		}
		.btn {
			margin-left: 36px;
		}
	}
	&__gaps {
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 92px;
			height: 92px;
			position: absolute;
			left: 3px;
			bottom: -166px;
			background: url('../img/gap.png') no-repeat center center/ contain;
		}
	}
	&__specialize {
		&::after {
			display: none;
		}
		span {
			position: relative;
			display: inline-block;
			&::after {
				content: '';
				position: absolute;
				width: 51px;
				height: 2px;
				bottom: 0;
				right: -60px;
				background: $pink;
			}
		}
	}
	&.pink {
		h2 {
			color: $pink;
			&::after {
				background: $pink;
			}
		}
		.btn {
			border-color: $pink;
		}
		li::before {
			background: url('../img/heart-p.svg') no-repeat center center/ contain;
		}
	}
}
.insurance {
	margin-top: -15px;
	margin-bottom: 160px;
	.container {
		max-width: 1080px;
	}
	&__line {
		font-size: 20px;
		position: relative;
		margin-bottom: 238px;
		&::after {
			content: '';
			max-width: 413px;
			width: 100%;
			display: inline-block;
			height: 1px;
			background: rgba(51, 51, 51, 0.3);
			margin-left: 18px;
		}
	}
	&__flex {
		display: flex;
		padding-left: 44px;
		align-items: flex-start;
		position: relative;
		
		img {
			position: relative;
			z-index: 1;
			width: 50%;
			transform-origin: 0 100%;
			transform: scale(1.14);
		}
	}
	&__content {
		margin-top: -30px;
		width: 50%;
		position: relative;
		z-index: 2;
		background: #fff;
		padding: 58px 0 70px 65px;
		h3 {
			font-size: 69px;
			line-height: .86;
			font-weight: 400;
			position: relative;
			color: #333;
			padding-bottom: 70px;
			margin-bottom: 18px;
			&::after {
				content: '';
				position: absolute;
				left: -11%;
				bottom: 0;
				width: 100%;
				height: 99px;
				background: url('../img/signature.svg') no-repeat center center/ contain;
			}
		}
		p {
			line-height: 1.2;
			font-size: 33px;
			margin-bottom: 50px;
		}
		.btn {
			border-color: $pink;
			padding-left: 15px;
			padding-right: 15px;
			br {
				display: none;
			}
		}
	}
	&__quote {
		font-size: 98px;
		line-height: 0.86;
		color: #333;
		display: block;
		text-align: center;
		position: relative;
		padding-top: 215px;
		&::before {
			content: '';
			width: 2px;
			height: 199px;
			background: $pink;
			display: block;
			position: absolute;
			top: -70px;
			left: 50%;
			z-index: 3;
		}
		span {
			display: block;
			font-size: 18px;
			color: $text;
			margin-top: 52px;
		}
	}
}
.contact {
	padding-bottom: 134px;
	&__text {
		text-align: center;
		font-size: 52px;
		line-height: 1.14;
		margin-bottom: 44px;
		a {
			color: $blue;
			position: relative;
			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 1px;
				background: $blue;
				left: 0;
				bottom: 7px;
			}
		}
		&-sm {
			text-align: center;
			font-size: 21px;
			margin-bottom: 61px;
			span {
				font-size: 18px;
			}
		}
	}
	&__form {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		input, textarea, button {
			-webkit-appearance: none;
			background-color: transparent;
			border: 2px solid $blue;
			font-family: 'Playfair';
			font-size: 25px;
			color: $text;
			line-height: 1.19;
			&::placeholder {
				opacity: 1;
				color: $text;
			}
			&:focus {
				outline: none;
			}
		}
		input,textarea {
			width: 100%;
			resize: none;
			padding: 21px 30px 23px;
			margin-bottom: 19px;
		}
		textarea {
			height: 333px;
		}
		.half {
			width: calc(50% - 10px);
		}
		.btn {
			padding: 21px 81px 25px;
			border-radius: 50px;
			cursor: pointer;
		}
	}
}
.footer {
	padding: 40px 20px 30px;
	.container {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		max-width:1370px;
		position: relative;
	}
	&__line {
		&::before {
			display: inline-block;
			background: #000;
			content: '';
			width: 66px;
			height: 1px;
			margin: 0 9px 0 6px;
		}
	}
	p:first-child {
		font-size: 16px;
	}
	p:nth-child(2) {
		font-size: 20px;
		a {
			font-size: 25px;
			color: #76AB9E;
			margin-left: 6px;
			&::before {
				content: '';
				margin-right: 12px;
				width: 1px;
				height: 21px;
				vertical-align: middle;
				display: inline-block;
				background: rgba(51, 51, 51, 0.9);
			}
		}
	}
	.special {
		position: absolute;
		top: -50px;
		right: 0;
		font-size: 16px;
		&::before {
			content: '';
			display: inline-block;
			width: 100px;
			height: 1px;
			background-color: rgba(51, 51, 51, 0.3);
			position: relative;
			bottom: 4px;
			left: -15px;
		}
	}
}




b {
	font-weight: 400;
}
.menu_container {
	transform-origin: 0% 0%;
	transition: .8s cubic-bezier(0.25, 1, 0.5, 1);
	height: 0;
	opacity: 0;
	transform: scaleY(0);
	visibility: hidden;
}

body {
	// overflow: hidden;
}
.header {
	&__hamb {
		display: flex;
		visibility: hidden;
		opacity: 0;
		position: fixed;
		z-index: 11;
		top: 42px;
		right: 24px;
		cursor: pointer;
		margin-right: 7px;
		transition: .5s;
		height: 87px;
		width: 87px;
		justify-content: center;
		align-items: center;
		font-size: 17px;
		color: rgba(51, 51, 51, 0.7);
		border: 1px solid rgba(51, 51, 51, 0.7);
		border-radius: 50%;
		&.active {
			color: #fff;
			opacity: 1;
			visibility: visible;
			border-color: #fff;
			transition: .5s;
		}
	}
	&__overlay {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: #7FA39A;
		z-index: 10;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		transition: .6s .3s cubic-bezier(0.25, 1, 0.5, 1);

		&.visible {
			visibility: visible;
			opacity: 1;
			transition: .5s cubic-bezier(0.25, 1, 0.5, 1);
			.container {
				>a {
					transform: translate3d(0,-0,0);
					opacity: 1;
					transition: .8s .3s cubic-bezier(0.25, 1, 0.5, 1);
					&:nth-of-type(1) {
						transition-delay: .35s;
					}
					&:nth-of-type(2) {
						transition-delay: .4s;
					}
					&:nth-of-type(3) {
						transition-delay: .45s;
					}
					&:nth-of-type(4) {
						transition-delay: .5s;
					}
					&:nth-of-type(5) {
						transition-delay: .55s;
					}
					&:nth-of-type(6) {
						transition-delay: .6s;
					}
				}
				>div:last-child {
					transform: translate3d(0,0,0);
					opacity: 1;
					transition: .8s .65s cubic-bezier(0.25, 1, 0.5, 1);
				}
			}
		}
		&-wrap {
			width: 100%;
			min-height: 100vh;
			height: auto;
			display: flex;
			align-items: center;
		}
		.container {
			max-width: 800px;
			padding: 70px 43px;
			> a {
				transform: translate3d(0,50px,0);
				opacity: 0;
				transition: .3s cubic-bezier(0.33, 1, 0.68, 1);
				&:nth-of-type(6) {
					transition-delay: 0;
				}
				&:nth-of-type(5) {
					transition-delay: .05s;
				}
				&:nth-of-type(4) {
					transition-delay: .1s;
				}
				&:nth-of-type(3) {
					transition-delay: .15s;
				}
				&:nth-of-type(2) {
					transition-delay: .2s;
				}
				&:nth-of-type(1) {
					transition-delay: .25s;
				}
			}
			>div:last-child {
				transform: translate3d(0,50px,0);
				opacity: 0;
				transition: .3s cubic-bezier(0.33, 1, 0.68, 1);
			}
		}
		.to-homepage {
			display: block;
			font-size: 25px;
			// font-size: 15px;
			line-height: 135.8%;
			color: #FFFEFB;
			width: 100%;
		}
		a {
			padding-top: 0;
			padding-bottom: 5px;
			margin-left: 0;
			font-size: 52px;
			// font-size: 25px;
			line-height: 135.8%;
			color: #FFFEFB;
			display: block;
			span {
				display: none;
			}
		}
		a::before, a::after {
			display: none;
		}
		.menu_wrapper {
			display: block;
			a {
				color: #f3c9bb;
				padding-left: 25px;
				padding-bottom: 0;
				font-size: 33px;
				// font-size: 19px;
			}
		}
		.social_wrapper {
			overflow: hidden;
			width: 100%;
			display: flex;
			margin-top: 50px;
			a {
				font-size: 12px;
				position: relative;
				margin-left: 8px;
			}
			a:first-child {
				margin-left: 0;
			}
			a:last-child::after {
				content: '';
			    display: inline-block;
			    width: 260%;
			    height: 1px;
			    background-color: #f3c9bb;
			    position: absolute;
			    left: 110%;
			    bottom: 7px;
			}
			a:hover {
				color: #f3c9bb;
			}
		}
	}
}

.general {
	padding-top:105px;
	position: relative;
	> h2 {
		max-width: 1180px;
		display: block;
		margin: 100px auto 75px;
		font-family: Playfair;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 85.8%;
		color: #BADFD6;
	}
	&__img {
		width: 42.5%;
		display: block;
		height: auto;
		transform: translateX(50px);
	}
	&_container {
		display: flex;
		max-width: 1160px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: flex-start;
		&-content {
			z-index: 1;
			position: relative;
			width: 57.1%;
			margin-top: 350px;
			background-color: #fff;
			padding: 56px 0px 0px 45px;
			h1 {
				display: inline-block;
				font-family: Playfair;
				font-style: normal;
				font-weight: normal;
				font-size: 75px;
				line-height: 85.8%;
				color: #BADFD6;
				position: relative;
			}
			h1::after {
				content: '';
				display: block;
				position: absolute;
				width: 57px;
				bottom: 0px;
				right: -63px;
				height: 2px;
				background-color: #BADFD6;
			}
			.italic {
				display: block;
				margin: 25px 0px 50px;
				font-family: Playfair;
				font-style: italic;
				font-weight: normal;
				font-size: 20px;
				line-height: 85.8%;
				color: rgba(51, 51, 51, 0.9);
			}
			> span {
				padding-left: 5px;
				margin-bottom: 25px;
				display: block;
				font-family: Playfair;
				font-style: normal;
				font-weight: normal;
				font-size: 23px;
				line-height: 85.8%;
				color: #76AB9E;
			}
			ul {
				padding-left: 15px;
				li {
					font-family: Playfair;
					font-style: normal;
					font-weight: normal;
					font-size: 19px;
					line-height: 124.3%;
					color: rgba(51, 51, 51, 0.7);
					position: relative;
					padding-left: 20px;
					margin-bottom: 15px;
					&::before {
						content: '';
						left: 0;
						top: 5px;
						display: inline-block;
						position: absolute;
						width: 12px;
						height: 12px;
						background: url('../../img/heart-b.svg') center center/contain no-repeat;
					}
				}
			}
		}
	}
	&_social {
		position: fixed;
		left: -108px;
		bottom: 210px;
		transform: rotate(-90deg);
		a {
			font-family: Playfair;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 119.3%;
			color: rgba(51, 51, 51, 0.9);
		}
		a:first-child:after {
			content: '';
			display: inline-block;
			margin: 0px 10px;
			width: 120px;
			height: 1px;
			background-color: #BADFD6;
			transform: translateY(-4px);
		}
	}
	.second_container {
		max-width: 1100px;
		padding: 0px 20px;
		.second {
			width: 53%;
			background: url('../../img/book.jpg') center center/contain no-repeat;	
			transform: none;
		}
		.second-content {
			width: 47%;
			margin-top: 70px;
			transform:translateX(-20px);
			margin-bottom: 140px;
			padding-left: 0;
			.contact__wrapper {
				&-info {
					padding-left: 40px;
				}
			}
		}
	}
}

.general-contact {
	.general_container  {
		max-width: 1360px;
		&-img {
			transform: none;
			padding: 48% 0 0 ;
			width: 56%;
			background: url('../img/nadia.jpg') no-repeat center center/ contain;
		}
		&-content {
			background-color:transparent;
			img {
				transform: translateX(-100px);
				display: block;
			}
		}
	}
	.general_social {
		right: -80px;
		left: auto;
		bottom: 250px;
	}
}
.general-boutique {
	.general_container {
		margin-top: 130px;
		max-width: 1045px;
		flex-flow: wrap;
		display: block;
		h1 {
			width: 100%;
			font-family: Playfair;
			font-style: normal;
			font-weight: normal;
			font-size: 55px;
			line-height: 85.8%;
			color: rgba(51, 51, 51, 0.9);
			> span {
				color: #BADFD6;
			}
		}
		&-img {
			width: 100%;
			background: none;
			transform: none;
			margin-top: 50px;
			img {
				display: block;
			}
		}
		&-content {
			transform: translate3d(35px,-50px,0);
			background-color: #fff;
			margin-top: 0;
			padding:40px 0 0 40px;
			width: 80%;
			p, span {
				font-family: Heebo;
				font-style: normal;
				font-weight: 300;
				font-size: 21px;
				line-height: 144.3%;
				color: #000000;
			}
			p {
				margin-bottom: 25px;
			}
			span {
				margin: 0;
				color:#76AB9E;
			}
			.underlined {
				color: #000;
				text-decoration: underline;
			}
		}
	}
}
.title {
	margin: 100px 0px;
	&-container {
		max-width: 1045px;
		display: block;
		margin: 0 auto;
		p {
			position: relative;
			font-family: Playfair;
			font-style: normal;
			font-weight: normal;
			font-size: 34px;
			line-height: 115.8%;
			color: rgba(51, 51, 51, 0.9);
			margin-bottom: 10px;
		}
		p:last-child::after {
			content: '';
			display: block;
			position: relative;
			background: url('../img/simple-nadia.png') no-repeat center center/ contain;
			width: 20%;
			margin-top: 15px;
			height: 41px;
		}
	}
}

.quiest {
	padding-top: 0;
	.general_container {
		max-width: 1165px;
		margin: 100px auto;
		justify-content: flex-start;
		&-img {
			width: 42%;
			transform: none;
			background: url('../../img/pic_nadia.jpg') center center/contain no-repeat;
		}
		&-content {
			width: 57%;
			margin-top: 290px;
			transform:translate3d(20px,-100px,0px);
			p {
				font-family: Playfair;
				font-style: normal;
				font-weight: normal;
				font-size: 60px;
				line-height: 115.8%;
				color: rgba(51, 51, 51, 0.9);
				position: relative;
			}
			p::before {
				content: '';
				display: inline-block;
				width: 100%;
				height: 80px;
				background: url('../../img/title.png') left center/contain no-repeat;
			}
		}
	}
}
.qui-est_dropdown {
	max-width: 1150px;
	margin: 150px auto 50px;
	h2 {
		font-family: Playfair;
		display: inline-block;
		margin: 100px 0px 80px;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 85.8%;
		color: #BADFD6;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 51px;
			height: 2px;
			bottom: 0;
			right: -60px;
			background: $blue;
		}
	}
	p {
		color: rgba(51, 51, 51, 0.9);
		padding-left: 60px;
		font-family: Heebo;
		font-style: normal;
		font-weight: 300;
		font-size: 19px;
		line-height: 160.8%;
		margin-bottom: 15px;
	}
	.dropdown {
		margin: 0;
		p {
			padding-left: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
		ul {
			li {
				margin-bottom: 10px;
				padding-left: 20px;
			}
			li:last-child{
				margin-bottom: 0;
			}
		}
		.mb15 {
			margin-top: 20px;
			margin-bottom: 15px;
			display: block;
		}
		&__wrapper {
			max-width: none;
			margin-left: 40px;
		}
	}
}

.qui {
	padding-top: 0;
	margin-bottom: 80px;
	.second-content {
		padding-top: 25px;
		padding-bottom: 25px;
		.contact__wrapper {
			&-info {
				margin-bottom: 20px;
			}
			&-info:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.dropdown {
	margin: 200px 0px 60px 0px;
	&__wrapper {
		max-width: 1045px;
		margin: 0 auto;
		border: 1px solid #BADFD6;
		border-left: none;
		&-item {
			padding: 20px 30px;
			position: relative;
			margin-bottom: 0;
			border-bottom: 1px solid #BADFD6;
			font-family: Heebo;
			color: rgba(51, 51, 51, 0.8);
			&:last-child {
				border: none;
			}
			div.active {
				padding-top: 25px;
				padding-bottom: 25px;
			}
			h3 {
				cursor: pointer;
				font-family: Playfair;
				font-weight: 400;
				font-style: normal;
				font-weight: normal;
				font-size: 25px;
				line-height: 119.3%;
				position: relative;
				color: rgba(51, 51, 51, 0.9);
			}
			.plus {
				pointer-events: none;
				width: 39px;
				height: 39px;
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				transition: 1s;
				display: flex;
				justify-content: center;
				align-items: center;
				&::after, &::before {
					content: '';
					position: absolute;
					display: block;
					transition: .4s;
					background: rgba(51, 51, 51, 0.9);
					height: 100%;
					width: 1px;
				}
				&::after {
					transition-delay: .5s;
					height: 1px;
					width: 100%;
				}
				&.rotate {
					transform: rotate(450deg) translateX(-50%);
					transition: 1s;
					&::after {
						opacity: 0;
						transition-delay: .5s;
						transition: .5s;
					}
				}
			}
			ul {
				padding-left: 16.5px;
			}
			p,li {
				font-style: normal;
				font-weight: 300;
				font-size: 19px;
				line-height: 140.8%;
			}
			p {
				ul {
					margin-bottom: 0;
				}
			}
			p,h4,ul {
				margin-bottom: 45px;
			}
			.no-margin {
				margin-bottom: 10px;
				margin-top: 10px;
			}
			li {
				margin-bottom: 7px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			h4 {
				font-size: 22px;
				text-transform: uppercase;
				color: #76AB9E;
				font-weight: normal;
				margin-bottom: 25px;
			}
			b {
				font-weight: 500;
			}
			.margin {
				display: block;
				margin-bottom: 10px;
			}
			a {
				text-decoration: underline;
			}
			.no-decor {
				text-decoration: none;
			}
			span {
				display: block;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				line-height: 117.8%;
				margin-top: 50px;
			}			
		}
		&-item:last-child {
			padding-bottom: 31px;
		}
	}
}
.dropdown-boutique {
	margin-top: 60px;
	h2 {
		font-family: Playfair;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		line-height: 85.8%;
		max-width: 1045px;
		display: block;
		margin: 0 auto 50px;
		color: rgba(51, 51, 51, 0.9);
	}
}
.images {
	width: 100%;
	max-width: 930px;
	margin: 120px auto 0;
	position: relative;
	padding: 180px 30px 0;
	img {
		display: block;
		height: auto;
	}
	img:first-child {
		width: 65%;
	}
	img:nth-child(2) {
		width: 37%;
		position: absolute;
		right: 70px;
		top: 0;
	}
}
.services-quote {
	padding-top: 0;
	margin-bottom: 130px;
	p {
		padding-top: 160px;
		&::before {
			display: block;
			top: -128px;
		}
	}
}
.contact {
	h2 {
		font-family: Playfair;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		line-height: 119.3%;
		text-align: center;
		margin-bottom: 50px;
		color: rgba(51, 51, 51, 0.9);
	}
	&__wrapper {
		max-width: 1158px;
		margin: 0 auto;
		h3 {
			margin-top: 25px;
			margin-bottom: 50px;
			font-size: 50px;
			line-height: 85.8%;
			color: rgba(51, 51, 51, 0.9);
			font-style: normal;
			font-weight: normal;
		}
		&-info {
			padding-left: 80px;
			margin-bottom: 50px;
			h4 {
				margin-bottom: 20px;
				font-size: 19px;
				line-height: 140.8%;
				color: rgba(51, 51, 51, 0.7);
				font-weight: normal;
			}
			h5 {
				font-size: 23px;
				margin-bottom: 20px;
				line-height: 140.8%;
				color: rgba(51, 51, 51, 0.7);
				font-weight: normal;
			}
			p, a {
				color: rgba(51, 51, 51, 0.7);
				font-size: 16px;
				line-height: 140.8%;
				font-family: Heebo;
				font-style: normal;
				font-weight: normal;
			}
			a {
				text-decoration-line: underline;
				color: #76AB9E;
			}
			.zoom {
				color: rgba(51, 51, 51, 0.7);
			}
		}
		&-info:first-child {

		}
	}
}
.contact_modified {
	padding-top: 0;
	.contact__wrapper {
		display: flex;
		&-info:first-child {
			width: 40%;
		}
		&-info:last-child {
			width: 50%;
			p {
				font-family: Playfair;
				font-style: normal;
				font-weight: normal;
				font-size: 21px;
				line-height: 140.8%;
				color: rgba(51, 51, 51, 0.9);
			}
		}
	}
}
.mob {
	display: none;
}


@media (min-width: 1600px) {
	.general {
		&_container {
			&-img {
				transform: translateX(20%);
			}
		}
	}
}
@media (max-width: 1365px) {
	.header {
		padding: 42px 24px;
		&__container {
			align-items: center;
		}
		&__logo {
			max-width: 305px;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
		.flex {
			flex-direction: column;
			align-items: flex-start;
			p {
				margin:20px 0 0 5px;
				font-size: 10px;
			}
		}
		&__nav {
			display: none;
		}
		&__hamb {
			visibility: visible;
			opacity: 1;
		}
	}

	.quiest {
		padding: 0px 60px 25px;
		margin-top: -60px;
		.general_container {
			margin-bottom: 0;
			&-img {
				width: 56%;
			}
			&-content {
				margin: 20px 0 0 85px;
				padding-top: 20px;
				width: 90%;
				p {
					font-size: 50px;
					&::before {
						height: 60px;	
					}
				}
			}
		}
	}

	.qui-est_dropdown {
		padding-left: 65px;
		padding-right: 80px;
		margin-top: -40px;
		h2 {
			font-size: 38px;
			line-height: 85.8%;
			margin-top: 0;
			margin-bottom: 30px;
		}
		h2:last-of-type {
			margin: 30px 0px 45px;
		}
		p {
			padding-left: 0;
		}
		.dropdown {
			padding: 0;
			&__wrapper {
				margin-left: 0px;
			}
		}
	}

	.qui {
		margin-bottom: -170px;
		h2 {
			display: none;
		}
		.second_container {
			padding: 0;
			.second {
				width: 100%;
			}
			.second-content {
				width: 85%;
				margin-top: 0;
				transform: translate3d(10px, -35px, 0px);
				padding: 40px 45px;
				.mob-only {
					display: inline-block;
					transform: translateX(-15px);
					font-family: Playfair;
					margin-bottom: 50px;
					font-style: normal;
					font-weight: normal;
					font-size: 38px;
					line-height: 85.8%;
					color: #BADFD6;
					position: relative;
					&::after {
						content: '';
						position: absolute;
						width: 51px;
						height: 2px;
						bottom: 0;
						right: -60px;
						background: $blue;
					}
				}
				.contact__wrapper {
					&-info {
						padding-right: 10px;
						padding-left: 0;
					}
				}
			}
		}
	}

	.banner {
		margin-top: 33px;
		&__title {
			font-size: 81px;
			&::after {
				font-size: 16px;
				bottom: -40px;
				right: 23px;
			}
		}
		&__slider {
			margin-top: -75px;
			max-width: 531px;
		}
		&__arrow {
			width: 30px;
			height: 76px;
			margin-top: 66px;
			margin-bottom: 27px;
		}
		span {
			font-size: 38px;
			display: block;
			margin-bottom: -2px;
		}
		p {
			font-size: 15px;
			display: inline-block;
			margin-top: 0;
		}

	}
	.btn {
		font-size: 17px;
		padding: 15px 27px 17px;
	}
	.text-block {
		margin-bottom: 80px;
		&__title {
			margin-bottom: 64px;
			h2 {
				font-size: 65px;
				&::after {
					width: 30px;
					right: -40px;
				}
			}
		}
		&__gaps {
			margin-right: 60px;
			&::before {
				display: none;
			}
		}
		&__content {
			// max-width: 800px;
			max-width: 545px;
			i {
				font-size: 18px;
				margin-bottom: 32px;
			}
			.btn {
				margin-left: 18px;
			}
			ul {
				margin-bottom: 42px;
			}
			li {
				font-size: 17px;
				&::before {
					width: 11px;
					height: 10px;
					left: 18px;
					top: 6px;
				}
			}
		}
	}
	.insurance {
		padding-top: 32px;
		margin-bottom: 25px;
		&__line {
			padding-left: 60px;
			font-size: 18px;
			margin-bottom: 192px;
			&::after {
				width: 102px;
				margin-left: 8px;
			}
		}
		&__flex {
			padding: 0 0 0 52px;
			img {
				width: 46%;
				transform: scale(1.19);
			}
		}
		&__content {
			width: 54%;
			margin-top: -33px;
			padding: 37px 0px 40px 36px;
			h3 {
				font-size: 49px;
				padding-bottom: 49px;
				margin-bottom: 28px;
				&::after {
					height: 67px;
					width: 250px;
					left: 0px;
				}
			}
			p {
				font-size: 24px;
				margin-bottom: 28px;
			}
			.btn {
				text-align: center;
				padding: 10px 22px 13px;
				padding-bottom: 13px;
				br {
					display: block;
				}
			}
		}
		&__quote {
			font-size: 63px;
			line-height: 100%;
			letter-spacing: 0;
			padding-top: 158px;
			&::before {
				height: 161px;
				top: -40px;
			}
			span {
				font-size: 16px;
				margin-top: 10px;
			}
		}
	}

	.contact {
		padding: 0 60px 134px;
		&__wrapper {
			h3 {
				font-size: 37px;
			}
			&-info {
				padding-left: 75px;
				padding-right: 75px;
				margin-bottom: 40px;
				p {
					font-size: 16px;
				}
			}
			&-info:nth-child(3) {
				margin-bottom: 50px;
				h5 {
					font-size: 23px;
				}
			}
		}
		&__text {
			font-size: 37px;
			br {
				display: none;
			}
			.mob {
				display: block;
			}
			&-sm {
				font-size: 19px;
				span {
					font-size: 16px;
				}
			}
		}
		&__form {
			.half {
				width: 49.1%;
			}
			input, textarea {
				font-size: 19px;
				padding: 16px 22px;
				margin-bottom: 13px;
			}
			textarea {
				height: 240px;
			}
			.btn {
				font-size: 22px;
				padding: 12px 30px 16px;
			}
		}
	}

	.general {
		padding: 35px 60px 25px;
		&_container {
			max-width: 1000px;
			display: block;
			&-content {
				margin: -40px auto 0;
				width:  calc(100% - 110px);
				padding: 30px 0px 0px 45px;
				h1 {
					font-size: 58px;
					&::after {
						width: 30px;
						right: -35px;
					}
				}
				span {
					display: none;
				}
				.italic {
					display: block;
					font-size: 18px;
					margin: 50px 0px 35px;
				}
				ul {
					padding-left: 22px;
					li {
						padding-left: 17px;
						font-size: 17px;
						&::before {
							width: 11px;
						}
					}
				}
			}
		}
		&_social {
			display: none;
		}
		&__img {
			width: 46%;
			transform: none;
		}
	}

	.dropdown {
		padding: 0px 60px;
		margin-top: 50px;
		&__wrapper {
			&-item {
				padding: 20px 17px 17px 38px;
				div {
					padding: 0px 40px 0px 0;
				}
				h3 {
					width: 100%;
					font-size: 23px;
					padding-right: 50px;
				}
				.plus {
					width: 27px;
					height: 27px;
					right: 0;
				}
			}
		}
	}
	
	.images {
		margin-top: 70px;
		padding: 125px 100px 0;
		img:nth-child(1) {
			width: 71%;
		}
		img:nth-child(2) {
			right: 115px;
			width: 32%;	
		}
	}

	.services-quote {
		margin-bottom: 80px;
		.container {
			.insurance__quote {
				padding-top: 200px;
				font-size: 63px;
				line-height: 85.8%;
				&::before {
					top: -49px;
					height: 199px;
				}
				span {
					margin-top: 22px;
				}
			}
		}
	}	

}
@media (max-width: 1023px) {
	.footer {
		padding: 22px 60px;
		.container {
			display: flex;
			flex-direction: column;
		}
		&__line::before {
			width: 26px;
		}
		p {
			width: 100%;
			text-align: center;
			&:first-child {
				margin-top: 50px;
				order: 3;
				display: flex;
				justify-content: space-between;
				font-size: 14px;
				span {
					font-size: 15px;
				}
			}
			&:nth-child(2) {
				order: 1;
				a {
					display: block;
					margin-left: 0;
					&::before {
						display: none;
					}
				}
				
			}
			&:last-child {
				position: relative;
				top: 0;
				left: 0;
				order: 2;
				font-size: 17px;
				&::before {
					width: 38px;
					display: block;
					margin: 12px auto 15px;
					left: 0;
					bottom: 0;
					background: rgba(51, 51, 51, 0.9);
				}
			}
		}
	}
	.contact {
		padding-top: 0px;
		padding-bottom: 16px;
	}
}
@media (max-width: 767px) {
	.general {
		padding: 15px 35px 0;
		&_container {
			display: block;
			&-content {
				padding: 15px 0px;
				width: 100%;
				margin: 0;
				transform: none;
				h1 {
					font-size: 35px;
					line-height: 85.8%;
					display: inline-block;
					&::after {
					    bottom: -1px;
					    height: 2px;
					    width: 20px;
					    right: -30px;
					}
				}
				span {
					display: none;
				}
				.italic {
					display: block;
					font-size: 16px;
					line-height: 85.8%;
					margin: 25px 0px;
					padding-left: 15px;

				}
				ul {
					padding-left: 28px;
					li {
						font-size: 15px;
						line-height: 124.3%;		
						&::before {
							top: 3px;
						}
					}
				}
			}
		}
		&__img {
			width: 100%;
			max-width:262px;
			margin: 0 auto 10px;
		}
		&_social {
			display: none;
		}
	}

	.quiest {
		padding: 0px 55px 15px;
		.general_container {
			margin-top: 75px;
			&-img {
				width: 100%;
			}
			&-content {
				width: 100%;
				margin: 0;
				transform: none;
				p {
					font-size: 37px;
					line-height: 105.8%;
				}
			}
		}

	}

	.qui-est_dropdown {
		margin-top: 10px;
		padding: 0px 37px;
		h2 {
			font-size: 32px;
			display: inline;
			&::after {
				width: 21px;
				bottom: 6px;
				right: -30px;
			}
		}
		p:first-of-type {
			margin-top: 20px;
		}
		p {
			font-size: 16px;
			padding-left: 0;
		}
		.dropdown {
			&__wrapper {
				&-item {
					margin-bottom: 0 !important;
					h3 {
						padding-left: 0;
					}
					.menu_container {
						padding-left: 20px;
						ul {
							margin-left: 0;
							padding-left: 0;
							li {
								padding-left: 0;
								margin-bottom: 17px;
							}
							li:last-child {
								margin-bottom: 0;
							}
						}
						li, p {
							line-height:110%;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.qui {
		margin-bottom: -120px;
		.general_container {
			.second-content {
				width: 100%;
				transform: none;
				padding-left: 0;
				padding-right: 10px;
				.mob-only {
					font-size: 32px;
					transform: none;
					&::after {
						width: 21px;
						right: -25px;
					}
				}
				.contact__wrapper {
					h5 {
						font-size: 19px;
						br {
							display: none;
						}
					}
					&-info:last-child {
						p {
							font-size: 15px;
						}
					}
				}
			}
		}
	}

	.dropdown {
		padding: 0 20px;
		margin: 15px 0px;
		&__wrapper {
			margin-top: 25px;
			&-item {
				padding: 14px 17px 10px 10px;
				h3 {
					padding-left: 10px;
					font-size: 19px;
					line-height: 119.3%;
				}
				.menu_container {
					padding-left: 20px;
					ul {
						li {
							margin-bottom: 17px;
						}
						li:last-child {
							margin-bottom: 0;
						}
					}
					li, p {
						line-height:110%;
						font-size: 16px;
					}
				}
			}
			&-item:last-child {
				padding-bottom: 20px;
			}
		}
	}


	.services-quote {
		margin-bottom: 50px;
		.container {
			.insurance__quote {
				font-size: 43px;
				line-height: 85.8%;
				padding-top: 110px;
				&::before {
					top: -35px;
					height: 128px;
				}
				span {
					font-size: 15px;
					margin-top: 22px;
				}
			}
		}
	}

	.images {
		margin-top: 40px;
		padding-top: 80px;
		padding-left: 34px;
		padding-right: 0px;
		img:first-child {
			width: 62%;
		}
		img:nth-child(2) {
			right: 40px;
			width: 36%;
		}
	}
	.desktop {
		display: none;
	}
	.contact {
		padding-top: 50px;
		&__wrapper {
			padding: 0;
			h3 {
				font-size: 31px;
				transform: none;
				margin-bottom: 30px;
			}
			&-info {
				padding-right: 0px;
				padding-left: 0;
				margin-bottom: 25px;
			}
			&-info:nth-child(3) {
				h5 {
					font-size: 19px;
				}
				p {
					font-size: 15px;
				}
			}
		}
	}

	.header {
		padding: 25px;
		&__overlay {
			.to-homepage {
				font-size: 13px;
			}
			a {
				font-size: 28px;
			}
			.menu_wrapper {
				a {
					font-size: 18px;
					padding-left: 14px;
				}
			}
		}
		.container {
			align-items: flex-end;
		}
		&__hamb {
			top: 28px;
			width: 55px;
			height: 55px;
			font-size: 11px;
			margin-right: 0;
		}
		.flex {
			p {
				display: inline-block;
				font-size: 7.5px;
				line-height: 115%;
				margin-top: 11px;
			}
		}
		&__logo {
			max-width: 230px;
		}
	}
	.banner {
		margin-top: 26px;
		padding: 0 28px;
		margin-bottom: 35px;
		&__title {
			font-size: 44px;
			&::after {
				font-size: 10px;
				bottom: -20px;
				right: 50%;
				transform: translate3d(50%,0,0);
			}
		}
		&__slider {
			margin-top: -28px;
		}
		&__arrow {
			width: 22px;
			height: 55px;
			margin-top: 28px;
			margin-bottom: 16px;
		}
		span {
			font-size: 26px;
			display: block;
			margin-bottom: -4px;
		}
		p {
			font-size: 13px;
		}

	}
	.btn {
		font-size: 15px;
		padding: 12px 22px 14px;
	}
	.text-block {
		margin-bottom: 45px;
		padding: 0 28px;
		&__title {
			margin-bottom: 28px;
			h2 {
				font-size: 35px;
				&::after {
					width: 19px;
					right: -24px;
				}
			}
			p {
				font-size: 11px;
			}
		}
		&__gaps {
			margin-right: 35px;

		}
		&__content {
			i {
				font-size: 16px;
				margin-bottom: 18px;
				padding-left: 16px;
			}
			ul {
				margin-bottom: 28px;
				padding-left: 7px;
			}
			li {
				font-size: 15px;
			}
		}
	}
	.insurance {
		padding-top: 15px;
		margin-bottom: 34px;
		&__line {
			padding-left: 28px;
			font-size: 14px;
			margin-bottom: 59px;
			&::after {
				width: 40px;
				margin-left: 8px;
			}
		}
		&__flex {
			padding: 0 40px;
			flex-direction: column;
			img {
				width: 100%;
				transform: scale(1);
			}
		}
		&__content {
			width: 92%;
			position: relative;
			left: 4%;
			margin-top: -27px;
			padding: 26px 0px 40px 22px;
			h3 {
				font-size: 36px;
				padding-bottom: 33px;
				margin-bottom: 13px;
				&::after {
					height: 45px;
					width: 180px;
				}
			}
			p {
				font-size: 18px;
				margin-bottom: 23px;
			}
			.btn {
				padding: 8px 22px 11px;
				br {
					display: block;
				}
			}
		}
		&__quote {
			font-size: 38px;
			max-width: 312px;
			margin: 0 auto;
			padding-top: 8px;
			br {
				display: none;
			}
			&::before {
				display: none;
			}
			span {
				font-size: 11px;
				margin-top: 0px;
			}
		}
	}
	.contact {
		padding: 0 25px 11px;
		&__text {
			font-size: 25px;
			margin-bottom: 25px;
			line-height: 100%;
			.mob {
				&:first-child {
					display: none;
				}
			}
			&-sm {
				font-size: 14px;
				margin-bottom: 32px;
				span {
					font-size: 11px;
				}
			}
		}
		&__form {
			.half {
				width: 100%;
			}
			input, textarea {
				font-size: 15px;
				padding: 16px 18px 17px;
				margin-bottom: 11px;
				border-width: 1px;
			}
			textarea {
				height: 211px;
			}
			.btn {
				font-size: 18px;
				margin: 2px auto 0;
				border-width: 1px;
				padding: 13px 50px 16px;
			}
		}
	}
	.footer {
		padding: 25px 35px 27px;
		&__line::before {
			width: 26px;
		}
		p {
			width: 100%;
			text-align: center;
			&:first-child {
				margin-top: 47px;
				display: flex;
				flex-direction: column;
				font-size: 13px;
				span {
					font-size: 14px;
					margin-top: 5px;
					&::before {
						display: none;
					}
				}
			}
			&:nth-child(2) {
				order: 1;
				line-height: 1.1;
				a {
					display: block;
					font-size: 29px;
				}
				
			}
			&:last-child {
				font-size: 14px;
				&::before {
					width: 38px;
					display: block;
					margin: 15px auto 8px;
					left: 0;
					bottom: 0;
					background: rgba(51, 51, 51, 0.9);
				}
			}
		}
	}
}




@import "media";
