<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<h1>Registration Request</h1>

<form th:action="@{/requestRegistrationInvite}" method="POST" th:object="${registrationRequestModel}">
    <div th:if="${message != null}" class="alert alert-info" th:utext="${message}">message</div>
    <div>
        <label>Email</label>
        <input id="email" type="email" name="email" th:field="*{email}" value="" required="required"/>
    </div>
    <div>
        <label>First Name</label>
        <input id="first_name" type="text" name="first_name" th:field="*{first_name}" value="" required="required"/>
    </div>
    <div>
        <label>Last Name</label>
        <input id="last_name" type="text" name="last_name" th:field="*{last_name}" value="" required="required"/>
    </div>
    <br/><br/>
    <label>Organization</label>
    <span th:if="${userOrganization}!=null" th:text="${userOrganization.name}">Organization name</span>
    
    <select th:if="${userOrganization}==null" id="organization" name="organizationId" th:field="*{organizationId}">
        <option th:each="orgnaization : ${organizations}"
                th:value="${orgnaization.id}"
                th:utext="${orgnaization.id + ' - ' + orgnaization.name}">
        </option>
    </select>
    

    <br/><br/>
    <button type="submit">Submit</button>
</form>

<a th:href="@{/login}">Login page</a>
</body>
</html>
