<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<h1>Registration</h1>
<form th:action="@{/registration}" th:object="${user}" method="POST" id="form">
    <div th:if="${message != null}" class="alert alert-info" th:utext="${message}">message</div>
    <p class="error-message"
       th:if="${#fields.hasGlobalErrors()}"
       th:each="error : ${#fields.errors('global')}"
       th:text="${error}">Validation error</p>
    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}" required="required" readonly/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Password</label>
        <input type="password" th:field="*{password}" required="required">
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Confirm password</label>
        <input type="password" th:field="*{matchingPassword}" required="required"/>
    </div>
    <div>
        <label>First Name</label>
        <input type="text" th:field="*{firstName}" required="required" readonly/>
        <p th:each="error : ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Last name</label>
        <input type="text" th:field="*{lastName}" required="required" readonly/>
        <p th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
    </div>
    <input type="hidden" th:field="*{organizationId}" th:value="*{organizationId}">
    <input type="hidden" th:field="*{registrationInviteToken}" th:value="*{registrationInviteToken}">
    <button type="submit">Submit</button>
</form>

<a th:href="@{/login}">Login page</a>
</body>
</html>
