<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div>
    <h1>Password Reset</h1>
    <form th:action="@{/savePassword}" method="POST">
        <label>password</label>
        <input id="password" name="password" type="password" value="" />

        <label>confirm</label>
        <input id="matchPassword" type="password" value="" />

        <input type="hidden" name="token" th:value="${token}">

        <div id="globalError" style="display:none">Password does not match!</div>
        <button type="button" onclick="savePass()">submit</button>
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $(":password").keyup(function(){
                if($("#password").val() != $("#matchPassword").val()){
                    $("#globalError").show().html("Password does not match!");
                }else{
                    $("#globalError").hide();
                }
            });
        });

        function savePass(){
            if($("#password").val() != $("#matchPassword").val()){
                $("#globalError").show().html("Password does not match!");
                return;
            } else {
                $("form").submit();
            }

        }
    </script>
</div>
</body>
</html>
