<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosehill Dental</title>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/boostrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/datepicker.css}">

</head>

<body>
<div class="viewform_right_col">
    <div class="top_action_blk">
        <!-- <a href="#" class="update">Update</a> -->

        <div class="update_block">
            <a href="#" class="cancel">Cancel</a>
            <a href="#" class="save">Save</a>
        </div>
    </div>

    <div class="viewfrom_selection_block">
        <div class="selection_item">
            <label for="">1. Have you returned from travel outside of Canada in the past 14 days?</label>
            <button type="button" class="yes"> Yes</button>
            <button type="button" class="no"> No</button>
        </div>
        <div class="selection_item">
            <label for="">2. Have you tested positive for COVID-19? </label>
            <button type="button" class="yes"> Yes</button>
            <button type="button" class="no"> No</button>
        </div>
        <div class="selection_item">
            <label for="">3. Have you had close contact with a confirmed case of COVID-19 without wearingappropriate Personal Protective Equipment (PPE)? </label>
            <button type="button" class="yes"> Yes</button>
            <button type="button" class="no"> No</button>
        </div>
        <div class="selection_item">
            <label for="">4. Do you have any of the following symptoms?  </label>
            <button type="button" class="yes"> Yes</button>
            <button type="button" class="no"> No</button>
            <div class="checkbox_selection_block">
                <div class="checkbox_holder">
                    <label class="customcheckbox">Fever
                        <input type="checkbox">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox"> New onset of cough
                        <input type="checkbox">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Worsening chronic cough
                        <input type="checkbox">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Sore throat
                        <input type="checkbox">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Shortness of breath
                        <input type="checkbox">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Decrease or loss of sense of taste or smell
                        <input type="checkbox" >
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Chills
                        <input type="checkbox">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Difficulty swallowing
                        <input type="checkbox">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Runny nose or nasal congestion without other known cause
                        <input type="checkbox">
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Difficulty breathing
                        <input type="checkbox" >
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Nausea/vomiting, diarrhea, abdominal pain
                        <input type="checkbox" >
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Headaches
                        <input type="checkbox" >
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Unexplained fatigue/malaise/muscle aches (myalgias)
                        <input type="checkbox" >
                        <span class="checkmark1"></span>
                    </label>
                </div>
                <div class="checkbox_holder">
                    <label class="customcheckbox">Pink eye (conjunctivitis)
                        <input type="checkbox" >
                        <span class="checkmark1"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="selection_item">
            <label for="">6. If the person is 70 years of age or older, are they experiencing any of the following symptoms: delirium, unexplained or increased number of falls, acute functional decline, or worsening of chronicconditions?  </label>
            <button type="button" class="yes"> Yes</button>
            <button type="button" class="no"> No</button>
        </div>
        <!-- <div class="screen_result">
            <p>Covid Screen: <span class="result positive">Positive</span></p>
        </div> -->
        <div class="viewform_verify_block">
            <p>I verify the information I have provided on this form is truthful and accurate</p>
            <div class="verify_block_inner">
                <a href="#" class="verify">Verify</a>
                <span class="verify_date">Date <div class="has_date"></div></span>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/datepicker.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

</html>
