 * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url(https://fonts.adobe.com/fonts/ocr-b?red=a);

body {
font-family: ocr-b-std, monospace;
font-style: normal;
font-weight: 400;
	color: #333;
	font-size: 12px;
	line-height: 1.5;
	padding: 0 30px;
	
}
a {
	text-decoration: none;
	color: #333;
}
.header a{
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .3px;
}
.full-height {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
img {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    /*height: calc(100vh - 174px);*/
   
}
.gallery img {
	 max-height: 500px;
	 width: auto;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.site-content{
	padding: 50px 0;
	min-height: calc(100vh - 128px);
}
.header, .footer {
	padding: 20px 0;
}

a.header__logo {
	font-family: ocr-b-std, monospace;
	font-weight: 500; 
	font-size: 20px;
}
.header__nav a {
  	margin-left: 40px;
}


.links {
	/*align-items: flex-start;*/
	gap:  50px;
}
.links ul {
	list-style: none;
}
.links li {
	margin-bottom: 30px;
	list-style: none;
}
.links h2 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .5px;
	margin-bottom: 3px;
}
.links a {
	line-height: 1;
	display: block;
	margin-bottom: 7px;
}
.column a{

  
}
.links {
	margin: 0 auto;
	align-items: flex-start;
	grid-template-columns: repeat(3, 1fr);
		display: grid;
}

.gallery{
	max-width: 800px;
	margin: 0 auto;
}
.gallery_wrap {
	min-height: calc(100vh - 128px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}
.gallery.flex img{
	width: 53%;
	max-height: none;
} 
.gallery img{
	margin-top: 8px;
} 
.gallery.flex img:last-child {
	width: 47%;
}
footer a{
	padding: 5px;
	text-align: left;
}
.language {
	text-align: right;
}
.container {
	max-width: 1100px;
	width:  85%;
	margin: 0 auto; 
}
.header .container {
	max-width: none;
	width: 100%;
}
article p {
	margin-bottom: 25px;
}
.article-gallery  {
	margin-top: 40px;
	margin-bottom: 20px;
}
.article-gallery img {
	width: 100%;
	display: block;
}
.article-gallery br {
	display: none;
}
.article-gallery  span {
	margin-bottom: 20px;
	display: block;
	padding-left: 40px;
	white-space: nowrap;
}
.article-gallery p {
	margin-bottom: 40px
}
.article-gallery .opaque {
	opacity: 0;
}
.col3 {
	margin-top: 100px;
}
.col3 div {
	width: 38.5%;
}
.col3 div:nth-child(2) {
	width: 28.3%;
}
.col3 div:nth-child(3) {
	width: 30.6%;
}


@media (max-width:1023px) {
	
	.container {
		
		width: 100%;
	}
	.links {
		grid-template-columns: repeat(2, 1fr);
		display: grid;
	}
	
}


@media all and  (max-width:767px) {

	.links {
		grid-template-columns: repeat(1, 1fr);
		
	}
	.links li {
		margin: 0
	}
	body {
		padding: 0 25px;
	}
	.flex {
		flex-direction: column;
		align-items: flex-start;
	}
	.header {
		/*border-bottom: 1px solid #f7f7f7;*/
	}
	.header__logo {
		margin-bottom: 8px;
	}
	.header__nav a {
		margin-left: 0;
		padding: 8px 0;
	}
	.full-height img {
		width: 100%;
		height: auto;
	}
	.footer {
		flex-direction: row;
	}
	.links {
		gap:  30px;
	}
	.links a {
		padding: 11px 0;
		margin-bottom: 0
	}
	.footer a {
		display: block;
	}	
	.site-content{
		padding: 20px 0;
		margin: auto;
		
	}
	.gallery.flex img{
		width: 100%;

	}
	.site-content, .gallery {
		min-height: calc(100vh - 299px);
	}
	.gallery.flex {

	}
	.gallery img {
		max-height: auto;
	}
	.gallery.flex img:last-child {
		width: 100%
	}
	.article-gallery br {
		display: block;
	}
	.article-gallery  span {
		padding-left: 20px;
	}

	.col3,.full  {
		width: calc(100% + 40px);
		position: relative;
		left: -20px
	}
	.col3 {
		margin-top: 50px;
	}
	.flex.col3  {
		margin-top: 50px;
		flex-direction: row;
	}

	.footer a {
		padding: 10px 10px 10px 0;
	}
}
