// @media (max-width: 1365px) {
// 	.cont {
// 		max-width: 85%;
// 		&-lg {
// 			max-width: 90%;
// 		}
// 	}
// 	.header {
// 		&__nav {
// 			a {
// 				font-size: 13px;
// 			}
// 		}
// 	}
// 	.text-reg, .tab-text, .btn, .rewards__list p, .founders h4, .faq__answer {
// 		font-size: 13px;
// 	}
// 	.founders p {
// 		font-size: 11px;
// 	}
	
// 	.footer__right.half .footer__buttons {
// 		width: 70%;
// 	}
// 	.footer {
// 		&__left {
// 			p {
// 				font-size: 10px;
// 			}
// 		}
// 		&__right {
// 			a {
// 				font-size: 12px;
// 				// line-height: 2;
// 			}
// 		}
// 		&__bottom {
// 			a,p {
// 				font-size: 12px;
// 			}
// 		}
// 	}
// 	.soc-icons {
// 		gap: 5px;
// 		a {
// 			width: 30px;
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 		}
// 		svg {
// 			max-width: 20px;
// 			max-height: 20px
// 		}
// 	}
// }

// @media (max-width: 1366px) and (orientation: portrait)  {
// 	.hero {
// 		.full-h {
// 			height: auto;
// 			min-height: 70vw;
// 		}
// 	}
// }

@media (max-width: 767px) {
	.cont {
		max-width: 100%;
	}
	.mob {
		display: block;
		&.flex {
			display: flex;
		}
	}
	.desk {
		display: none;
	}
	section, footer {
		padding-left: 21px;
		padding-right: 21px;
	}

	h2 {
		font-size: 75px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-align: center;
	}

	h3 {
		font-size: 45px;
	}
	.h3-arrow {
		width: 20px;
		top: 16px;
	}
	h4 {
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 30px;
		span {
			display: block;
			margin-left: 36px;
			&:first-child {
				display: inline;
				margin-left: 0;
				margin-right: 30px;
			}
		}
	}
	h5 {
		font-size: 20px;
	}

	a.btn, button.btn {
		display: block;
		margin: 0 auto;
		border-radius: 20px;
		padding: 6px 0;
		font-size: 16px;
		max-width: 220px;
	}

	.header {
		background: none;
		position: fixed;
		width: 100%;
		left: 0;
		top: 23px;
		z-index: 6;
		&__top {
			padding: 21px;
		}

		&__bar {
			position: fixed;
			top: 0;
			left: 0;
			padding: 4px 0;
			&-item {
				padding: 0;
				width: 100%;
			}
			b {
				font-size: 12px;
			}
			span {
				font-size: 12px;
				padding-bottom: 3px;
			}
			img {
				width: 9px;
			}
			@keyframes sale {
				0% {
					transform: translate3d(0, 0, 0);
				}
				100% {
					transform: translate3d(-200%, 0, 0);
				}
			}	
		}
		&__logo {
			width: 35px;
		}
		&__hamb, &__close {
			width: 40px;
			height: 40px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			&::after {
				content: '';
				display: block;
				width: 24px;
				height: 24px;
				background: #fff;
				border-radius: 50%;
			}
		}
		&__close {
			&::after {
				display: none;
			}
			img {
				width: 20px;
			}
		}
		&__nav-mob {
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			transform: none;
			color: #fff;
			opacity: 0;
			visibility: hidden;
			transition: .25s;
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			&.active {
				opacity: 1;
				visibility: visible;
				transition: .25s;
			}
			.footer__buttons {
				margin-top: 28px;
			}
		}
		&__links {
			padding-left: 38px;
			margin-top: -10px;
			a {
				display: flex;
				font-family: 'narrow';
				line-height: 1.2;
				font-size: 45px;
				align-items: flex-end;
			}
			span {
				font-size: 27px;
				font-family: 'font';
				margin-right: 44px;
				position: relative;
				top: -5px;
			}
		}
	}

	.hero {
		max-height: none;
		justify-content: space-between;
		padding: 55px 0 70px;

		&__bg img {
			object-fit: cover;
		}
		&__mob-img {
			width: 70%;
			max-width: 350px;
		}
		&__title {
			font-family: 'narrow';
			h1 {
				font-size: 65px;
				line-height: .85;
			}
			span {
				font-size: 20px;
				margin-top: 5px;
			}
		}

		&__input {
			.flex {
				gap: 5px;
				margin-bottom: 9rem;
			}
			.hero__arrows {
				margin-bottom: 35px;
				img {
					width: 15px;
				}
			}
			span {
				background: #000;
				line-height: 30px;
				text-align: center;
				min-width: 36px;
				border-radius: 20px;
			}
			.incr, .decr {
				svg {
					width: 9px;
				}
			}
			.num {
				min-width: 65px;
				padding-bottom: 4px;
				font-size: 16px;
			}
			.btn {
				width: 100%;
				background: #000;
			}
		}
	}

	.about {
		&__wrap {
			flex-direction: column-reverse;
		}
		&__left {
			width: 100%;
		}
		&__right {
			padding: 18px 0 30px;
			border-bottom: 1px solid rgba(255, 255, 255, .4);
			margin-bottom: 40px;
			width: 100%;
		}
		&__controls {
			img {
				width: 45px;
			}
		}
		&__flex {
			gap: 25px;
		}
		&__title {
			a,p {
				font-size: 15px;
			}
			p {
				max-width: 100%;
			}
		}
		h3 {
			margin-bottom: 15px;
		}
		&__links {
			margin-left: -37px;
			margin-top: 40px;
			.arrow {
				width: 10px;
				top: 6px;
			}
			* {
				font-size: 17px;
			}
		}
	}

	.glide__arrows {
		gap: 0;
		>div {
			padding: 10px;
		}
		img {
			width: 18px;
		}
	}

	.glide {
		margin-bottom: 50px;
	}

	.club {
		margin-top: 45px;
	}
	.rarity__img {
		margin-bottom: 6px;
	}
	.rarity__glide, .trait {
		max-width: 270px;
		margin: 0 auto 50px;
		text-align: center;
		h4 {
			margin: 0;
			font-size: 25px;
			span,.arrow {
				display: none;
			}
		}
		.arrow {
			width: 13px;
			top: 2px;
			margin: 0 6px;
			position: relative;
		}
		span {
			display: inline-block;
			margin: 0;
		}
		.note {
			font-size: 11px;
		}

		.glide__slide {
			border: 1px solid rgba(255,255,255,.5);
			border-radius: 50px;
			overflow: hidden;
			padding-bottom: 10px;
		}

	}
	.trait {
		gap: 20px 0;
		grid-template-columns: repeat(2, 1fr);

		>div {
			border-radius: 20px;
		}
		.rarity__img {
			margin-bottom: 0;
		}
		h4 {
			font-size: 11px;
			margin-top: 0;
		}
		p {
			margin-left: 5px;
		}
		&__text {
			height: 42px;
		}
		.arrow {
			width: 7px;
			top: 1px;
			margin: 0 3px 0 0;
			position: relative;
		}
	}

	.roadmap {
		padding-top: 40px;
		padding-bottom: 30px;

		&::after {
			background: rgba(255, 255, 255, .4);
		}

		&__top {
			border-top: none;
		}
		&-title {
			h2 {
				border-bottom: 1px solid rgba(255, 255, 255, .5);
			}
		}
		
		&__text {
			max-width: none;
			gap: 10px 0;
			p {
				width: 100%;
			}
		}

		.span-margin {
			margin-bottom: 12px;
		}
		&__logo {
			.hero__logo {
				width: 87px;
				height: 87px;
				img {
					width: 48px;
				}
			}
			&::after {
				background: rgba(255,255,255,.4);
			}
		}
		&__line {
			gap: 30px;

			span {
				font-size: 32px;
				line-height: 1;
			}
			p {
				font-size: 11px;
			}
		}
	}

	.community {
		padding-top: 0;
		.cont {
			border-top: 1px solid rgba(255, 255, 255, .4);
			padding-top: 43px;
		}
		b {
			font-size: 13px;
		}
		p {
			font-size: 15px;
		}
		&__title {
			margin-bottom: 42px;
			span {
				font-size: 32px;
			}
		}
		&__line {
			margin-bottom: 30px;
		}
		&__flex {
			flex-flow: column nowrap;
		}
		&__item {
			&:first-child {
				margin-bottom: 0;
			}
			.arrow {
				margin-right: 5px;
				top: 1px;
				width: 8px;
			}
			br {
				display: none;
			}
		}
		&__img {
			order: 1;
			width: 260px;
			margin-bottom: 30px;
		}
		&__side {
			margin-bottom: 18px;
			order: 2;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 15px;
			width: 100%;
		}
	}

	.team {
		flex-direction: column;

		h2 {
			margin-bottom: 0;
		}
		h3 {
			font-size: 35px;
		}
		.h3-arrow {
			width: 15px;
			top: 16px;
		}
		&__left {
			width: 100%;
			padding-bottom: 0;
		}
		&__mob {
			border-bottom: 1px solid rgba(255,255,255,.4);
		}
		&__right {
			width: 45%;
			border: 0;
			padding-right: 25px;
			border-right: 1px solid rgba(255,255,255,.4);
			img {
				width: 100%;
			}
		}
		&__flex {
			padding-top: 30px;
			padding-bottom: 30px;
			width: 55%;
			padding-left: 18px;
			gap: 15px;
		}
		&__text	{
			display: block;
			p {
				font-size: 12px;
			}
		}

		&__soc {
			align-items: center;
			margin: 0 0 0 -6px;
			a {
				padding: 10px 6px;
			}
			img {
			    max-width: 15px;
			    max-height: 15px;
			}
		}
		&__links {
			&-mob {
				span, b {
					font-size: 18px;
					line-height: 1;
					font-weight: 300;
				}
				b {
					font-weight: 500;
				}
				img {
					width: 20px !important;
				}
				.arrow {
					width: 11px !important;
					top: 1px;
					margin-right: 5px;
					position: relative;
				}
			}
		}
		&__item {
			padding: 22px 0 24px;
			border-bottom: 1px solid rgba(255,255,255,.4);
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.faq {
		margin-top: 50px;

		h2 {
			font-size: 70px;
		}
		.cont {
			padding-top: 30px;
			padding-bottom: 0;
		}
		&__item {
			margin-bottom: 18px;
			&:last-child {
				.faq__answer-wrap {
					padding-bottom: 35px;
				}
				.faq__question {
					border-bottom: none;
				}
			}
		}
		&__question {
			padding-bottom: 12px;
			&.aic {
				align-items: flex-start;
			}

			h5 {
				font-size: 20px;
				display: flex;
				align-items: flex-start;
				span {
					margin-right: 15px;
					white-space: nowrap;
				}
			}
		}
		&__arrow {
			width: 14px;
			top: 5px;
			position: relative;
		}
		&__answer {
			&-wrap {
				padding: 15px 0 5px 45px;
			}
			p {
				font-size: 13px;
			}
		}
	}
	.collab {
		padding-top: 0;
		&__wrap {
			padding: 50px 0;
		}
		&__title {
			margin-bottom: 0;
			span {
				font-size: 23px;
			}
			span:first-child {
				font-size: 17px;
				margin-bottom: 15px;
			}
		}
	}

	.footer {
		padding-bottom: 22px;
		font-size: 11px;
		.half {
			flex-direction: column;
			> div {
				width: 100%;
			}
		}
		&__left {
			border-right: none;
			border-bottom: 1px solid rgba(255, 255, 255, .5);
			gap: 0;
			padding: 0;
			img {
				align-self: center;
				width: 20%;
				max-width: none;
			}
			div {
				width: 80%;
				border-left: 1px solid rgba(255, 255, 255, .5);
				padding: 20px 0 20px 20px;
				margin-left: 20px;
			}
			p {
				line-height: 1.5;
			}
		}
		.mob {
			width: 100%;
			padding: 20px 0;
			border-bottom: 1px solid rgba(255, 255, 255, .5);
			line-height: 1.75;
		}
		&__right {
			padding: 0;
			gap: 20px;
		}
		&__links {
			&-mob {
				a {
					display: block;
					line-height: 2.5;
				}
			}
		}
		&__buttons {
			padding-bottom: 20px;
			gap: 13px;
			.btn {
				width: 100%;
			}
		}
		&__soc {
			max-width: 240px;
			margin: 0 auto;
			width: 100%;
			a {
				width: 40px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			img {
				max-width: 20px;
				max-height: 18px;
			}
		}
		&__bottom {
			padding: 8px 0;
			p {
				font-size: 10px;
			}
		}
	}
	.spacer {
		margin-top: 125px;
	}
	.whitelist {
		&__wrap {
			padding-bottom: 50px;
			>div {
				height: 500px !important;
			}
		}
	}
}

// @media (max-width: 500px) {
// 	.slider {
// 		&__text {
// 			height: 70px;
// 		}
// 		&__arrows {
// 			display: inline-flex;
// 			transform: translate3d(-100%, 0, 0px);
// 			position: absolute;
// 			top: auto;
// 			bottom: 0;
// 			gap: 0;
// 		    left: calc(75% + 5px);

// 		    div {
// 		    	padding: 16px 8px;
// 		    }
// 		    img {
// 		    	width: 15px;
// 		    }
// 		}
// 	}
// 	.hero {
// 		&__title {
// 			&-img {
// 				min-height: 275rem;
// 			}
// 		}
// 	}
// }

