@font-face { 
   font-family: 'font';
   font-weight: 400;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: 
       url('../fonts/RightGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/RightGrotesk-Regular.woff') format('woff'),
       url('../fonts/RightGrotesk-Regular.ttf') format('ttf'),
       url('../fonts/RightGrotesk-Regular.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'font';  
   font-weight: 500;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src:
       url('../fonts/RightGrotesk-Medium.woff2') format('woff2'),
       url('../fonts/RightGrotesk-Medium.woff') format('woff'),
       url('../fonts/RightGrotesk-Medium.ttf') format('ttf'),
       url('../fonts/RightGrotesk-Medium.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'font';  
   font-weight: 300;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src:
       url('../fonts/RightGrotesk-Light.woff2') format('woff2'),
       url('../fonts/RightGrotesk-Light.woff') format('woff'),
       url('../fonts/RightGrotesk-Light.ttf') format('ttf'),
       url('../fonts/RightGrotesk-Light.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'font';  
   font-weight: 700;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src:
       url('../fonts/RightGrotesk-Bold.woff2') format('woff2'),
       url('../fonts/RightGrotesk-Bold.woff') format('woff'),
       url('../fonts/RightGrotesk-Bold.ttf') format('ttf'),
       url('../fonts/RightGrotesk-Bold.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'narrow';  
   font-weight: 700;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src:
       url('../fonts/RightGrotesk-NarrowBold.woff2') format('woff2'),
       url('../fonts/RightGrotesk-NarrowBold.woff') format('woff'),
       url('../fonts/RightGrotesk-NarrowBold.ttf') format('ttf'),
       url('../fonts/RightGrotesk-NarrowBold.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'narrow';  
   font-weight: 400;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src:
       url('../fonts/RightGrotesk-NarrowRegular.woff2') format('woff2'),
       url('../fonts/RightGrotesk-NarrowRegular.woff') format('woff'),
       url('../fonts/RightGrotesk-NarrowRegular.ttf') format('ttf'),
       url('../fonts/RightGrotesk-NarrowRegular.eot') format('eot');
   font-display: block;
}

@import "glide";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}
input,
button,
select, 
textarea {
	-webkit-appearance: none;
	font-family: 'font';
	font-weight: 400;
}

html {
	font-size: calc(5 * 100vw / 1920);
}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-size: 4rem;
	color: #fff;
	background: #000;
	font-family: 'font';
	font-weight: 400;
	height: auto;
	overflow: auto;
}
.cont {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 90%;

	&-sm {
		max-width: 56.25%;
	}
}

section, footer, .header__top {
	padding-left: 9rem;
	padding-right: 9rem;
}
section {
	padding-top: 12rem;
}
section,.header__bar {
	width: 100vw;
	overflow: hidden;
}

img,svg {
	display: block;
	width: 100%;
	height: auto;
}

.flex {
	display: flex;
	&.jcsb {
		justify-content: space-between;
	}
	&.jcc {
		justify-content: center;
	}
	&.jcfe {
		justify-content: flex-end;
	}
	&.aic {
		align-items: center;
	}
	&.aife {
		align-items: flex-end;
	}
	&.aifs {
		align-items: flex-start;
	}
	&.half {
		>* {
			width: 50%;
		}
	}
	&-grow {
		flex-grow: 1;
	}
}

h2 {
	font-size: 36rem;
	line-height: .95;
	border-top: 1px solid rgba(255, 255, 255, .5);
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	font-family: 'narrow';  
	font-weight: 400;
}

h3 {
	font-size: 22rem;
	font-family: 'narrow';  
	font-weight: 400;
	line-height: 1;
	b {
		font-weight: 700;
	}
}
h4 {
	font-size: 10rem;
	font-family: 'font';  
	font-weight: 700;
	margin-top: 13rem;
	margin-bottom: 15rem;
	span {
		font-weight: 300;

		&:first-child {
			margin-right: 15rem;
		}
	}
}
h5 {
	font-size: 9rem;
	span {
		font-weight: 400;
	}
}

.arrow {
	display: inline-block;
	transform: rotate(-135deg);
	&-link {
		transform: rotate(-90deg);
		margin-right: 3rem;
		margin-top: 1rem;
	}
}
.h3-arrow {
	width: 9rem;
	top: 9rem;
	position: relative;
}

.text {
	&-center {
		text-align: center;
	}
}
.rel {
	position: relative;
}
.abs-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.abs-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.center {
	margin: 0 auto;
}

.btn {
	min-width: 78rem;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 5rem;
	font-size: 5.6rem;
	font-weight: 500;
	padding: 1.6rem 0;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	transition: .3s;
	&:focus {
		outline: none;
	}
	&:hover {
		background: #fff;
		color: #000;
		transition: .3s;
	}
	&-sm {
		text-transform: initial;
		min-width: auto;
	}
}
.header {
	position: sticky;
	top: 0;
	background: #000;
	z-index: 10;

	&__top {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	&__logo {
		width: 9rem;
		margin-right: 8rem;
	}
	&__nav {
		gap: 3rem;

		a {
			position: relative;
			font-size: 4.4rem;
			overflow: hidden;
			padding: 0 0 1rem;
			cursor: pointer;
			font-weight: 400;

			&::after, &::before  {
				content: '';
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0px;
				height: 1px;
				background: #fff;
				opacity: 0;
				transform: translate3d(-100%, 0, 0);
			}
			&.btn {
				padding: 1rem 3.5rem;
				&::after, &::before {
					display: none;
				}
			}
			&::before {
				transform: translate3d(100%, 0, 0);
				opacity: 0;
				transition: opacity 0s .2s, transform .2s;
			}
			&:hover::after {
				transform: translate3d(0, 0, 0);
				opacity: 1;
				transition: transform .2s;
			}
			&:hover::before {
				transform: translate3d(0, 0, 0);
				opacity: 1;
				transition: opacity 0 .2s;
			}
		}
	}
	&__soc {
		gap: 3.5rem;

		.discord {
			gap: 8px;
			margin-right: 15px;
			line-height: 1;
			img {
				width: 2.3rem;
				transform: rotate(-90deg);
			}
		}
		span {
			white-space: nowrap;
		}
		img {
			max-width: 7rem;
			max-height: 6rem;
		}
	}
	&__bar {
		background: #fff;
		color: #000;
		white-space: nowrap;
		line-height: 1;
		padding: 5px 0;

		&-cont {
			animation: sale 20s linear infinite;
			will-change: transform;
		}
		@keyframes sale {
			0% {
				transform: translate3d(0, 0, 0);
			}
			100% {
				transform: translate3d(-66.66%, 0, 0);
			}
		}	

		&-item {
			display: inline-flex;
			justify-content: space-evenly;
			border-right: 1px solid #000;
			padding: 4px 0;
			width: calc(100% / 3);
		}

		b {
			font-size: 5rem;
		}
		span {
			font-size: 4rem;
			font-weight: 500;
			padding-bottom: 2px;
		}
		img {
			width: 4rem;
		}
	}
}

.hidden {
	visibility: hidden;
	pointer-events: none;
}
.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 43vw;
	padding-bottom: 5rem;
	max-height: 60vw;
	padding-top: 0;

	&__bg {
		z-index: -1;
		object-fit: contain;
		object-position: center;
		width: 102%;
		left: -1%;
	}

	&__title {
		font-family: 'narrow';
		h1 {
			font-weight: 700;
			font-size: 23.4rem;
			line-height: .8;
		}
		span {
			font-size: 11rem;
			display: block;
			line-height: 1;
		}
	}
	&__logo {
		width: 64rem;
		height: 64rem;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, .8);

		img {
			width: 35.4rem;
		}
	}

	&__input {
		.flex {
			gap: 1.5rem;
			margin-bottom: 3rem;
		}
		.hero__arrows {
			margin-bottom: 6rem;

			img {
				width: 5rem;
			}
		}
		span {
			font-size: 5.5rem;
			border: 1px solid #fff;
			font-weight: 500;
			padding-bottom: 1rem;
			line-height: 10rem;
			text-align: center;
			min-width: 14rem;
			border-radius: 6rem;
		}
		.incr, .decr {
			cursor: pointer;
			transition: .2s;
			svg {
				width: 3rem;
			}
			path {
				transition: .2s;
			}
			&:hover {
				background: #fff;
				path {
					fill: #000;
				}
			}
		}
		.num {
			min-width: 26rem;
		}
		.btn {
			min-width: 88rem;
		}
	}
}

.plyr {
    max-width: 100%;
    position: relative;
}

.plyr video {
    display: block;
    height: 100%;
    width: 100%
}

.about {
	&__flex {
		gap: 7.5rem;
	}
	&__video {
		&.playing {
			.about__controls {
				opacity: 0;
				visibility: hidden;
			}
			.play {
				display: none;
			}
			.pause {
				display: block;
			}
			&.cursor {
				&:hover {
					.about__controls {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			&.clicked {
				.about__controls {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&__controls {
		background: rgba(0, 0, 0, .3);
		z-index: 3;
		transition: .2s;
		img {
			width: 12rem;
			cursor: pointer;
		}
		.pause {
			display: none;
		}
	}
	&__left {
		width: 60%;
	}
	&__right {
		width: 40%;
	}	
	&__title {
		a,p {
			font-size: 6rem;
		}
		p {
			max-width: 137rem;
		}
		a {
			margin-left: 3rem;
		}
	}
	h2 {
		margin-bottom: 14rem;
	}
	h3 {
		margin-bottom: 5rem;
	}
	&__links {
		margin-top: 20rem;
		.flex {
			gap: 3rem;
		}
		.arrow {
			width: 3.5rem;
			position: relative;
			top: 3rem;
		}
		* {
			font-size: 7rem;
		}
		p {
			font-weight: 300;
		}
		a {
			font-weight: 500;
		}
	}
}

.glide__arrows {
	gap: 8rem;
	img {
		width: 8rem;
	}
	div {
		cursor: pointer;
	}
	.back {
		transform: rotate(90deg);
	}
	.forward {
		transform: rotate(-90deg);
	}
}

.slider__glide {
	margin-bottom: 25rem;
	.glide__slide {
		transition: transform .35s;
		&.shifted {
			transform: translate3d(0, 15%, 0);
			transition: transform .5s .4s;
		}
	}
}


.rarity {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	>div {
		border: 1px solid rgba(255,255,255,.5);
		border-radius: 20rem;
		overflow: hidden;
		padding-bottom: 5rem;
	}
	&__img {
		border-bottom: 1px solid rgba(255,255,255,.5);
		margin-bottom: 2.5rem;
	}
	h4 {
		margin: 0;
		span,.arrow, p {
			display: none;
		}
	}
	.arrow {
		margin: 0 2.3rem;
		position: relative;
		width: 5rem;
		top: 0.5rem;
	}
	.note {
		font-size: 4.5rem;
		line-height: 1;
	}
}
.trait {
	grid-template-columns: repeat(5, 1fr);
	>div {
		border: 1px solid rgba(255,255,255,.5);
		border-radius: 10rem;
		padding-bottom: 0;
	}
	.rarity__img {
		margin-bottom: 0;
	}
	h4 {
		font-size: 5.5rem;
		line-height: 1;
		margin-top: -1.5rem;
	}
	p {
		margin-left: 1rem;
		white-space: nowrap;
		display: inline;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}
	&__text {
		// padding-top: 4rem;
		// padding-bottom: 6rem;
		height: 20rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.arrow {
		width: 2.4rem;
		margin: 0 1rem 0 0;
		top: 0;
	}
}

.roadmap {
	position: relative;
	padding-top: 35rem;
	padding-bottom: 35rem;

	&__top {
		border-top: 1px solid rgba(255, 255, 255, .5);
	}
	&-title {
		margin-top: 14rem;
		h2 {
			border-bottom: none;
		}
	}

	&__bg {
		z-index: -1;
		img {
			object-fit: contain;
			object-position: top center;
		}
		&-bottom img {
			transform: rotate(180deg);
		}
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		height: 100%;
		background: rgba(255, 255, 255, .5);
		width: 1px;
		left: 50%;
	}
	&__text {
		max-width: 140rem;
		flex-wrap: wrap;
		gap: 6rem 0;
		p {
			width: 47%;
		}
		p.full {
			width: 100%;
		}
		// &.aife {
		// 	p {
		// 		position: relative;
		// 		top: -2.2rem;
		// 	}
		// }
	}
	.text-flex {
		gap: 0;
		p:first-child {
			padding-right: 10rem;
		}
	}
	.span-margin {
		margin-bottom: 5rem;
	}
	&__logo {
		padding-top: 0;
		position: relative;
		.hero__logo {
			background: #000;
		}
		&::after {
			width: 100%;
			height: 1px;
			content: '';
			background: rgba(255,255,255,.5);
			position: absolute;
			left: 0;
			top: 50%;
			z-index: -1;
		}
	}
	&__line {
		gap: 38rem;

		&:first-child {
			margin-bottom: 40rem;
		}
		>div:first-child {
			text-align: right;
		}
		.shift {
			// padding-right: 40rem;
		}
		span {
			display: block;
			text-transform: uppercase;
			font-size: 20rem;
		}
		p {
			font-size: 4.4rem;
		}
	}
}

.community {
	padding-top: 26rem;
	p,b {
		font-size: 8rem;
	}
	p {
		font-size: 6rem;
	}
	&__title {
		margin-bottom: 24rem;
		span {
			display: block;
			font-size: 18rem;
			
			&:last-child {
				display: inline-block;
				border: 1px solid #fff;
				border-radius: 20rem;
				line-height: 1;
				padding: 1.5rem 7rem;
			}
		}
	}
	&__line {
		margin-bottom: 10.5rem;
		border-bottom: 1px solid rgba(255, 255, 255, .5);
		padding-bottom: 4rem;
		b {
			font-weight: 500;
		}
	}
	&__item {
		&:first-child {
			margin-bottom: 17rem;
		}
		.arrow {
			width: 3rem;
			margin-right: 1.5rem;
			position: relative;
			top: 0rem;
		}
	}
	&__img {
		width: 34%;
	}
	&__side {

	}
}

.team {
	margin-top: 26rem;
	&__soc {
		margin-left: 5rem;
		margin-bottom: -1rem;
		a {
			margin: 0;
		}
		img {
		    max-width: 6rem;
		    max-height: 5rem;
		}
	}
	&__globe {
		width: 6rem;
		display: block;
		margin-top: 2rem;
	}
	&__left {
		width: 64.5%;
		padding-bottom: 15rem;
	}
	&__right {
		width: 35.5%;
		border-left: 1px solid rgba(255,255,255,.5);
		border-top: 1px solid rgba(255,255,255,.5);
		img {
			width: 75%;
		}
	}
	&__links {
		gap: 9rem;
		.arrow {
			top: 1rem;
		}
		span {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 5rem;
			margin-bottom: 1.6rem;
			display: block;
		}
	}
	&__link {
		margin-left: -6.5rem;
		display: block;
		margin-top: 1.5rem;
	}
}

.faq {
	// padding-top: 24rem;
	// padding-bottom: 21rem;
	padding-top: 0;

	.cont {
		padding-top: 25rem;
		padding-bottom: 31rem;
	}
	&__item {
		
		margin-bottom: 9rem;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__question {
		cursor: pointer;
		transition: .3s;
		padding-bottom: 3rem;
		user-select: none;
		text-transform: uppercase;
		border-bottom: 1px solid rgba(255, 255, 255, .5);
		
		h5 {
			font-size: 9rem;
			font-weight: 700;
			display: flex;
			padding-right: 8rem;

			span {
				margin-right: 6rem;
				font-weight: 400;
				white-space: nowrap;
			}
		}
		
		&.active {
			.faq__arrow {
				transform: rotate(180deg);
			}
			& + .faq__answer {
				visibility: visible;
				opacity: 1;
				transform: scaleY(1);
			}
		}
	}
	&__arrow {
		transition: transform .25s;
		width: 6rem;
	}
	&__answer {
		height: 0;
		position: relative;
		opacity: 0;
		visibility: hidden;
		transform: scaleY(.2);
		transform-origin: center top;
		transition: .3s;
		
		&-wrap {
			padding: 5rem 0 1rem 65rem;
		}
		p {
			font-size: 4rem;
			line-height: 1.5;
		}
	}
}
.collab {
	&__wrap {
		border-bottom: 1px solid rgba(255, 255, 255, .5);
		border-top: 1px solid rgba(255, 255, 255, .5);
		padding-top: 13rem;
		padding-bottom: 18rem;
	}
	&__title {
		margin-bottom: 0;
		span {
			font-size: 15rem;
			text-transform: uppercase;
		}
		span:first-child {
			font-size: 6.9rem;
			margin-bottom: 3rem;
		}
	}
}

.footer {
	background: #000;
	color: #fff;
	&__left, &__right {
		padding-top: 14rem;
		padding-bottom: 15rem;
	}
	&__left {
		border-right: 1px solid rgba(255, 255, 255, .5);
		gap: 14rem;
		padding-top: 16rem;
		padding-right: 14rem;
		p {
			flex-grow: 1;
			line-height: 7rem;
		}
		b {
			margin: 4rem 0;
			display: block;
		}
		img {
			max-width: 32rem;
			flex-grow: 1;
		}
	}
	&__right {
		padding-left: 14rem;
		gap: 26rem;
		align-self: flex-start;
	}
	&__links {
		a {
			font-size: 4.6rem;
			display: block;
			line-height: 11rem;
			cursor: pointer;
		}
	}
	&__buttons {
		flex-direction: column;
		padding-top: 3rem;
	}
	&__bottom {
		border-top: 1px solid rgba(255, 255, 255, .5);
		padding: 5rem 0 6rem;
		p {
			font-size: 14px;
		}
	}
	&__soc {
		img {
			max-width: 7rem;
			max-height: 6rem;
		}
	}
}

.whitelist {
	&__wrap {
		max-width: 650px;
	}
}


.mob {
	display: none;
}



@import "media";
