@font-face { 
   font-family: 'baby';
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('BabySparkle.eot'),
       url('../fonts/BabySparkle.woff2') format('woff2'),
       url('../fonts/BabySparkle.woff') format('woff'),
       url('../fonts/BabySparkle.ttf') format('ttf'),
       url('../fonts/BabySparkle.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'good';
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('GoodUnicorn-Regular'),
       url('../fonts/GoodUnicorn-Regular.woff2') format('woff2'),
       url('../fonts/GoodUnicorn-Regular.woff') format('woff'),
       url('../fonts/GoodUnicorn-Regular.ttf') format('ttf'),
       url('../fonts/GoodUnicorn-Regular.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'purple';
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('sweetpurple'),
       url('../fonts/sweetpurple.woff2') format('woff2'),
       url('../fonts/sweetpurple.woff') format('woff'),
       url('../fonts/sweetpurple.ttf') format('ttf'),
       url('../fonts/sweetpurple.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'unicorn';
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('SweetUnicorn'),
       url('../fonts/SweetUnicorn.woff2') format('woff2'),
       url('../fonts/SweetUnicorn.woff') format('woff'),
       url('../fonts/SweetUnicorn.ttf') format('ttf'),
       url('../fonts/SweetUnicorn.eot') format('eot');
   font-display: block;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
li {
	list-style: none;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
input,
button,
select, 
textarea {
	-webkit-appearance: none;
}
html {
	font-size: 48px;
}
body {
	// font-family: 'purple';
	font-family: 'Nanum Pen Script', cursive;
	position: relative;
	line-height: 1.4;
	overflow-x: hidden;
	color: #fff;
}
.site-cont {
	background: url(../img/bg.jpg) repeat-y top center/ 100% auto;
}
.font-unicorn {
	// font-family: 'good';
	font-family: 'Nanum Pen Script', cursive;
}
.text-outline, h2, .roadmap h3, .faq {
	text-shadow: -4px -4px 0px #6357a5, 1px 1px 0px #6357a5, -1px 1px 0px #6357a5, 1px -1px 0px #6357a5;
}
.faq .answer, .footer, .roadmap, .about, .hero, .tracker, .pricing, .terms h3 {
	text-shadow: -2px -2px 0px #6357a5, 1px 1px 0px #6357a5, -1px 1px 0px #6357a5, 1px -1px 0px #6357a5;
}
.pricing, .about, .roadmap {
	p {
		text-align: justify;
	}
}
 
.overflow {
	position: relative;
	width: 100vw;
	display: block;
	overflow: hidden;
}
section {
	padding-top: 140px;
}
section,header,footer {
	padding-left: 50px;
	padding-right: 50px;
}
.cont {
	max-width: 1650px;
	margin: 0 auto;
	&-md {
		max-width: 1375px;
	}
}

.flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.btn {
	color: #fff;
	padding: 29px 28px;
	display: inline-block;
	font-size: 18px;
	box-shadow: 3px 3px 2px rgba(0,0,0, .45);
	letter-spacing: 1px;
	border-radius: 12px;
	transition: .3s;
	background: url('../img/btn-bg.svg') no-repeat center center/ cover;
	&-md {
		padding-right: 82px;
		background: url('../img/btn.svg') no-repeat right 18px center/ 48px auto,
						url('../img/btn-bg.svg') no-repeat center center/ cover;
	}
	&-lg {
		font-size: 1.96rem;
		padding: 27px 68px 22px;
		text-transform: uppercase;
		line-height: 1;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		transform: scale(1.05);
		transition: .3s;
	}
}
h1 {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	pointer-events: none;
}
h2, .terms h3 {
	display: block;
	text-align: center;
	font-family: 'baby';
	font-size: 2.06rem;
	font-weight: 400;
}

.header {
	background: #464087;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0px 7px 5px rgba(0,0,0, .45);
	position: relative;
	z-index: 4;
	&.terms-header {
		.flex {
			justify-content: center;
		}
	}
	.flex {
		align-items: flex-end;
	}
	&__hamb, &__nav-close {
		display: none;
	}
	&__nav {
		display: flex;
		align-items: center;
		padding-bottom: 35px;
		a {
			cursor: pointer;
			font-size: 1.1rem;
			margin-left: 98px;
			// font-family: 'unicorn';
			font-family: 'Nanum Pen Script', cursive;
		}
		.btn {
			// font-family: 'Arial';
			font-family: 'Nanum Pen Script', cursive;
			font-size: 35px;
			margin-left: 80px;
		}
	}
}
.hero {
	position: relative;
	padding-top: 95px;
	background: 
					url('../img/cloud.svg') no-repeat center bottom 0 / 100% auto,
					url('../img/rainbow.png') no-repeat center bottom / 88% auto;
	&__title {
		padding-top: 80px;
		p {
			margin-top: -60px;
			display: block;
			text-align: center;
			font-size: 1.5rem;
			// font-family: 'baby';
			font-family: 'Nanum Pen Script', cursive;
			// text-shadow: 0 -5px 15px #464087;
		}
	}
}
.white-box {
	border: 6px solid #fff;
	box-shadow: -1px -1px 0 1px #464087, inset -1px -1px 0 0px #464087;
	border-radius: 12px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 100px 10px;
}
.timer {
	text-align: center;
	&__block {
		>div {
			width: 190px;
			position: relative;
			.timer-value::after {
				content: ':';
				position: absolute;
				right: -60px;
				top: 0;
			}
			&:last-child {
				.timer-value::after {
					display: none;
				}
			}
		}
	}
	p{
		font-size: 2.06rem;
		line-height: 1;
		margin-bottom: 20px;
	}
	span {
		display: block;
		// color: #464087;
		color: #fff;
	}
	&-value {
		font-size: 3.375rem;
		line-height: 1;
	}
	&-label {
		font-size: 1.4rem;
	}
}
.tracker {
	padding-top: 130px;
	padding-bottom: 140px;
	position: relative;
	text-align: center;
	&::after, &::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: -1px;
		left: 0;
		background: url('../img/cloud.svg') no-repeat center bottom / 100% auto;
		transform: rotateX(180deg);
		z-index: 1;
	}
	&::before {
		top: -70px;
		z-index: 2;
		height: 140px;
		background: linear-gradient(to bottom,rgba(176,210,225,0),#b0d2e1,rgba(176,210,225,0));
	}
	* {
		position: relative;
		z-index: 2;
	}
	p {
		color: #fff;
		font-size: 1.3rem;
		margin-top: 20px;
	}
	&__block {
		margin-top: 55px;
		padding: 0;
		p {
			color: #fff;
			font-size: 2.0625rem;
			line-height: 1;
		}
	}
	&__value {
		justify-content: center;
		white-space: nowrap;
		span {
			font-size: 3rem;
			line-height: 1;
			&:first-child {
				margin-right: 38px;
			}
		}
	}
}
.animated {
	opacity: 0;
	transform: translate3d(0,80px,0);
	&.in-view {
		opacity: 1;
		transform: translate3d(0,0px,0);
		transition: 1.5s cubic-bezier(0.25, 1, 0.5, 1);;
	}
}
.cont {
	position: relative;
	z-index: 3;
}
.terms, .about {
	position: relative;
	&::before, &::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 50%;
		left: 0;
		z-index: 1;
	}
	&::before {
		bottom: 50%;
		background: linear-gradient(to top, #6357A5, transparent);
	}
	&::after {
		top: 50%;
		background: linear-gradient(to bottom, #6357A5, transparent);
	}
}
.terms {
	&::before {
		bottom: 50%;
		background: linear-gradient(to top, #6357A5, rgba(120,100,171,.8) 80%, rgba(120,100,171,.5));
	}
	&::after {
		top: 50%;
		background: linear-gradient(to bottom, #6357A5, rgba(120,100,171,.8) 95%, rgba(120,100,171,0));
	}
}
.about {
	padding-bottom: 110px;
	&::before, &::after {
		height: 100%;
	}
	.flex {
		align-items: center;
	}
	&__text {
		width: 50%;
		text-align: center;
	}
	&__logo {
		max-width: 700px;
		margin: 0 auto;
		margin-bottom: 45px;
	}
	&__gif {
		width: 40%;
	}
	p{
		text-align: justify;
		// font-family: 'baby';
		font-family: 'Nanum Pen Script', cursive;
		font-size: 1.1875rem;
	}
}
.pricing {
	padding-bottom: 230px;
	text-align: center;
	p {
		font-size: 1.4rem;
		margin-bottom: 1.5rem;
	}
}
.terms {
	padding-bottom: 0px;
	h2 {
		margin-bottom: 50px;
	}
	h3 {
		font-size: 1.7rem;
		margin-bottom: 30px;
	}
	p {
		font-size: 1rem;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.meet {
	position: relative;
	&::before, &::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 50%;
		left: 0;
		z-index: 1;
	}
	&::before {
		bottom: 60%;
		background: linear-gradient(to top, #DF559F, transparent);
	}
	&::after {
		top: 40%;
		background: linear-gradient(to bottom, #DF559F, transparent);
	}
}
.team {
	position: relative;
	&::before, &::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 70%;
		left: 0;
		z-index: 1;
	}
	&::before {
		bottom: 50%;
		background: linear-gradient(to top, #718FC9, transparent);
	}
	&::after {
		top: 50%;
		background: linear-gradient(to bottom, #718FC9, transparent);
	}
}
.collection {
	&__list {
		margin-top: 82px;
		flex-flow: row wrap;
		justify-content: flex-start;
		li {
			width: calc((100% -  36px) / 3);
			margin-bottom: 25px;
			margin-right: 18px;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}
.roadmap {
	padding-bottom: 90px;
	position: relative;
	&::before, &::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 50%;
		left: 0;
		z-index: 1;
	}
	&::before {
		bottom: 50%;
		background: linear-gradient(to top, #718FC9, rgba(227,131,182,0));
	}
	&::after {
		top: 50%;
		background: linear-gradient(to bottom, #718FC9, rgba(227,131,182,0));
	}
	p {
		margin-top: 20px;
		font-size: 1.45rem;
		// text-align: center;
		line-height: 1;
		margin-bottom: 100px;
	}
	&__phases {
		img {
			width: 300px;
			margin-left: -50px;
		}
		&-list {
			width: calc(100% - 300px);
			ul {
				width: calc(100% - 380px);
			}
			li {
				line-height: .8;
				margin-bottom: 25px;
			}
			div {
				margin-bottom: 60px;
			}
		}
		h3 {
			font-size: 2.4rem;
			letter-spacing: 3px;
		}
	}
}
.faq {
	padding-bottom: 60px;
	position: relative;
	&::before, &::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 65%;
		left: 0;
		z-index: 1;
	}
	&::before {
		bottom: 50%;
		background: linear-gradient(to top, #6357A5, transparent);
	}
	&::after {
		top: 50%;
		background: linear-gradient(to bottom, #6357A5, transparent);
	}
	h2 {
		margin-bottom: 85px;
	}
	a {
		text-decoration: underline;
	}
	.question {
		font-size: 1.35rem;
		// font-family: 'baby';
		font-family: 'Nanum Pen Script', cursive;
		padding: 10px 0;
		cursor: pointer;
		transition: .25s;
		&:hover {
			transform: scale(1.03);
			transform-origin: center center;
			transition: .25s;
		}
		&.active + .answer {
			opacity: 1;
			transform: scaleY(1);
			transition: .25s;
			visibility: visible;
		}
	}
	.answer {
		padding-left: 30px;
		padding-right: 30px;
		visibility: hidden;
		height: 0;
		opacity: 0;
		transform: scaleY(.6);
		transition: .25s;
		transform-origin: top center;
	}
}
.footer {
	position: relative;
	z-index: 2;
	padding-top: 100px;
	padding-bottom: 200px;
	text-align: center;
	&__social {
		justify-content: center;
		a {
			display: block;
		}

	}
	&__terms {
		font-size: 45px;
		// color: #fff;
		// font-family: 'good';
		font-family: 'Nanum Pen Script', cursive;
	}
}










@import "media";
