b {
	font-weight: 400;
}
.menu_container {
	transform-origin: 0% 0%;
	transition: .8s cubic-bezier(0.25, 1, 0.5, 1);
	height: 0;
	opacity: 0;
	transform: scaleY(0);
	visibility: hidden;
}
.header {
	&__container {

	}
	&__nav {
		.menu_wrapper, .to-homepage, .social_wrapper {
			display: none;
		}
	}
	&__nav.visible {
		position: fixed;
		left: 0;
		padding: 10% 10% 10% 5%;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: #7FA39A;
		z-index: 10;
		.to-homepage {
			display: block;
			font-size: 15px;
			line-height: 135.8%;
			color: #FFFEFB;
			width: 100%;
		}
		a {
			padding-top: 0;
			padding-bottom: 5px;
			margin-left: 0;
			font-size: 25px;
			line-height: 135.8%;
			color: #FFFEFB;
			display: block;
			span {
				display: none;
			}
		}
		a::before, a::after {
			display: none;
		}
		.menu_wrapper {
			display: block;
			a {
				color: #f3c9bb;
				padding-left: 18px;
				padding-bottom: 0;
				font-size: 19px;
			}
		}
		.social_wrapper {
			overflow: hidden;
			width: 100%;
			display: flex;
			margin-top: 50px;
			a {
				font-size: 12px;
				position: relative;
				margin-left: 8px;
			}
			a:first-child {
				margin-left: 0;
			}
			a:last-child::after {
				content: '';
			    display: inline-block;
			    width: 260%;
			    height: 1px;
			    background-color: #f3c9bb;
			    position: absolute;
			    left: 110%;
			    bottom: 7px;
			}
			a:hover {
				color: #f3c9bb;
			}
		}
	}
}

.general {
	position: relative;
	> h2 {
		max-width: 1120px;
		display: block;
		margin: 100px auto 75px;
		font-family: Playfair;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 85.8%;
		color: #BADFD6;
	}
	&_container {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		&-img {
			width: 35%;
			transform: translateX(10%);
			background: url('../../img/pic.jpg') center center/contain no-repeat;
		}
		.second {
			width: 45%;
			background: url('../../img/book.jpg') center center/contain no-repeat;	
			&-content {
				width: 45%;
				margin-top: 50px;
				transform: none;
				margin-bottom: 140px;
			}
		}
		&-content {
			z-index: 1;
			position: relative;
			width: 50%;
			margin-top: 300px;
			background-color: #fff;
			padding: 50px 0px 0px 50px;
			transform: translateY(100px);
			h1 {
				display: inline-block;
				font-family: Playfair;
				font-style: normal;
				font-weight: normal;
				font-size: 75px;
				line-height: 85.8%;
				color: #BADFD6;
				position: relative;
			}
			h1::after {
				content: '';
				display: block;
				position: absolute;
				width: 35px;
				bottom: 0px;
				right: -60px;
				height: 2px;
				background-color: #BADFD6;
			}
			.italic {
				display: block;
				font-family: Playfair;
				font-style: italic;
				font-weight: normal;
				font-size: 20px;
				line-height: 85.8%;
				color: rgba(51, 51, 51, 0.9);
			}
			> span {
				margin: 40px 0px 25px 0px;
				display: block;
				font-family: Playfair;
				font-style: normal;
				font-weight: normal;
				font-size: 23px;
				line-height: 85.8%;
				color: #76AB9E;
			}
			ul {
				li {
					p {
						font-family: Playfair;
						font-style: normal;
						font-weight: normal;
						font-size: 19px;
						line-height: 124.3%;
						color: rgba(51, 51, 51, 0.7);
						position: relative;
						padding-left: 15px;
						margin-bottom: 15px;
					}
					p::before {
						content: '';
						left: 0;
						top: 5px;
						display: inline-block;
						position: absolute;
						width: 12px;
						height: 12px;
						background: url('../../img/like.png') center center/contain no-repeat;
					}
				}
			}
		}
	}
	&_social {
		position: fixed;
		left: -80px;
		bottom: 190px;
		transform: rotate(-90deg);
		a {
			font-family: Playfair;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 119.3%;
			color: rgba(51, 51, 51, 0.9);
		}
		a:first-child:after {
			content: '';
			display: inline-block;
			margin: 0px 10px;
			width: 120px;
			height: 1px;
			background-color: #BADFD6;
			transform: translateY(-4px);
		}
	}
}

.general-contact {
	.general_container  {
		max-width: 1360px;
		&-img {
			transform: none;
			padding: 48% 0 0 ;
			width: 56%;
			background: url('../img/nadia.jpg') no-repeat center center/ contain;
		}
		&-content {
			background-color:transparent;
			img {
				transform: translateX(-100px);
				display: block;
			}
		}
	}
	.general_social {
		right: -80px;
		left: auto;
		bottom: 250px;
	}
}
.general-boutique {
	.general_container {
		margin-top: 130px;
		max-width: 1045px;
		flex-flow: wrap;
		display: block;
		h1 {
			width: 100%;
			font-family: Playfair;
			font-style: normal;
			font-weight: normal;
			font-size: 55px;
			line-height: 85.8%;
			color: rgba(51, 51, 51, 0.9);
			> span {
				color: #BADFD6;
			}
		}
		&-img {
			width: 100%;
			background: none;
			transform: none;
			margin-top: 50px;
			img {
				display: block;
			}
		}
		&-content {
			transform: translate3d(35px,-50px,0);
			background-color: #fff;
			margin-top: 0;
			padding:40px 0 0 40px;
			width: 80%;
			p, span {
				font-family: Heebo;
				font-style: normal;
				font-weight: 300;
				font-size: 21px;
				line-height: 144.3%;
				color: #000000;
			}
			p {
				margin-bottom: 25px;
			}
			span {
				margin: 0;
				color:#76AB9E;
			}
			.underlined {
				color: #000;
				text-decoration: underline;
			}
		}
	}
}
.title {
	margin: 100px 0px;
	&-container {
		max-width: 1045px;
		display: block;
		margin: 0 auto;
		p {
			position: relative;
			font-family: Playfair;
			font-style: normal;
			font-weight: normal;
			font-size: 34px;
			line-height: 115.8%;
			color: rgba(51, 51, 51, 0.9);
			margin-bottom: 10px;
		}
		p:last-child::after {
			content: '';
			display: block;
			position: relative;
			background: url('../img/simple-nadia.png') no-repeat center center/ contain;
			width: 20%;
			margin-top: 15px;
			height: 41px;
		}
	}
}

.quiest {
	.general_container {
		max-width: 1120px;
		margin: 100px auto;
		justify-content: flex-start;
		&-img {
			width: 43%;
			transform: none;
			background: url('../../img/pic_nadia.jpg') center center/contain no-repeat;
		}
		&-content {
			width: 57%;
			transform:translate3d(20px,-100px,0px);
			p {
				font-family: Playfair;
				font-style: normal;
				font-weight: normal;
				font-size: 60px;
				line-height: 115.8%;
				color: rgba(51, 51, 51, 0.9);
				position: relative;
			}
			p::before {
				content: '';
				display: inline-block;
				width: 100%;
				height: 80px;
				background: url('../../img/title.png') left center/contain no-repeat;
			}
		}
	}
}
.qui-est_dropdown {
	max-width: 1120px;
	margin: 50px auto;
	h2 {
		font-family: Playfair;
		display: block;
		margin: 50px 0;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 85.8%;
		color: #BADFD6;
	}
	p {
		color: rgba(51, 51, 51, 0.9);
		padding-left: 60px;
		font-family: Heebo;
		font-style: normal;
		font-weight: 300;
		font-size: 19px;
		line-height: 160.8%;
		margin-bottom: 10px;
	}
	.dropdown {
		margin: 0;
		p {
			padding-left: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
		ul {
			li {
				margin-bottom: 10px;
				padding-left: 20px;
			}
			li:last-child{
				margin-bottom: 0;
			}
		}
		.mb15 {
			margin-top: 20px;
			margin-bottom: 15px;
			display: block;
		}
	}
}

.dropdown {
	margin: 200px 0px 60px 0px;
	&__wrapper {
		max-width: 1045px;
		margin: 0 auto;
		border: 1px solid #BADFD6;
		border-left: none;
		&-item {
			padding: 20px 30px;
			position: relative;
			margin-bottom: 0 !important;
			border-bottom: 1px solid #BADFD6;
			font-family: Heebo;
			color: rgba(51, 51, 51, 0.8);
			&:last-child {
				border: none;
			}
			div.active {
				padding-top: 25px;
				padding-bottom: 25px;
			}
			h3 {
				cursor: pointer;
				font-family: Playfair;
				font-weight: 400;
				font-style: normal;
				font-weight: normal;
				font-size: 25px;
				line-height: 119.3%;
				position: relative;
				color: rgba(51, 51, 51, 0.9);
			}
			.plus {
				pointer-events: none;
				width: 39px;
				height: 39px;
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				transition: 1s;
				&::after, &::before {
					content: '';
					position: absolute;
					display: block;
					transition: .4s;
					background: rgba(51, 51, 51, 0.9);
					height: 100%;
					width: 1px;
				}
				&::after {
					transition-delay: .5s;
					top: 50%;
					height: 1px;
					width: 100%;
				}
				&::before {
					left: 50%;
				}
				&.rotate {
					transform: rotate(450deg) translateX(-50%);
					transition: 1s;
					&::after {
						opacity: 0;
						transition-delay: .5s;
						transition: .5s;
					}
				}
			}
			p,li {
				font-style: normal;
				font-weight: 300;
				font-size: 19px;
				line-height: 140.8%;
			}
			p {
				ul {
					margin-bottom: 0;
				}
			}
			p,h4,ul {
				margin-bottom: 25px;
			}
			.no-margin {
				margin-bottom: 5px;
				margin-top: 5px;
			}
			>li {
				margin-bottom: 5px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			h4 {
				font-size: 22px;
				text-transform: uppercase;
				color: #76AB9E;
				font-weight: normal;
				margin-bottom: 25px;
			}
			b {
				font-weight: 500;
			}
			.margin {
				display: block;
				margin-bottom: 10px;
			}
			a {
				text-decoration: underline;
			}
			.no-decor {
				text-decoration: none;
			}
			span {
				display: block;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				line-height: 117.8%;
				margin-top: 50px;
			}
			
		}
	}
}
.dropdown-boutique {
	margin-top: 60px;
	h2 {
		font-family: Playfair;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		line-height: 85.8%;
		max-width: 1045px;
		display: block;
		margin: 0 auto 50px;
		color: rgba(51, 51, 51, 0.9);
	}
}
.images {
	width: 100%;
	max-width: 930px;
	margin: 120px auto 0;
	position: relative;
	padding: 180px 30px 0;
	img {
		display: block;
		height: auto;
	}
	img:first-child {
		width: 65%;
	}
	img:nth-child(2) {
		width: 37%;
		position: absolute;
		right: 70px;
		top: 0;
	}
}
.services-quote {
	padding-top: 0;
	p {
		padding-top: 160px;
		&::before {
			top: -128px;
		}
	}
}
.contact {
	padding-top: 130px;
	h2 {
		font-family: Playfair;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		line-height: 119.3%;
		text-align: center;
		margin-bottom: 50px;
		color: rgba(51, 51, 51, 0.9);
	}
	&__wrapper {
		max-width: 1230px;
		margin: 0 auto;
		padding-left: 40px;
		padding-right: 40px;
		h3 {
			margin-bottom: 50px;
			font-size: 50px;
			line-height: 85.8%;
			color: rgba(51, 51, 51, 0.9);
			font-style: normal;
			font-weight: normal;
		}
		&-info {
			padding-left: 50px;
			margin-bottom: 50px;
			h4 {
				margin-bottom: 20px;
				font-size: 19px;
				line-height: 140.8%;
				color: rgba(51, 51, 51, 0.7);
				font-weight: normal;
			}
			h5 {
				font-size: 23px;
				margin-bottom: 20px;
				line-height: 140.8%;
				color: rgba(51, 51, 51, 0.7);
				font-weight: normal;
			}
			p, a {
				color: rgba(51, 51, 51, 0.7);
				font-size: 16px;
				line-height: 140.8%;
				font-family: Heebo;
				font-style: normal;
				font-weight: normal;
			}
			a {
				text-decoration-line: underline;
				color: #76AB9E;
			}
			.zoom {
				color: rgba(51, 51, 51, 0.7);
			}
		}
		&-info:first-child {

		}
	}
}
.contact_modified {
	padding-top: 0;
	.contact__wrapper {
		display: flex;
		&-info:first-child {
			width: 40%;
		}
		&-info:last-child {
			width: 50%;
			p {
				font-family: Playfair;
				font-style: normal;
				font-weight: normal;
				font-size: 21px;
				line-height: 140.8%;
				color: rgba(51, 51, 51, 0.9);
			}
		}
	}
}

.footer {
	.container{
		max-width:initial;
		position: relative;
	}
	.special {
		position: absolute;
		top: -50px;
		right: 0;
		font-size: 16px;
	}
	.special::before {
		content: '';
		display: inline-block;
		width: 100px;
		height: 1px;
		background-color: rgba(51, 51, 51, 0.3);
		position: relative;
		bottom: 4px;
		left: -5px;
	}
}

.hamburger {
	height: 46px;
	width: 50px;
	display: block;
	position: fixed;
	z-index: 11;
	border-radius: 30%;
	right: 15px;
	top: 15px;
	z-index: 100;
	cursor: pointer;
	}
	.hamburger.active {
		position: fixed;
	}	
	.hamburger.active .hamburger_button {
		background-color: #000;
	} 
	.hamburger.active .hamburger_button::before, .hamburger.active .hamburger_button::after {
		background-color: #000;
	}
	.hamburger_button {
		height: 2px;
		width: 50%;
		display: block;
		background-color: #fff;
	    position: relative;
	    top: 50%;
      	margin: 0 auto;
		border-radius: 3px;
    	transform: translateY(-50%);
    	z-index: 21;
	}
	.hamburger_button::after, .hamburger_button::before {
		content: '';
		background-color: #fff;
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		border-radius: 3px;
		transition: top .3s, transform .3s .3s;
	}
	.hamburger_button::after {
		top: -7px;
	}
	.hamburger_button::before {
		top: 7px;
	}
	.hamburger.active .hamburger_button::before {
	    background-color: #505e77;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    top: 0;
	}
	.hamburger.active .hamburger_button::after {
	    background-color: #505e77;
	    -webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    top: 0;
	}
	.hamburger.active .hamburger_button {
	    background-color: #fff;
	}		





@media (min-width: 1600px) {
	.general {
		&_container {
			&-img {
				transform: translateX(20%);
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.header {
		display: none;
	}
	body {
		padding: 0px 60px;
	}
	.general {
		&_container {
			display: block;
			&-img {
				transform: none;
				height: 435px;
				width: 298px;
			}
			&-content {
				margin-top: 0;
				width: 100%;
				padding: 30px 0px 0px 30px;
				transform: translate3d(45px,-60px,0);
				h1 {
					font-size: 58px;
				}
				span {
					display: none;
				}
				.italic {
					display: block;
					font-size: 18px;
				}
				ul {
					li {
						padding-left: 15px;
						p {
							font-size: 17px;
						}
					}
				}
			}
		}
		&_social {
			display: none;
		}
	}
	.dropdown {
		margin-top: 50px;
		&__wrapper {
			&-item {

			}
			&-item:nth-child(2), &-item:nth-child(3) {
				ul {
					li {
						text-indent: 20px;
					}
				}
			}
		}
		.tarification {
			span:last-of-type {
				margin-top: 0;
			}
		}
	}

	.images {
		padding-top: 130px;
	}

	.services-quote {
		.container {
			.insurance__quote {
				padding-top: 200px;
				font-size: 63px;
				line-height: 85.8%;
				&::before {
					top: -49px;
					height: 199px;
				}
				span {
					margin-top: 22px;
				}
			}
		}
	}
	.contact {
		padding-top: 50px;
		&__wrapper {
			h3 {
				font-size: 37px;
				transform: none;
			}
			&-info {
				margin-bottom: 25px;
			}
			&-info:nth-child(3) {
				h5 {
					font-size: 23px;
				}
				p {
					font-size: 15px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.general {
		&_container {
			display: block;
			&-img {
				height: 380px;
				display: block;
				width: 100%;
				margin: 0 auto;
				transform: none;
			}
			&-content {
				padding: 15px 40px;
				width: 90%;
				margin: 0;
				transform: none;
				h1 {
					font-size: 35px;
					line-height: 85.8%;
					transform: translateX(-10px);
					display: inline-block;
					&::after {
					    bottom: -1px;
					    height: 2px;
					    width: 20px;
					    right: -30px;
					}
				}
				span {
					display: none;
				}
				.italic {
					display: block;
					font-size: 16px;
					line-height: 85.8%;
					margin: 25px 0px;
				}
				ul {
					li {
						margin-left: 10px;
						p {
							font-size: 15px;
							line-height: 124.3%;		
							&::before {
								top: 3px;
							}
						}
					}
				}
			}
		}
		&_social {
			display: none;
		}
	}

	.header {
		display: none;
	}


	.dropdown {
		margin: 20px;
		&__wrapper {
			&-item {
				padding: 20px 30px 20px 10px;
				h3 {
					font-size: 19px;
					line-height: 119.3%;
				}
				.plus {
					width: 27px;
					height: 27px;
					right: 0;
				}
				.menu_container {
					padding-left: 20px;
					ul {
						li {
							margin-bottom: 10px;
						}
						li:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
			&-item:nth-child(2) {
				.drop-a {
					padding-right: 20%;
				}
			}
			&-item:nth-child(2), &-item:nth-child(3) {
				ul {
					li {
						text-indent: 20px;
					}
				}
			}
			.tarification {
				span:last-of-type {
					margin-top: 0;
				}
			}
		}
	}


	.services-quote {
		.container {
			.insurance__quote {
				font-size: 43px;
				line-height: 85.8%;
				padding-top: 110px;
				&::before {
					top: -49px;
					height: 128px;
				}
				span {
					margin-top: 22px;
				}
			}
		}
	}

	.images {
		margin-top: 50px;
		padding-top: 80px;
		img:first-child {
			width: 75%;
		}
		img:nth-child(2) {
			right: 40px;
		}
	}

	.contact {
		padding-top: 50px;
		&__wrapper {
			padding: 0px 40px;
			h3 {
				font-size: 31px;
				transform: none;
			}
			&-info {
				padding-left: 0;
				margin-bottom: 25px;
			}
			&-info:nth-child(3) {
				h5 {
					font-size: 19px;
				}
				p {
					font-size: 15px;
				}
			}
		}
	}
}






