@charset "utf-8";
/* CSS Document */

.mdl-layout__header{
	
	background: #fff;
	
}

.logo{
	
	width:              250px;
	margin-left:        30px;
}

.mdl-layout__header-row{
	

	padding:            0px 30px;
}

h4{
	
	margin: 16px 0px;
}

.mdl-layout__drawer.is-visible,
.mdl-layout__drawer{

	background: #fff;
	top: 64px;
    z-index: 2;
	position: fixed;
	bottom: 0px;
    max-height: inherit !important;
    height: initial !important;
	width: 260px;
	overflow-y: auto;
	
}

.mdl-layout__drawer{
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
}

.mdl-layout__obfuscator.is-visible{

	background: transparent;
}

.mdl-layout__drawer.is-visible~.mdl-layout__content.mdl-layout__content{
	
	overflow-y: auto!important;
}
a.mdl-navigation__link.main {
    border-bottom: 1px solid #ccc;
}
/*
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {

   	padding: 12px 10px 12px 40px;
	font: 400 13px Roboto,sans-serif;
	text-transform: uppercase;
   
}*/
.scrollnav {
    position: relative;
}

.scrollnav .material-icons {
    position: absolute;
    top: 12px;
    left: 25px;
    color: #757575;
	   font-size: 22px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.scroll-menu{
	
	     	padding: 16px 10px 16px 65px;
	font: 400 13px Roboto,sans-serif;
	text-transform: uppercase;
	
}

.mdl-navigation{
	
	padding-top: 0px !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.label{
	
	text-transform: none;
	padding: 4px 10px 0px 25px;
	font-size: 13px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.label:hover{
	
	background: transparent;
	
}

.border-bottom{
	
	border-bottom: 1px solid #ccc;
}

.activeMenu a{
	
	color: #ff5722 !important;
	font-weight: 500 !important;
	background: #e4e4e4;
}

.activeMenu .material-icons{
	color: #ff5722 !important;
	 
}

.mdl-layout__obfuscator.is-visible {
    background: transparent;
    overflow-y: hidden !important;
    visibility: hidden !important;
}



.floating-button {
    position: fixed;
    bottom: 50px;
    z-index: 5;
    right: 50px;
   
}

.floating-button .material-icons.floating {
    font-size: 30px;
    width: 30px;
    -webkit-transform: translate(-15px,-15px);
    transform: translate(-15px,-15px);
	line-height: 30px;
    color: #fff;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.stopAnimation{

  animation: none !important;
  -webkit-animation: none!important;
}


@keyframes bounce {
  from {
       transform: translateY(0px);
	   transform: translateX(-15px);
  }
  to {
   
	  
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
	   transform: translateX(-15px);
  }
  to {
   
	  
  }
}
.mdl-layout__tab-bar-container{
	
	position: 			absolute !important;
	right:              0px !important;
	top:                0px !important;
	width:              580px !important;
	height:             64px !important;
	background:         transparent !important;
}

.mdl-layout__header .mdl-layout__drawer-button{
	
	color: #212121;
	
}

.mdl-layout__tab-bar{
	
	background:         transparent;
}

.mdl-layout__tab-bar-left-button,
.mdl-layout__tab-bar-right-button
{
	
	display:            none;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
	
	background: 		#fff;       
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active,
.mdl-layout__tab{
	
	color: 				#fff;
	height:             64px;
	line-height:        60px;
}

.mdl-navigation__link.preped-links{

	color: #444;
	padding: 0px !important;
	line-height: 60px;

}

.mdl-menu__item a{
	
	color: #444;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto',arial,sans-serif;
}

.mdl-menu__item.active{
	
	border-bottom: 3px solid #ff5722;
	background-color: transparent;
}

.mdl-menu__item.active a{
	
	font-weight: 500;
}

/*
.navdiv.active .mdl-navigation__link.preped-links{
	
	border-bottom: 3px solid #fff;
	font-weight: bold;
	height: 56px !important;
	background: transparent !important;

}*/

.navdiv {
    margin: 0px 20px;
	color: #444;
	font-size: 14px;
	font-family: 'Roboto',arial,sans-serif;
	background: transparent !important;

}

a.active{
	
	color: #444;
    font-weight: 500;
	font-size: 14px;
	border-bottom: 3px solid #ff5722;
	font-family: 'Roboto',arial,sans-serif;
	background: transparent !important;
	padding: 0px!important;
}

.page-content{
	
	width: 1250px;
}

.mdl-layout__drawer-button2{
	
	display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 56px;
    font-family: Helvetica,Arial,sans-serif;
    margin: 8px 12px;
    top: 0;
    left: 0;
    background-color: inherit;
	color: #212121;                                                                                               
    z-index: 4;
}

.marginLeft{
	
	width: 1250px;
	
}
.top-section{
	

	padding: 40px 0px 60px 0px;
	height: auto !important;
	width: 100%;
	box-sizing: border-box;

}


.blue-section{
	
   background: #3c80c2;
	padding: 60px 0px 60px 0px;
	height: auto !important;
	width: 100%;
	box-sizing: border-box;

}

.mdl-blue-section{
	
   background: #2196f3;
	padding: 60px 0px 60px 0px;
	height: auto !important;
	width: 100%;
	box-sizing: border-box;

}

.mdl-bluelogo-section{
	
   background: #0a6fb6;
	padding: 60px 0px 60px 0px;
	height: auto !important;
	width: 100%;
	box-sizing: border-box;

}

.white-section{
	
   background: #fff;
	padding: 60px 0px 60px 0px;
	height: auto !important;
	width: 100%;
	box-sizing: border-box;

}

.lblue-section{
	
   	background: #85c9f9;
	padding: 60px 0px 60px 0px;
	height: auto !important;
	width: 100%;
	box-sizing: border-box;

}

.grey-section{
	
   background: #ecebe9;
	padding: 60px 0px 60px 0px;
	height: auto !important;
	width: 100%;
	box-sizing: border-box;

}


.headline{
    font-size: 50px;
    line-height: 65px;
	font-weight: 300;
	font-family: slab;
	color: #444;
	margin-top: 5px !important;
}


.subheadline {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
	color: #848484;
}

.headline-white{
    font-size: 50px;
    line-height: 65px;
	font-weight: 300;
	font-family: slab;
	color: #fff;
	margin-top: 5px !important;
}


.subheadline-white {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
	color: #fff;
}
.center-items{
	
	margin: 0 auto;
}

.lineheight{
	
	line-height:  28px;
}


.stratheadline{
	font-family:'slab';
	font-size: 38px;
    line-height: 45px; 
}

#mobile-menu{
	
	display: none;
}
@font-face{
	
	font-family:'slab';
	src:url('RobotoSlab-Light.ttf');
}

/* benefits*/


.mdl-card__title.mdl-card--expand{
	
	/*margin: 0 auto;
	width: 100%;
	height: 150px;
	padding: 0px !important;
	position: relative;*/
	    height: 134px;
    width: 100%;
	padding: 0px !important;
}

.image-container{
	    display: block;
    height: 100%;
    width: 100%;
	
}

.benefits-icon{
	/*position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/
	    max-height: inherit;
    min-height: inherit;
    position: static;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    width: 100%;
}

.mdl-card__title-text.preped-card-text{
		
	font-size: 18px  !important;
	    text-align: center !important;
    display: block;
}

.preped-card-desc{
	
	padding: 0px;
	height:160px;
	background: #fff;
	position: relative;
}

.mdl-card__supporting-text{
	
	color: #848484 !important;	
}

.preped-mdl-card__title {
        padding: 20px 16px 5px;
}

.preped-card{
	
	width: 90%;
	margin: 0 auto;
	background: #3c80c2;
	/*border: 1px solid #fff;*/
    
}

.preped-button-each {
	
	width: 140px!important;
	margin: 0 auto;
	margin-top: 20px;
}

.preped-button-green {
    background: #34ad07 !important;
    width: 140px;
    color:  #fff !important;
    height: 50px;
    line-height: 0px;
    font-size: 16px;
	font-weight: 400 !important;
}

.secondary-button{
	
	background: #3c80c2;
    color: #fff;
}

.secondary-button:hover{
	
	background: #3571ac!important;
    color: #fff!important;
	
}

.mdl-blue-button{
	
	background: #2196f3;
    color: #fff;
	
}

.mdl-blue-button:hover{
	
	background: #1b86da!important;
    color: #fff!important;
	
}



.mdl-bluelogo-button{
	
	background: #0a6fb6;
    color: #fff;
	
}

.mdl-bluelogo-button:hover{
	
	background: #09609e!important;
    color: #fff!important;
	
}

#screenshot-dialog{
	
	width: 80%
}

.x-button{
		
	position: absolute!important;
    top: 20px!important;
    right: 20px!important;
    min-width: 20px!important;
    padding: 0px 5px!important;
	background: transparent !important;
	box-shadow: none !important;

	
	
	}
/*dialog*/

	

.ui-icon.ui-icon-closethick{
	
	display: none;
}


.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
        position: absolute;
    top:0px!important;
    right: 0px!important;
    min-width: 20px!important;
    padding: 0px 5px!important;
    background: transparent !important;
    box-shadow: none !important;
    content: "x";
}

.ui-dialog{
	
	position: absolute !important;
    background: rgba(0, 0, 0, 0.8)!important;
    height: 100%!important;
    width: 100%!important;
    top: 0px!important;
    left: 0px!important;
	box-sizing: border-box;

}

#myIframe,
#myIframe2,
#myIframe3,
#myIframe4,
#myIframe5,
#myIframe6{
  	height: 100%;
	width: 100%;
	border: none;
}

#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	
	/*   margin: 50px auto;*/
	background: #fff;
	min-height: auto!important;
   
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);

	box-sizing: border-box;
	width: 1300px !important;
	height: 800px !important;
	position: relative;

	    position: absolute;

    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -650px;
}

 /*
dialog {
   margin: 50px auto;
	background: #fff;
	min-height: auto!important;
    height: 85%!important;
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	width: 70% !important;
	position: relative;
	display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    color: black;
    margin: auto;
    border-width: initial;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 1em;
    background: white;
}
*/
.laptop-screenshot{
	
	cursor: pointer;
}

.mdl-tooltip{
	
	margin-top: -175px !important;
}

/*reviews */

.reviews-container {
    padding: 30px 16px;
    box-sizing: border-box;
}



.reviews-card{
	
	background: #ecebe9;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    float: left;
    margin: 0px 10px 20px 10px;
    padding-bottom: 80px;
    vertical-align: top;
    width: 284px;
    height: 310px;
}

.reviewer{
	
	font-size: 22px;
    font-weight: 300;
	margin: 30px 0 15px 0;
	line-height: 30px;
}

.review-p{
	
	font-size: 13px;
	line-height: 1.54;
}



.ttr{
	
	background-image: url(images/sprite.png);
	background-position: -20px -141px;
	width: 49px;
	height: 78px;
}

.boffin{
	
	background-image: url(images/sprite.png);
	background-position: -160.5px -141px;
	width: 53px;
	height: 78px;
}

.lounge{
	
	background-image: url(images/sprite.png);
	background-position: -298px -141px;
	width: 78px;
	height: 78px;
}

.pcworld{
	
	background-image: url(images/sprite.png);
	background-position: -440px -141px;
	width: 150px;
	height: 78px;
}

.vocabulary{
		
	background-image: url(images/sprite.png);
	background-position: -679px -141px;
	width: 170px;
	height: 78px;
	
}

.redorbit{
		
	background-image: url(images/sprite.png);
	background-position: -20px -236px;
	width: 150px;
	height: 78px;
	
}


.typing{
		
	background-image: url(images/sprite.png);
	background-position: -244px -236px;
	width: 150px;
	height: 78px;
	
}

.crunchy{
		
	background-image: url(images/sprite.png);
	background-position: -520px -236px;
	width: 150px;
	height: 78px;
	
}

.experts-card{
	
	background: #ecebe9;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    float: left;
    margin: 0px 10px 20px 10px;
    padding-bottom: 80px;
    vertical-align: top;
    width: 384px;
    height: 320px;
}

.kathleen{
	
	background-image: url(images/sprite.png);
	background-position: -20px -19px;
	width: 78px;
	height: 78px;
}

.abby{
	
	background-image: url(images/sprite.png);
	background-position: -159.5px -19px;
	width: 78px;
	height: 78px;
}

.sean{
	
	background-image: url(images/sprite.png);
	background-position: -299.5px -19px;
	width: 78px;
	height: 78px;
}


.tina{
	
	background-image: url(images/sprite.png);
	background-position: -440px -19px;
	width: 78px;
	height: 78px;
}

.marie{
	
	background-image: url(images/sprite.png);
	background-position: -580px -19px;
	width: 78px;
	height: 78px;
}

.kris{
	
	background-image: url(images/sprite.png);
	background-position: -720px -19px;
	width: 78px;
	height: 78px;
}

.img-center{
	
	margin: 0px auto;
    width: 78px;
    height: 78px;
    display: block;
}

.expert{
	
	font-size: 22px;
    font-weight: 300;
	margin: 30px 0 0px 0;
	line-height: 30px;
}

.description{
	
	font-size: 14px;
    font-weight: 300;
	margin: 0px 0 20px 0;
	line-height: 20px;
}

.table-container {
    width: 1000px;
    margin: 0px auto;
	margin-top: 30px;
	background: #fff;
    padding: 20px;
}

.table-container table{
	width: 100%;
	border: none;
	white-space: inherit !important;
}

.left-col {
    background-color: #2196f3;
    text-align: left !important;
	width: 260px;
	 position: relative;
    height: 48px;
    padding: 12px 18px;
    box-sizing: border-box;
    vertical-align: middle;
	color:#fff;
}

.right-col{
	
	 text-align: left !important;
	 position: relative;
    height: 48px;
    padding: 12px 18px;
    box-sizing: border-box;
    vertical-align: middle;
	    background-color: #ecebe9;
}

.table-container table td {
  
    border-bottom: 5px solid #fff;   
}

.table-container table td{
	
	border-top: none;
}

.table-container table tr{
	
	background: #fff !important;
}

.left-col:hover{
	
	 background-color: #2196f3 !important;
}

.right-col:hover{
	
	  background-color: #ecebe9 !important;
}

.comparison-card{
    width: 90%;
    margin: 0px auto;
    display: block;
	padding: 40px;
	box-sizing: border-box;
}

.comparison-table{
	
	border-left: 1px solid #e0e0e0;
	width: 1000px;
    border-spacing: 0px;
    margin: 0px auto;
    display: block;
	position: relative;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}


#table-header.float{
	
	position: fixed;
	top: 60px;
	/*-webkit-transition: 0.5s ease-in all;
	-moz-transition: 0.5s ease-in all;
	transition: 0.5s ease-in all;*/
}



#table-header-main{
	
	position: absolute;
	top:0px;
}

/*

#table-header.float .greybg {
    width: 532px;
}

#table-header.float .bluebg {
    width: 200px;
}

#table-header.float .dgreybg {
    width: 190px;
}*/
.header{
	
	height: 60px;
	text-align: left;
    padding-left: 20px;
	line-height: 25px;
    padding: 10px 20px;
}

.greybg{
	
	background: #ecebe9;
	width: 500px;
	border-right:  1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	
}

.bluebg{
	
	background: #0a6fb6;
	color: #fff;
	border-right:  1px solid #e0e0e0;
}

.dgreybg{
	
	background: #444;
	color: #fff;
}

.featuredtd{
	
	width: 500px!important;
}

.comparison-table th{
	
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.comparison-table td{
	
	height: 80px;
	padding: 0px 20px;
	border-right:  1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	box-sizing: border-box;
}

.srtd{
	
	text-align: center !important;
	color: #000;
	font-weight: 600;
	background-color: rgba(30,136,229,.05);
	width: 250px!important;
}

.headertd{
	
	width: 250px!important;
}

	


.othertd{
	
	text-align: center;
	color: #000;
	font-weight: 600;
	    background-color: rgba(60,88,124,.05);
	width: 250px!important;
}

.infographic-container{
	
	width: 80%;
	margin: 0px auto;
	margin-top: 30px;
	display: block;
}


img.guarantee-img {
    width: 90%;
    margin: 30px auto;
    display: block;
}

.guarantee-content{
	
	/*position: absolute;
	top: 100px;*/
	
	position: absolute;
    top: 100px;
    width: 50%;
    left: 250px;
} 

.guarantee-col{
	
	margin-left: 45%;
	margin-top: 70px;
}

.bonus-container{
	
	
    width: 98%;
    padding: 20px;
    margin: 0px auto;
    display: block;
	box-sizing: border-box;
}

.spreeder-img2
{
	display: none;
}

.spreeder-img{
    width: 100%;
}

.order-button {
    max-width: 800px;
    margin: 0px auto;
    display: block;
    height: 60px;
    font-size: 25px;
    color: #fff !important;
    font-weight: 400;
	line-height: 25px;
}

.order-button:hover {
	
	background: #fd5824!important;
	
}

.order-label{
	
	margin-top: 15px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
	line-height: 20px;
}

.info-container {
    margin-top: 50px;
}

.info-card{
	
	background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    float: left;
    margin: 0px 10px 20px 10px;
    padding-bottom: 80px;
    vertical-align: top;
    width: 395px;
    height: 165px;
}


#credit-cards{
	
	background-image: url(images/sprite.png);
	background-position: -20px -350px;
	width: 256px;
	height: 35px;

}


#geotrust{
	
	background-image: url(images/sprite.png);
	background-position: -381px -346px;
	width: 86px;
	height: 43px;

}



#os{
	
	background-image: url(images/sprite.png);
	background-position: -520px -346px;
	width: 150px;
	height: 43px;

}

.faq-container {
    margin-top: 50px;
}

.accordionItem h2 {
		  	background-color: #fff;
    		padding: 0px 20px;
    		border-left: 5px solid #0a6fb6;
    		border-radius: 3px; 
		    margin: 5px 0px;
		
}

.accordionItem h2:hover{ 
		  cursor: pointer; 
}


.accordionItem div { 
		  margin: 0; 
		  padding: 1em 0.4em; 
		  background-color: #ecebe9; 
}

.accordionItem.hide h2 { 
		  color:#0a6fb6;
		  background-color: #fff;
}

.accordionItem.hide div { 
		  display: none; 
}
		
.faq-p{
			
			font-size: 14px !important;
			color:#0a6fb6;
}

.site-footer{
	
	background: #0a6fb6;
}

.footer-text{
	
	font-size: 14px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 300;
}

.footer-header{
	
	font-weight: 300;
}

.mdl-list{
	
	padding: 0px;
}

.footer-list li.mdl-list__item{
	
	min-height: inherit;
	padding: 5px 0px;
}

.footer-list li.mdl-list__item a{
	
	color: #fff;
	font-weight: 300;
	font-size: 14px;
}

@media (max-width: 1750px){
	
	.marginLeft{
	
	
		margin-left: 280px !important;
	
	}
	
}
		
@media (max-width: 1650px){
	
	
	
	.laptop-screenshot {
    	width: 100%;
	}

}


@media (max-width: 1550px){
	
	.marginLeft{
	
	
		width: 1150px;
	
	}
	
	#table-header.is-hidden{
	
		display: none;
	}
	
	.reviews-card.sidemenuActive{
		
		width: 254px;
		height: 350px;
	}
	
	.experts-card.sidemenuActive{
		width: 350px;
	}
	
	.featuredtd.sidemenuActive {
    	width: 450px!important;
	}
	
	.info-card.sidemenuActive{
		width: 360px;
	}
	
}

@media (max-width: 1450px){
	
	.marginLeft{
	
	
		width: 1050px;
	
	}
	
	.reviews-card.sidemenuActive {
    	width: 234px;
    	height: 370px;
	}
	
	.experts-card.sidemenuActive {
    	width: 317px;
	}
	
	
	.headertd.sidemenuActive,
	.srtd.sidemenuActive,
	.othertd.sidemenuActive{
    	width: 200px!important;
	}
	
	.info-card.sidemenuActive {
    	width: 330px;
	}
	
	.table-container.sidemenuActive {
    	width: 800px;
	}

}



@media (max-width: 1350px){
	
	
	.page-content{
		
		
		width: 1200px;
		
	}
	
	.marginLeft{
	
	
		width: 950px;
	
	}
	
	.reviews-card{
		
		width: 270px;
    	height: 330px;
		
	}
	
	.reviewer {
    	font-size: 20px;
	}
	
	.experts-card{
	    width: 368px;
    	height: 330px;
	}
	
	.spreeder-img{
		
		width: 100%;
	}
	
	.guarantee-content {
  
    	top: 90px;
    	left: 240px;
	}
	
	.info-card{
		
		width: 380px;
	}
	
	
	.reviews-card.sidemenuActive {
    	width: 208px;
    	height: 390px;
	}
	
	.experts-card.sidemenuActive {
    	width: 285px;
    	height: 350px;
	}
	
	.featuredtd.sidemenuActive {
    	width: 380px!important;
	}
	
	.info-card.sidemenuActive {
    	width: 295px;
    	height: 190px;
	}
	
	.preped-card-desc.sidemenuActive {
    	height: 200px;
	}
}


@media (max-width: 1250px){
	
	
	.page-content{
		
		
		width: 1100px;
		
	}
	
	.marginLeft{
	
	
		width: 850px;
	
	}
	
	.stratheadline {
    
    	font-size: 34px;
	}
	
	.headline{
		
		font-size: 40px;
		line-height: 55px;
		
	}
	
	.reviews-card {
    	width: 245px;
    	height: 340px;
	}
	
	.reviewer {
    	font-size: 18px;
		line-height: 25px;
	}
	
	.comparison-table {
   	 	width: 900px;
	}
	
	.srtd,
	.othertd,
	.headertd
	{
		width: 200px!important;
		
	}
	
	.experts-card {
    	width: 335px;
    	height: 330px;
	}
	
	.guarantee-col {
  
    	margin-top: 20px;
	}
	
	.guarantee {
    	font-size: 14px !important;
    	line-height: 20px !important;
	}
	
	.guarantee-content {
    
    	left: 220px;
	}
	
	.info-card {
    	width: 345px;
	}
	
	
	.reviews-card.sidemenuActive {
    	width: 385px;
    	height: 290px;
	}
	
	
	.experts-card.sidemenuActive {
    	width: 250px;
    	height: 390px;
	}
	
	.headertd.sidemenuActive, 
	.srtd.sidemenuActive, 
	.othertd.sidemenuActive {
    	width: 150px!important;
	}
	
	.info-card.sidemenuActive {
    	width: 100%;
    	height: 130px;
    	margin: 10px auto;
    	display: block;
    	box-sizing: border-box;
	}
	
	.accordionItem h2.sidemenuActive{
        line-height: 25px;
    	padding: 10px 20px;
	}
}

@media (max-width: 1150px){
	
	
	.page-content{
		
		
		width: 1000px;
		
	}
	
	.marginLeft{
	
	
		width: 750px;
	
	}
	
	.img-ss{
		
		width: 100%;
	}
	
	.stratsubheadline{
		
		font-size: 18px;
	}
	
	.stratheadline {
    
    	font-size: 32px;
	}
	
	.reviews-card {
    	width: 222px;
    	height: 390px;
	}
	
	.experts-card {
    	width: 300px;
    	height: 350px;
	}
	
	.greybg{
		
		width: 400px;
	}
	
	.comparison-table {
   	 	width: 800px;
	}
	
	
	
	.featuredtd {
    	width: 400px!important;
	}
	
	h4.typo-styles__demo.mdl-typography--font-light.mdl-typography--text-center.stratheadline.guarantee {
		
		width: 75%;
		line-height: 35px;
		margin: 0px auto;
	}
	
	.guarantee-col {
  
    	margin-top: 10px;
	}
	
	p.mdl-typography--title.mdl-typography--font-light.lineheight.stratsubheadline.guarantee {
    	
    	line-height: 20px!important;
	}
	
	.guarantee-content {
    
    	top: 70px;
    	left: 200px;
	}
	
	.info-card {
    	width: 312px;
    	height: 190px;
	}
	

	.preped-card-desc.sidemenuActive {
    	height: 220px;
	}
	
	.table-container.sidemenuActive {
    	width: 650px;
	}
	
	.reviews-card.sidemenuActive {
    	width: 335px;
	}
	
	.experts-card.sidemenuActive {
    	width: 335px;
		height: 330px;
	}
	
	.featuredtd.sidemenuActive {
    	width: 300px!important;
	}
	
}

@media (max-width: 1110px){
	

	.mdl-cell--4-col, .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet{
    	width: calc(50% - 16px);
	
	}
}






@media (max-width: 1050px){
	
	
	.page-content{
		
		
		width: 920px;
		
	}
	
	.marginLeft{
	
	
		width: 650px;
	
	}
	
	.stratheadline {
    
    	font-size: 30px;
		line-height: 35px;
	}
	
	
	
	.reviews-card {
    	width: 200px;
    	height: 400px;
	}
	
	.experts-card {
    	width: 275px;
    	height: 360px;
	}
	
	.table-container {
    	width: 900px;
	}
	
	.comparison-table {
    	width: 740px;
	}
	
	.srtd,
	.othertd,
	.headertd
	{
		width: 170px!important;
		
	}
	
	.guarantee-content {

    	left: 180px;
	}
	
	p.mdl-typography--title.mdl-typography--font-light.lineheight.stratsubheadline.guarantee {
    	font-size: 14px!important;
  
	}
	
	
	.guarantee {
    	font-size: 13px !important;
    	line-height: 17px !important;
	}
	
	.accordionItem h2 {
    	
    	padding: 15px 20px;
  
    	line-height: 25px;
	}
	
	.info-card {
    	width: 285px;
  
	}
	
	.preped-card-desc.sidemenuActive {
    	height: 200px;
	}
	
	.reviews-card.sidemenuActive {
    	width: 280px;
    	height: 300px;
	}
	
	.experts-card.sidemenuActive {
    	width: 285px;
    	height: 350px;
	}
	
	.featuredtd.sidemenuActive {
    	width: 280px!important;
	}
	
	.headertd.sidemenuActive, 
	.srtd.sidemenuActive, 
	.othertd.sidemenuActive {
    	width: 100px!important;
	}
	
}


@media screen and (max-width: 1024px){

.mdl-layout__header-row {
    height: 64px !important; 
  
}
	
	}

@media (max-width: 950px){
	
	
	.page-content{
		
		
		width: 750px;
		
	}
	
	.marginLeft{
	
	
		width: 500px;
	
	}
	
	.reviews-card{
		
		
    	width: 47%;
    	height: 300px;

	}
	
	.experts-card {
    	width: 218px;
    	height: 450px;
	}
	
	.table-container {
    	width: 90%;
	}
	
	.featuredtd {
    	width: 350px!important;
	}
	
	.comparison-table {
    	width: 590px;
	}
	
	.srtd, .othertd, .headertd {
    	width: 120px!important;
	}
	
	td.featuredtd.mdl-typography--headline.mdl-typography--font-light,
	td.headertd.mdl-typography--headline.mdl-typography--font-light {
    	font-size: 18px;
    	line-height: 25px;
	}
	
	.left-col{
		
		width: 240px;
	}
	
	img.guarantee-img {
    	width: 100%;
	}
	
	.guarantee-col{
		
		width: calc(50% - 16px);
		margin-left: 40%;
	}
	
	.guarantee-content {
    	left: 140px;
		width: 55%;
		top: 60px;
	}
	
	.guarantee {
    	font-size: 12px !important;
    	line-height: 13px !important;
	}
	
	.info-card {
    	width: 47%;
	}
	
}

@media (max-width: 840px){
	

	.preped-card-desc{
		
		height: 180px;
	}
	
	.mdl-cell--6-col, .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet,.mdl-cell--5-col{
    	width: calc(100% - 16px);
	}
	
	.img-ss {
    	width: 80%;
		margin: 0px auto;
		display: block;
	}
	
	.comparison-card {
    	width: 100%;
	}
	
	.guarantee-col{
		
		width: calc(55% - 16px) !important;
		
	}
	
	.guarantee-content {
    	left: 300px;
    	width: 50%;
    	top: 100px;
	}
	
	.guarantee {
    	font-size: 18px !important;
    	line-height: 25px !important;
	}
}


@media (max-width: 800px){
	
	
	.page-content{
		
		
		width: 680px;
		
	}
	
	.marginLeft{
	
	
		width: 430px;
	
	}
	
	.mdl-layout__header-row .mdl-navigation{
		
		display: none;
	}
	
	#mobile-menu{
	
		display: block;
	}
	
	.headline-white{
		
		font-size: 42px;
    	line-height: 50px;
	}
	
	.reviews-card {
    	width: 46%;
    	height: 300px;
	}
	
	.experts-card {
    	width: 46%;
    	height: 350px;
	}
	
	p.mdl-typography--title.mdl-typography--font-light.lineheight.stratsubheadline.guarantee {
    	font-size: 13px!important;
		line-height: 17px !important;
	}
	
	.guarantee-content {
    	top: 80px;
	}
}

@media (max-width: 700px){
	
	.mdl-layout__drawer{
		
		width: 200px;
	}
	
	.marginLeft{
	
	    width: 400px !important;
		margin-left: 220px !important;
	
	}
	.page-content{
		
		
		width: 560px;
		
	}
	
	.preped-card-desc {
    	height: 210px;
	}
	
	.reviews-card {
    	height: 330px;
	}
	.experts-card {
   
    	height: 380px;
	}
	
	.header{
		
		font-size: 20px !important;
	}
	
	.comparison-table td{
		
		font-size: 14px;
	}
	
	.comparison-table {
    	width: 480px;
	}
	.featuredtd {
    	width: 280px!important;
	}
	
	td.featuredtd.mdl-typography--headline.mdl-typography--font-light,
	td.headertd.mdl-typography--headline.mdl-typography--font-light {
    	font-size: 15px;
    	line-height: 20px;
	}
	
	.srtd, .othertd, .headertd {
    	width: 100px!important;
	}
	
	.guarantee {
    	font-size: 14px !important;
    	line-height: 20px !important;
	}
	
	.guarantee-content {
    	left: 230px;
 
	}
	
	.info-card {
    	width: 95%;
    	height: 150px;
	}
	
}

@media (max-width: 630px){

	.marginLeft{
	
	    width: 300px !important;
	
	
	}
}

@media (max-width: 600px){
	

	.mdl-cell--4-col, .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet{
    	width: calc(100% - 16px);
	
	}
	
	.preped-card-desc {
    	height: 150px;
	}
	
	.marginLeft{
	    width: 560px!important;
	    margin: 0 auto !important;
	
	
	}
	
	.order-button {
   
    	font-size: 20px;
	}
	
	.stratsubheadline {
    	font-size: 16px;
	}

	.lineheight {
    	line-height: 24px;
	}
	
	.right-col {
 
    	font-size: 14px;
    	line-height: 20px;
	}

}



@media (max-width: 580px){
	

	.page-content{
		
		
		width: 450px;
		
	}
	
	.marginLeft{
	   	width: 450px !important;
	  
	
	}
	
	
	.reviews-card {
    	height: 280px;
    	margin: 0 auto;
    	box-sizing: border-box;
    	margin-bottom: 20px;
		width: 100%;
	}
	
	.experts-card {
    	height: 320px;
    	width: 100%;
    	margin: 0 auto;
    	box-sizing: border-box;
    	margin-bottom: 20px;
	}
	
	
	.left-col,
	.right-col{
    	width: 100%;
    	float: left;
	}
	
	.right-col{
		
		height: inherit;
	}
	
	.spreeder-img{
		
		display: none;
	}
	.spreeder-img2{	
		display: block;
		width: 100%;
	}
	
	.guarantee-content {
    	left: 180px;
	}
	
	.guarantee {
    	font-size: 12px !important;
    	line-height: 13px !important;
	}
	
	.guarantee-content {
    	left: 150px;
    	top: 60px;
    	width: 52%;
	}
	
	.comparison-table td {
    
    	padding: 0px 10px;
		font-size: 13px;
	}
	
	.comparison-table {
    	width: 380px;
	}
	
	.featuredtd {
    	width: 220px!important;
	}
	
	.srtd, .othertd, .headertd {
    	width: 80px!important;
	}
	

}

@media (max-width: 500px){
	
	
	.preped-card-desc {
    	height: 160px;
	}
	
	
	.page-content{
		
		
		width: 400px;
		
	}
	
	.marginLeft{
	   	width: 400px !important;
	  
	
	}
	
	
	.headline {
    	font-size: 35px;
    	line-height: 45px;
	}
	
	.stratheadline {
    	font-size: 28px;
    	line-height: 35px;
		
	}
	
	.header{
		
		padding: 10px;
	}
	
	.accordionItem h2 {
		
		    line-height: 25px;
		padding: 10px 20px;
	}
	
	.featuredtd {
    	width: 160px!important;
	}
	
	.comparison-table {
    	width: 320px;
	}

}


@media (max-width: 450px){
	
	.page-content{
		
		
		width: 350px;
		
	}
	
	.marginLeft{
	   	width: 350px !important;
	  
	
	}
	
	.comparison-table td {
  
    	line-height: 17px;
	}
	
	.comparison-table {
    	width: 280px;
	}
	
	.featuredtd {
    	width: 120px!important;
	}
	
	.guarantee-content {
    	left: 125px;
    	top: 55px;
    	width: 55%;
	}
	
	.guarantee {
    	font-size: 10px !important;
    	line-height: 12px !important;
	}
}



/* dialog responsive css*/


@media (max-width: 1400px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 1100px !important;
	height: 680px !important;
    margin-top: -340px;
    margin-left: -550px;
}
	
	

}


@media (max-width: 1150px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 900px !important;
	height: 550px !important;
    margin-top: -275px;
    margin-left: -450px;
}
	
	

}

@media (max-width: 950px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 600px !important;
	height: 400px !important;
    margin-top: -200px;
    margin-left: -300px;
}
	

	

}


@media (max-width: 630px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 370px !important;
	height: 400px !important;
   margin-top: -200px;
    margin-left: -185px;
}
	
	

}



@media (max-height: 830px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 1100px !important;
	height: 680px !important;
    margin-top: -340px;
    margin-left: -550px;
}
	
	

}

@media (max-height: 675px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 900px !important;
	height: 550px !important;
    margin-top: -275px;
    margin-left: -450px;
}
	
	

}

@media (max-height: 530px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 600px !important;
	height: 400px !important;
    margin-top: -200px;
    margin-left: -300px;
}

}


@media (max-height: 830px) and (max-width: 1150px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 900px !important;
	height: 550px !important;
    margin-top: -275px;
    margin-left: -450px;
}

}


@media (max-height: 830px) and (max-width: 950px){


#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 600px !important;
	height: 400px !important;
    margin-top: -200px;
    margin-left: -300px;
}

}

@media (max-height: 830px) and (max-width: 675px)  {
	
#dialog,
#dialog2,
#dialog3,
#dialog4,
#dialog5,
#dialog6{
	

	
	box-sizing: border-box;
	width: 370px !important;
	height: 400px !important;
   margin-top: -200px;
    margin-left: -185px;
}
}


/* dialog responsive css*/


/* ninja slider */

/* {box-sizing:border-box}*/

/* Slideshow container */
.slideshow-container {
  max-width: 576px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.first{
	
	display: block;
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: #444;
  font-weight: bold;
  font-size: 40px !important;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  left: -30px !important;

}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: #444;
  font-weight: bold;
  font-size: 40px!important;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  right: -30px !important;
}

.next .material-icons,
.prev .material-icons{
	
  font-size: 40px!important;
}
.frame.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  outline: none;
  margin-top: -22px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  	border-radius: 50%;
  left: 50px !important;
  	background: #0a0a0a;
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.frame.next:hover, 
.frame.prev:hover{
	
	background: #2196f3;
}

.frame.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  outline: none;
  margin-top: -22px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  	border-radius: 50%;
  right: 50px !important;
	background: #0a0a0a;
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);


}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(204,204,204,0.4);
}

/* Caption text */
.text {
  color: #444;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
padding: 8px 12px;
position: absolute;
bottom: -50px;
width: 100%;
text-align: center;
font-family: 'Roboto',arial,sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



