@font-face { 
   font-family: 'canela';  
   font-weight: 400;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('Canela-Regular'),
       url('../fonts/Canela-Regular.woff2') format('woff2'),
       url('../fonts/Canela-Regular.woff') format('woff'),
       url('../fonts/Canela-Regular.ttf') format('ttf'),
       url('../fonts/Canela-Regular.eot') format('eot');
   font-display: block;
}
@font-face { 
   font-family: 'f37';  
   font-weight: 400;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('F37GingerPro-Regular'),
       url('../fonts/F37GingerPro-Regular.woff2') format('woff2'),
       url('../fonts/F37GingerPro-Regular.woff') format('woff'),
       url('../fonts/F37GingerPro-Regular.ttf') format('ttf'),
       url('../fonts/F37GingerPro-Regular.eot') format('eot');
   font-display: block;
}

$a: #A0393A;
body {
	min-width: 320px;
	position: relative;
	font-size: 22px;
	line-height: 1.27;
	overflow-x: hidden;
	color: #C9D5EB;
	font-family: 'f37';
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.bg-dark {
	background: #222222;
}
.bg-darker {
	background: #151515;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	// >div {
	// 	flex-grow: 1;
	// }
	&.fdc {
		flex-direction: column;
	}
	&.fw {
		flex-wrap: wrap;
	}
	&.aic {
		align-items: center;
	}
	&.jcsb {
		justify-content: space-between;
	}
	&.jcc {
		justify-content: center;
	}
	&.g16 {
		gap: 16px;
	}
	&.g20 {
		gap: 20px;
	}
	&.g24 {
		gap: 24px;
	}
	&.g40 {
		gap: 40px;
	}
}
ul,li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	color: #fff;
	line-height: 1.2;
	font-family: 'canela';
}
h1 {
	font-size: 64px;
	line-height: 1.18;
}
h2 {
	font-size: 45px;
	line-height: 1.15;
	max-width: 730px; 
	margin: 0 auto 34px;
}
h3 {
	font-size: 35px;
}
h4 {
	// font-size: 1.5rem;
}

.cont {
	max-width: 975px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	&-lg {
		max-width: 1110px;
	}
}
// .section {
// 	&-regular {
// 		padding: 90px 0;
// 	}
// 	&-title {
// 		text-align: center;
// 		max-width: 900px;
// 		margin: 0 auto 70px;
// 		h2 {
// 			margin-bottom: 1rem;
// 		}
// 		p {
// 			font-size: 1.2rem;
// 		}
// 	}
// }
.tac {
	text-align: center;
}
.btn {
	color: #fff;
	padding: 18px 38px;
	background: $a;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 0px;
	font-family: 'f37';
	transition: .3s;
	letter-spacing: .1em;
	&.flex {
		display: flex;
	}
	&:focus {
		outline: none;
	}
	&-flat {
		background: none;
		border: 1px solid $a;
		color: $a;
		path {
			transition: .3s;
		}
		&:hover {
			background: $a;
			color: #fff;
			path {
				fill: #fff;
			}
		}
	}
	&-alt {
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid #FFFFFF;
		padding: 11px 32px;
		backdrop-filter: blur(20px);
	}
	&-sm {
		padding: 12px 16px;
	}
}
section {
	padding: 70px 25px;
	position: relative;
}

.header {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	padding: 30px 25px;
	z-index: 3;
	&__logo {
		display: inline-block;
		width: 161px;
	}
	&__nav {
		margin-left: 110px;
		a {
			font-size: 16px;
			text-transform: uppercase;
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
			&.active {
				color: #A0393A;
			}
		}
	}

	&__mob-nav {
		background: linear-gradient(270.21deg, rgba(34, 34, 34, 0.6) 8.39%, rgba(34, 34, 34, 0.8) 87.03%);
		backdrop-filter: blur(20px);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 4;
		display: none;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: .3s;
		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			.wrap {
				transform: translate3d(0%, 0px, 0px);
			}
		}
		.wrap {
			display: flex;
			transform: translate3d(-100%, 0px, 0px);
			transition: transform 1s .3s cubic-bezier(0.25, 1, 0.5, 1);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		a {
			font-family: "canela";
			font-size: 40px;
			margin-bottom: 24px;
			&.active {
				color: #A0393A;
			}
		}
		.separator {
			display: block;
			width: 255px;
			margin: 24px auto 48px;
			opacity: .2;
			border-top: 1px solid #C6C6C6;
		}
		.close {
			position: absolute;
			width: 24px;
			top: 16px;
			left: 24px;
		}
	}
	&__social {
		margin-top: 60px;
		a {
			width: 24px;
		}
	}
	&-profile {
		nav a {
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			text-transform: initial;
			margin-left: 50px;
			margin-right: 0;
			&.active {

			}
		}
		.header__mob-nav a {
			font-size: 30px;
		}
	}
}
img,svg {
	display: block;
	width: 100%;
	height: auto;
}
.img-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-position: center center;
	object-fit: cover;
	z-index: 1;
}
.hero {
	position: relative;
	background: linear-gradient(180deg, #222222 0%, #313131 100%);
	height: 100vh;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	p {
		margin: 24px 0 44px;
		font-size: 28px;
	}
	.cont {
		position: relative;
		z-index: 2;
	}
}
.text-image {
	.btn {
		margin-top: 30px;
	}
		
}
.mob-max-none {
		max-width: 540px;
		margin: 0 auto;
}
.links {
	&__flex {
		margin-top: 55px;
		&-item {
			padding: 64px 50px 70px;
			h3 {
				margin-bottom: 45px;
			}
		}
	}
	p {
		max-width: 810px;
		margin: 0 auto;
	}
}
.how {
	background: #FAFAFA;
	&-banner {
		padding: 175px 25px;
		.img-cover {
			object-position: 10% center;
		}

		h2 {
			color: #151515;
			margin: 0;
			line-height: 1.5;
		}
	}
	&__wrap {
		position: relative;
	}
	&__line, &__line-active {
		position: absolute;
		width: 1px;
		height: 100%;
		background: #C9D5EB;
		left: 34px;
		top: 0;
		z-index: 1;
		overflow: hidden;
	}
	&__line-active {
		transform: scale3d(1, 0.1, 1);
		transform-origin: center top;
		background: #B96664;
		left: 0;
		z-index: 2;
	}
	&__number {
		width: 68px;
		min-width: 68px;
		height: 68px;
		margin-right: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: #fff;
		border: 1px solid #C9D5EB;
		font-size: 25px;
		line-height: 1;
		color: #222222;
		transition: .3s;
		&.active {
			background: #A0393A;
			transition: .3s;
			border-color:#A0393A;
			color: #fff;
		}
	}
	&__list {
		position: relative;
		z-index: 2;
	}
	&__item {
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
		&.in-view {
			.how__box {
				opacity: 1;
				transition: .3s;
				h4 {
					color: #A0393A;
					transition: .3s;
				}
			}
		}
	}
	&__box {
		opacity: .6;
		background: #fff;
		padding: 24px;
		transition: .3s;
		border: 1px solid #C9D5EB;

		h4 {
			font-size: 20px;
			font-family: 'f37';
			transition: .3s;
			text-transform: uppercase;
			color: #313131;
			margin-bottom: 16px;
		}
		p {
			font-size: 18px;
			color: #222222;
		}
	}
}
.half-right {
	.cont {
		display: flex;
		justify-content: flex-end;
	}
	&__block {
		width: 53%;
	}
}
.offer {
	.img-cover {
		object-position: 25% center;
	}
	h2 {
		font-size: 50px;
		margin-bottom: 24px;
	}
	p {
		color: #fff;
		font-size: 20px;
		margin-bottom: 40px;
		line-height: 1.5;
	}
}
.grid {
	display: grid;
	&.g16 {
		gap: 16px;
	}
	&.col2 {
		grid-template-columns: repeat(2, 1fr);
	}
	&.col3 {
		grid-template-columns: repeat(3, 1fr);
	}
	&.col2-1 {
		grid-template-columns: 2fr 1fr;
	}
}
.profile {
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #F2F2F2;
	h1,h2,h3,h4,h5,h6 {
		color: #333;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
	}
	h3,h4,h5,h6 {
		letter-spacing: .02em;
	}
	.btn {
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 0;
		text-transform: initial;
		padding: 11px 10px 9px;
		width: 100%;
		text-align: center;
		font-weight: 500;
		svg {
			width: 14px;
			margin-right: 7px;
			position: relative;
			top: -2px;
		}
		&:hover {

		}
	}
	&-top {
		margin-bottom: 32px;
	}
	&-name {
		h2 {
			color: #2B3038;
			font-size: 24px;
			margin: 0;
			white-space: nowrap;
		}
		svg {
			width: 97px;
		}
	}
	&-icon {
		margin-bottom: 12px;

		&:last-child {
			margin: 0;
		}
		svg {
			width: 16px;
			margin-right: 6px;
		}
	}
	&-agent {
		h6 {
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 8px;
		}
		img {
			width: 40px;
			min-width: 40px;
			margin-right: 12px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			object-fit: cover;
		}
	}
	&-buttons {

	}
	&-data {
		margin-top: 24px;
	}
	&-tabs {
		width: calc((100% + 16px) / 3 * 2);
		color: #333;
		background: #fff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
		border-radius: 2px;
		overflow: hidden;

		.question {
			background: #C7DDF4;
			cursor: pointer;
			transition: .3s;
			padding: 20px 16px;
			gap: 20px;
			h6 {
				font-size: 16px;
				font-weight: 500;
				text-transform: uppercase;
			}
			svg {
				width: 18px;
				transition: .3s;
			}
			rect{
				transition: .2s;
			}
			&.active {
				svg {
					transform: rotate(180deg)
				}
				rect:last-child {
					opacity: 0;
					transition: .2s;
				}
				& + .answer {
					visibility: visible;
					opacity: 1;
					transform: scaleY(1);
				}
			}
		}
		.answer {
			height: 0;
			opacity: 0;
			visibility: hidden;
			transform: scaleY(.6);
			transform-origin: center top;
			transition: .3s;
		}
	}
	&-info {
		padding: 20px 16px;
		&:nth-child(2n) {
			background: #FAFCFF;
		}
		&-list {
			gap: 4px 24px;
			padding: 0;
			width: 100%;
			b {
				margin-bottom: 6px;
			}
		}
		> div {
			width: 50%;
		}
		> b {
			width: calc(50% - 12px);
		}
		.full {
			width: 100%;
		}
		p {
			line-height: 22px;
		}
		span, b {
			display: block;
		}
		span {
			margin-bottom: 16px;
		}
		.bold {
			font-weight: 700;
		}
	}
	.shadow {
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
		background: #fff;
		padding: 24px;
	}
	&-note {
		width: calc((100% - 16px) / 3);
		padding: 24px;
		h3 {
			font-size: 22px;
			font-weight: 500;
			margin-bottom: 10px;
		}
		p {
			font-style: italic;
			line-height: 27px;
		}
	}
}
.footer {
	padding: 63px 25px 75px;
	&__lists {
		padding: 30px 0;
		margin-top: 30px;
		border-top: 1px solid #C9D5EB;
		border-bottom: 1px solid #C9D5EB;
		a {
			color: #DADADA;
			display: block;
			font-size: 14px;
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__social {
		align-self: flex-start;
		a {
			margin-bottom: 0;
		}
	}
}
.mob{
	display: none;
}
.relative {
	position: relative;
}




@import "media";
