@font-face { 
    font-family: 'stempel';  
    font-weight: 400;  
    font-style: normal;
    unicode-range: U+000-5FF;
    src: url('../fonts/stempelgaramondltstd-roman-webfont.woff2') format('woff2'),
        url('../fonts/stempelgaramondltstd-roman-webfont.woff') format('woff'),
        url('../fonts/stempelgaramondltstd-roman-webfont.ttf') format('ttf'),
        url('../fonts/stempelgaramondltstd-roman-webfont.eot') format('eot');
    font-display: swap;
 }

 @font-face { 
    font-family: 'stempel';  
    font-weight: 700;  
    font-style: normal;
    unicode-range: U+000-5FF;
    src: url('../fonts/bold/stempel.woff2') format('woff2'),
        url('../fonts/bold/stempel.ttf') format('ttf'),
        url('../fonts/bold/stempel.eot') format('eot');
    font-display: swap;
 }

 @font-face { 
    font-family: 'stempel';  
    font-weight: 400;  
    font-style: italic;
    unicode-range: U+000-5FF;
    src: url('../fonts/stempelgaramondltstd-italic-webfont.woff2') format('woff2'),
        url('../fonts/stempelgaramondltstd-italic-webfont.woff') format('woff'),
        url('../fonts/stempelgaramondltstd-italic-webfont.ttf') format('ttf'),
        url('../fonts/stempelgaramondltstd-italic-webfont.eot') format('eot');
    font-display: swap;
 }
 @font-face { 
    font-family: 'grotesk';  
    font-weight: 500;  
    font-style: normal;
    unicode-range: U+000-5FF;
    src: url('../fonts/NeueHaasDisplay-Medium.woff2') format('woff2'),
        url('../fonts/NeueHaasDisplay-Medium.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Medium.ttf') format('ttf'),
        url('../fonts/NeueHaasDisplay-Medium.eot') format('eot');
    font-display: swap;
 }
 
 $accent: #EB4733;
 $footer: #660018;
 
 html {
    font-size: calc(100vw / 1440);
 }
 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 a {
     text-decoration: none;
     color: inherit;
 }
 li {
     list-style: none;
 }
 input,
 button,
 select, 
 textarea {
     -webkit-appearance: none;
     appearance: none;
     border: none;
     background: none;
     font-family: 'stempel';  
    &:focus {
        outline: none;
    }
 }
 
 body {
     font-size: 22rem;
     min-width: 320px;
     line-height: 1.32;
     color: #000;
     font-family: 'stempel';
 }

.cont {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 1300rem;
}

header,section,footer {
    padding-left: 30px;
    padding-right: 30px;
}

section {
    padding-top: 120rem;
    padding-bottom: 120rem;
}

img,svg {
	display: block;
	width: 100%;
	height: auto;
}

.flex {
	display: flex;
	&.jcsb {
		justify-content: space-between;
	}
	&.jcc {
		justify-content: center;
	}
	&.jcfe {
		justify-content: flex-end;
	}
	&.aic {
		align-items: center;
	}
	&.aife {
		align-items: flex-end;
	}
	&.aifs {
		align-items: flex-start;
	}
    &.col {
        flex-direction: column;
    }
    &__grow {
        flex-grow: 1;
    }
	&__half {
        width: 50%;
	}

}

.color-accent {
    color: $accent;
}

.text {
    padding-top: 240rem;
    padding-bottom: 200rem;

    &__wrap {
        max-width: 970rem;
    }
    h1 {
        margin-bottom: 135rem;
        display: block;
    }
    b {
        display: block;
        margin-top: 64rem;
    }
    p {
        display: block;
        margin-top: 24rem;
    }

	&-center {
		text-align: center;
	}

    &-accent {
        font-size: 40rem;
        color: $accent;
        line-height: 1.2;
        letter-spacing: 0.05em;
    }

    &-label {
        font-family: 'grotesk';
        font-style: normal;
        font-weight: 500;
        font-size: 15rem;
        line-height: 22rem;
        letter-spacing: 0.3em;
        text-transform: uppercase;
    }

    &-link {
        display: inline-block;
        font-style: italic;
        position: relative;
        overflow: hidden;
        padding: 6px 0;

        &::after, &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1.5px;
            background: #000;
            bottom: 10px;
            left: 0;
        }
        &::after {
            transform: translate3d(-100%, 0, 0);
        }
        &::before {
            transform: translate3d(100%, 0, 0);
            transition: transform .3s 0s;
        }
        &:hover::after {
            transform: translate3d(0, 0, 0);
            transition: transform .3s;
        }
        &:hover::before {
            transform: translate3d(0, 0, 0);
            transition: transform 0s .3s;
        }
    }

    b {
        font-weight: 700;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    em {
        font-style: italic;
    }
}
h1 {
    font-size: 80rem;
    line-height: 1.15;
    &.lg {
        font-size: 120rem;
    }
}

h2 {   
    line-height: 1;
    &.lg {
        font-size: 88rem;
    }
}

h3 {
    font-size: 42rem;
}

h4 {
    font-size: 32rem;
}

h5 {
    font-size: 22rem;
}

h6 {
    font-size: 16rem;
}

.rel {
	position: relative;
}
.abs-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.abs-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.btn {
	color: #fff;
	background: $footer;
	font-size: 22rem;
    display: block;
    width: 100%;
    line-height: 60rem;
	cursor: pointer;
	transition: .3s;

	&:focus {
		outline: none;
	}
	&:hover {
		background: #530114;
		color: #fff;
		transition: .3s;
	}
}

.tab {
    border-top: 1px solid rgba(0,0,0,.35);

	&__title {
		cursor: pointer;
		transition: .3s;
		user-select: none;
		padding: 6px 0;
		
		img {
            width: 9px;
			transition: transform .25s;
		}
		&.active {
			img {
				transform: rotate(180deg);
			}
			& + .tab__content {
				visibility: visible;
				opacity: 1;
				transform: scaleY(1);
			}
		}
	}
	&__content {
		height: 0;
		position: relative;
		opacity: 0;
		visibility: hidden;
		transform: scaleY(.2);
		transform-origin: center top;
		transition: .3s;
		&-wrap {
			padding: 4px 0 20px;
		}
        p {
            font-size: 16px;
        }
	}
}