@media (min-width: 992px) and (max-width: 1399px) {
  [data-forh-element="grid"] [class*="col-"] > div {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgba(164, 41, 45, 0.5);
    opacity: 0.5; }
  body {
    /* background-color: rgba(255,0,0,.1);*/ }
  a.logo img {
    margin-top: 15px;
    border: 1px solid brown; }
  ul li.nav-item {
    padding-left: calc(var(--bs-gutter-x)*0.75) !important;
    padding-right: calc(var(--bs-gutter-x)*0.75); }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    /* background-color: rgba(255,0,0,.1);*/ }
  a.logo img {
    margin-top: 13px;
    border: 1px dotted brown; }
  ul li.nav-item {
    padding-left: calc(var(--bs-gutter-x)*0.5) !important;
    padding-right: calc(var(--bs-gutter-x)*0.5); }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-size: 1.1rem; } }
