@media (min-width: 576px) and (max-width: 767.98px) {
  [data-forh-element="grid"] [class*="col-"] > div {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgba(19, 19, 252, 0.5);
    opacity: 0.5; }
  a.logo img {
    border: 1px solid blue; }
  html, body {
    font-size: 12px !important; }
  h1 {
    font-size: 4rem; }
  .margin200 {
    margin-top: 330px; }
  .introtext {
    margin-top: 130px; }
  nav.navbar {
    height: 203px; }
  nav div ul.navbar-nav {
    border: 1px solid green;
    width: 100%;
    margin-top: 0.75rem; }
    nav div ul.navbar-nav li.nav-item {
      padding-left: calc(var(--bs-gutter-x) / 2) !important;
      padding-top: .25rem;
      padding-bottom: .25rem; }
      nav div ul.navbar-nav li.nav-item a.nav-link {
        font-size: 1.5rem;
        font-weight: 600; } }
