@import 'fonts';

$acc: #AEC236;
$cubic: cubic-bezier(.69,-0.3,.08,1.1);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: #000;
	font-family:"museo-sans";
}
a {
	color: #000;
	text-decoration: none;
	transition: .2s;
	&:hover {
		text-decoration: none;
		color: #000;
		transition: .2s;
	}
}
li {
	list-style: none;
}
input,
button,
select, 
textarea {
	-webkit-appearance: none;
	&:focus {
		border: none;
		outline: none;
	}
}


header, section, footer {
	padding: 7vw 30px;
}
header {
	padding-top: 25px;
	padding-bottom: 25px;
}
footer {
	padding-top: 60px;
	padding-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight: 800;
	color: #000;
	line-height: 1.2;
	strong {
		display: block;
		font-weight: inherit;
		color: $acc;
	}
}
h2 {
	margin-bottom: 7vw;
}
h1,h2 {
	font-size: 6vw;
}
h3 {
	font-size: 3.1vw;
	font-weight: 800;
}
h4 {

}
h5 {
	font-size: 21px;
	line-height: 1.5;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
p {
	font-size: 20px;
	text-align: justify;
	font-weight: 300;
	&.p-lg {
		font-size: 2.5vw;
		font-weight: 500;
		line-height: 1.35;
		margin-bottom: 50px;
		text-transform: initial;
	}
}

.overflow {
	position: relative;
	width: 100%;
	display: block;
	overflow-x: hidden;
}

.cont {
	max-width: 980px;
	max-width: 72vw;
	margin: 0 auto;
	&-lg {
		max-width: 1150px;
		max-width: 84vw;
		margin: 0 auto;
	}
	&-xlg {
		max-width: 1280px;
		max-width: 90vw;
	}
}

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	&.col3 {
		align-items: flex-start;
		> * {
			width: calc(33% - 50px);
		}
	}
}

.btn {
	display: inline-block;
	font-size: 21px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 60px 60px 60px 0;
    text-decoration: none;

	&:focus {
		outline: none;
	}
	&-arr {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 50%;
		right: 30px;
		transform: translate3d(0, -50%, 0);
		transition: .25s;
		&::after {
		    content: '';
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    left: 0;
		    top: 0;
		    border: 2px solid #000;
		    transform: rotate(-45deg);
		    border-top: 0;
		    border-left: 0;
		    transition: .25s;
		}
	}
	
	&-lg {
		max-width: 790px;
		width: 100%;
		text-align: center;
		font-size: 21px;
	    color: #000;
	    text-transform: uppercase;
	    font-weight: 700;
	    position: relative;
	    padding: 27px 30px;
	    text-decoration: none;
	    background: #aec037;
	    border-radius: 20px;
	    transition: .2s ease-out;
	}
	&-rotate {
		padding: 8px 25px;
	    position: relative;
	}
	&-rotate {
		&-blob {
			z-index: -1;
			position: absolute;
			width: 170px;
			height: 100%;
			top: 0;
			left: 50%;
			transform: translate3d(-50%,0,0);
			transition: width .3s;
			&::after {
			    content: '';
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    background: #aec037;
			    left: 0;
			    z-index: -1;
			    border-radius: 12px;
			    transform: rotate3d(0, 0, 1, -60deg);
			    transform-origin: center center;
			    transition: transform .3s;
			}
		}
	}
	&:hover {
		text-decoration: none;
		color: #000;
	}
	&-lg:hover {
		transition: .2s ease-out;
		transform: scale(1.02);
	}
	&:hover .btn-rotate-blob {
		width: 100%;
	    transition: width .5s $cubic;
		&::after {
			transform: rotate3d(0, 0, 1, 0);
		    transition: transform .5s $cubic;
		}
	}
	&:hover .btn-arr {
		transition: .5s $cubic;
		width: 22px;
		height: 22px;
		
		&::after {
		    transition: .5s $cubic;
		    transform: translate3d(15px,0,0) rotate(-45deg);
		    // transform-origin: 50% 50%;
		}
	}
}

.header {
	&__logo {
		max-width: 160px;
	}
	&__nav {
		a {
			font-size: 13px;
			color: #000;
			font-weight: 700;
			margin-left: 30px;
			text-transform: uppercase;

		}
	}

}
.hero {
	position: relative;
	padding: 0 30px;
	.cont {
		padding: 7vw 0;
		// min-height: calc(100vh - 76px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__arrow {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 4vw;
		display: flex;
		align-items: center;
		transform: translate3d(80%, 0, 0px) rotate(90deg);
		transform-origin: 0 50%;
		transition: .3s ;
		&:hover {
			transform: translate3d(80%, 10px, 0px) rotate(90deg);
			transition: .5s $cubic;
		}
		.line {
			content: '';
			height: 8vw;
			position: relative;
			left: -1px;
			width: 20vw;
			background: none;
			order:1;
			border-radius: 3px;
			&::after {
				position: absolute;
				width: 100%;
				height: 2px;
				top: 50%;
				left: 0;
				transform: translate3d(0, -50%, 0px);
				content: '';
				background: #000;
			}
		}
		.arr {
			width: 5vw;
			height: 5vw;
			border: 2px solid #000;
			background: none;
			order: 2;
			left: 0;
			border-right: 0;
			border-top: 0;
			transform: translate3d(0, -50%, 0px) rotate(-135deg);
			transform-origin: 0 100%;
		}
		p {
			text-transform: uppercase;
			transform-origin: 100% 45%;
			font-size: 20px;
			font-weight: 700;
			margin-right: 20px;

		}
	}
	&__icons.flex {
		margin-top: 40px;
		justify-content: flex-start;
		img {
			width: auto;
			height: auto;
			max-width: 130px;
			max-height: 25px;
			margin-right: 30px;
			&:nth-child(3), &:nth-child(4) {
				max-height: 35px;
			}
		}
		
	}
}
.acc {
	color: $acc;
}
.text-block {
	.cont {
		max-width: 65vw;
	}
	p {
		font-weight: 500;
		margin-bottom: 30px;
	}
	.p-lg {
		margin-bottom: 50px;
	}
	&.center {
		text-align: center;
		p {
			margin-bottom: 30px;
		}
	}
	&.left {
		text-align: left;
		.cont {
			max-width: 84vw;
			p,h2 {
				max-width: 65vw;
			}
		}
	}
}
.line {
	padding-top: 3vw;
	padding-bottom: 3vw;
	position: relative;
	.flex {
		justify-content: flex-end;
	}
	&.in-view {
		&::before {
			transition: transform 1.5s .2s $cubic;
			transform:  translate3d(0, -50%, 0) scale3d(1, 1, 1);
		}
		&.acc {
			&::before{ 
				max-width: 190px;
				width: 100%;
				transform:  translate3d(0, -50%, 0) scale3d(1, 1, 1);
			}
		}
	}
	&.acc {
		&::before {
			left: 0;
			height: 10px;
			background: $acc;
			border-radius: 3px;
			transform:  translate3d(0, -50%, 0) scale3d(0, 1.0, 1.0);
		}
	}
	&::before {
		position: absolute;
		top: 50%;
		left: 0;
		width: 30vw;
		max-width: 100%;
		height: 2px;
		background: #000;
		content: '';
		left: 0;
		transform-origin: 0 50%;
		transform: translate3d(0, -50%, 0) scale3d(0, 1.0, 1.0);
	}
	&.right {
		&::before {
			left: auto;
			right: 0;
			transform-origin: 100% 50%;
		}
	}
	&.content-line {
		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 30vw;
			height: 2px;
			background: #000;
			content: '';
			left: 0;
			transform-origin: 0 50%;
			transform: scale3d(0, 1.0, 1.0);
		}
	}
}



.blobs {
	margin-top: 6px;
	width: 180px;
	min-width: 180px;
	margin-right: 70px;
	height: 180px;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	position: relative;
	z-index: 1;
}
.blob {
	border-radius: 10px;
	width: 180px;
	height: 50px;
	display: block;
	background: #AEC236;
	transition: 0s;
	&-top {
		transform: translate3d(50vw, -200px, 0) rotate3d(0, 0, 1, 420deg);
	}
	&-left {
		height: 130px;
		width: 50px;
		transform: translate3d(60vw, 200px, 0) rotate3d(0, 0, 1, 
		480deg
		 );
	}
	&-rect {
		width: 130px;
		height: 130px;
		transform: translate3d(2vw, 150px, 0) rotate3d(0, 0, 1, 
		300deg
		 );
	}
}

.help {
	font-size: 20px;
	.flex {
		flex-flow: row nowrap;
		align-items: flex-start;
	}
	&.in-view .blob  {
		transition: transform 3s .4s cubic-bezier(.69,-0.3,.08,1.1), border-radius .2s 2.3s;
		transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0);
		&-top {
			border-radius: 10px 10px 0 0;
		}

		&-left {
			border-radius: 0 0 0 10px;
		}

		&-rect {
			border-radius: 0 0 10px 0;
		}
	}	
		
	.text {
		flex-grow: 1;
		position: relative;
		z-index: 2;	
	}
	p {
		position: relative;
		z-index: 2;
		font-size: 20px;
		margin-bottom: 20px;
		font-weight: 500;
	}
}
.offer {
	&__list {
		.line.acc {
			&::before {
				left: -30px;
			}
		}
		li {
			&:nth-child(1) {
				.line.in-view::before {
					transition-delay: 0s;
				}
			}
			&:nth-child(2) {
				.line.in-view::before {
					transition-delay: .3s;
				}
			}
			&:nth-child(3) {
				.line.in-view::before {
					transition-delay: .6s;
				}
			}
		}
		h5 {
			min-height: 65px;
			display: flex;
			align-items: flex-end;
		}
		.btn {
			margin-top: 50px;
		}
	}
}

.techn {
	.cont {
		display: flex;
		flex-direction: column;
	}
	&__item {
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 40px 0;
		// padding-left: 25px;
		position: relative;
		&:nth-child(5n - 4) {
			padding-left: 0px;
		}
		&:nth-child(5n - 3) {
			padding-left: 50px;
		}
		&:nth-child(5n - 2) {
			padding-left: 100px;
		}
		&:nth-child(5n - 1) {
			padding-left: 25px;
		}
		&:nth-child(5n) {
			padding-left: 80px;
		}
		&.in-view {
			.blob {
				transform: scale3d(.2, .5, 1);
				transition: 2s $cubic;
			}
		}
		h5 {
			display: block;
			font-size: 20px;
			white-space: nowrap;
			margin-right: 15px;
			margin-bottom: 0;
		}
		p {
			display:  block;
			font-size: 20px;
			margin-bottom: 0;
		}
	}
	
	&__blob {
		width: 120px;
	    height: 45px;
	    display: block;
	    top: 0;
	    left: 0;
	    position: absolute;
	    z-index: -1;
	    transform: rotate3d(0, 0, 1, 
		-70deg
		);
		transition: 0s;
	}
	
	&__blob {
	    width: 120px;
	    transform-origin: 0 0;
	    height: 45px;
	    display: block;
	    top: 0;
	    left: 0;
	    position: absolute;
	    z-index: -1;
     	 transform: translate3d(110%, -100%, 0) rotate3d(0, 0, 1,110deg);
	    
	    &-cont {
        	position: relative;
        	width: 25px;
        	min-width: 25px;
        	margin-top: 5px;
        	margin-right: 20px;
     	 }
	}
	&__text {
		flex-grow: 1;
		display: flex;
		align-items: flex-start;
	}
}

.word {
	&.in-view {
		.blob {
			&-top {
		   	 border-radius: 10px 0 0 0;
	   		}
			&-rect {
		   	 border-radius: 0 0 0 0;
   		}

			&-right {
		   	 border-radius: 0px 10px 10px 0;
   		}
		}
			
	}
	.blobs {
		margin-top: 0;
		width: 300px;
	    min-width: 300px;
	    height: 240px;
	    display: grid;
	    grid-template-rows: repeat(4, 60px);
	    grid-template-columns: repeat(5,60px);
	}
	.blob {
		width: auto;
		height: auto;
		&-top {
			grid-area: 1 / 1 / 1 / 5;
			transform: translate3d(80vw, 300px, 0) rotate3d(0, 0, 1, 480deg);
		}
		&-left {
			grid-area: 2 / 1 / 5 / 1;
			transform: translate3d(0vw, 350px, 0) rotate3d(0, 0, 1, 
			480deg
			 );
		}
		&-rect {
			grid-area: 2/2/5/5;
			transform: translate3d(40vw, -120px, 0) rotate3d(0, 0, 1, 
			300deg
			 );
		}
		&-right {
			grid-area: 1/5/5/6;
			transform: translate3d(10vw, 300px, 0) rotate3d(0, 0, 1, 
		 250deg
		  )
		}
	}
		
	.flex {
		margin-bottom: 100px;
		align-items: center;
	}
	h2 {
		position: relative;
		z-index: 2;
		margin-bottom: 0;
	}
	p {
		max-width: 730px;
	}
}

.reach {
	h2 {
		margin-bottom: 4vw;
	}
	p {
		margin-bottom: 5vw;
	}
}


.clients {
	.flex {
		flex-flow: row wrap;
	}
	img {
		display: block;
		width: calc(100% / 3);
		margin-bottom: 25px;
		height: auto;
	}

}
.footer {
	background: #f4f4f4;
	ul {
		margin-bottom: 60px;
	}
	h5 {
		margin-bottom: 30px;

	}
	a {
		color: #000;
		font-weight: 300;
		opacity: .6;
		transition: .3s;
		display: block;
		margin-bottom: 10px;
		&:hover {
			opacity: 1;
			transition: .3s;
		}
	}
	p {
		font-size: 15px;
	}
}

.work {
	&__rect {
		position: relative;
		padding-bottom: 100%;
	}
	&__list {
		align-items: stretch;
		a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			align-items: flex-end;
			padding: 25px;
			background: #EDEDED;
			border-radius: 50px;
			transition: .3s ease;
			&:hover {
				background: $acc;
				transition: .3s ease;
				transform: translate3d(0, -5px, 0);
				.btn {
					opacity: 1;
					visibility: visible;
					&-arr::after {
						transform: translate3d(10px, 0, 0) rotate(-45deg);
					}
				}
			}
		}
		.btn {
			opacity: 0;
			visibility: hidden;
			transition: .25s;
			position: absolute;
			top: 10px;
			right: 20px;
			padding-top: 30px;
			padding-bottom: 30px;
			font-size: 21px;
			&-arr {
				transform: translate3d(0px, -50%, 0);
				right: 30px;
				width: 22px;
				height: 22px;
			}
			&:hover .btn-arr::after {
				transform: translate3d(10px,0,0) rotate(-45deg);
			}
		}
		p {
			// font-size: 30px;
			font-size: 2vw;
			text-transform: uppercase;
			font-weight: 800;
			text-align: left;
			line-height: 1.2;
		}
		>div {
			position: relative;
			width: calc(100% / 3 - 7px);
			margin-bottom: 10px;
		}
	}
	&__info.flex {
		margin-bottom: 100px;
		align-items: flex-end;
		&:last-child {
			margin-bottom: 0;
		}
		h5 {
			margin-bottom: 10px;
			font-weight: 700;
		}
		p {
			font-size: 21px;
			font-weight: 500;
			color: $acc;
			line-height: 1.5;
		}
	}
}
.contact {
	&.form {
		h2 {
			margin-bottom: 4vw;
		}
	}
	.p-lg {
		margin-bottom: 30px;
	}
	&__error {
		display: inline-flex;
		align-items: center;
		color: #fff;
		height: 50px;
		background: $acc;
		padding: 0 30px;
		border-radius: 10px;
		height: 0;
		transform-origin: 0 50%;
		transform: scaleY(0);
		&.active {
			transform: scaleY(1);
			transition: .3s;
		}
	}
	form {
		margin-top: 20px;
		max-width: 830px;
		position: relative;
	}
	label {
		display: block;
		width: 100%;
		margin-bottom: 25px;
	}
	input,textarea {
		display: block;
		font-size: 25px;
		font-family:"museo-sans";
		width: 100%;
		border: 0;
		border-bottom: 1px solid #000;
		padding: 15px 30px;
		color: #000;
		&::placeholder {
			opacity: .7;
		}
	}
	&__btn {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
		cursor: pointer;
		border: 0;
		background: none;
		font-size: 20px;
		font-weight: 500;
		text-transform: uppercase;
		width: 180px;
		height: 180px;
		transition: .3s;
		transform: translate3d(50%, 50%, 0px);
		&:hover {
			transform: translate3d(50%, 50%, 0px) scale(1.05);
			transition: .3s;
		}
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $acc;
			border-radius: 23px;
			z-index: -1;
			transform: rotate(20deg);
		}
	}
	&__info {
		padding-bottom: 15vw;
		padding-top: 12vw;
		h2 {
			text-align: right;
		}
		.work__info {
			max-width: 750px;
			margin-left: auto;
			margin-right: auto;
			>div {
				width: calc(50% - 75px);
			}
			a {
				color: $acc;
				&:hover {
					color: #000;
				}
			}
			h5 {
				margin-top: 35px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
		p {
			font-weight: 500;
			max-width: 750px;
			margin: 0 auto;
		}
	}
	
}
.about {
	h2 {
		margin-bottom: 5vw;
		text-align: right;
	}
	&__clients {
		.work__info {
			justify-content: flex-start;
			li {
				margin-right: 50px;
			}
			h5 {
				margin-bottom: 30px;
			}
			.line {
				padding: 0;
			}
		}
		.dots {
			width: 12px;
			height: 12px;
			background: $acc;
			border-radius: 3px;
			transform: translate3d(0, 50%, 0) scale3d(0, 1, 1);
			display: flex;
			&.in-view {
				transition: transform 1.5s .2s $cubic;
				transform:  translate3d(0, 50%, 0) scale3d(1, 1, 1);
			}
			&::before, &::after {
				display: block;
				content: '';
				width: 12px;
				min-width: 12px;
				height: 12px;
				background: $acc;
				border-radius: 3px;
			}
			&::before {
				margin-left: 20px;
			}
			&::after {
				margin-left: 10px;
			}
		}

	}
	&__bottom {
		padding-bottom: 14vw;
		.btn {
			margin-top: 6vw;
		}
	}
}
.right {
	h2 {
		text-align: right;
	}
}
.services {
	padding-bottom: 0;
	&-text-block {
		h2 {
			margin-bottom: 5vw;
		}
		h3 {
			margin-bottom: 3vw;
		}

		.cont {
			max-width: 55vw;
			margin-bottom: 10vw;
			&.right {
				margin-left: auto;
				margin-right: 0;
			}
			&.left {
				margin-left: 0;
				margin-right: auto;
			}
		}
		> .cont {
			margin-bottom: 0;
		}
		&.center {
			padding-bottom: 2vw;
		}
	}
	h3 {
		padding-left: 8vw;
	}
	.line {
		left: 4vw;
		margin-bottom: 2vw;
	}
	p {
		font-weight: 300;
	}
	&-sub {
		.right {
			display: flex;
			justify-content: flex-end;
		}
		.techn__list {
			margin-bottom: 7vw;
			margin-top: 3vw;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.btn-flex {
	display: flex;
	justify-content: flex-end;
}



@import "media";
