@media(max-width: 1599px) {
	html {
		font-size: 24px;
	}
	.cont {
		max-width: 1400px;
	}
	h2 {
		font-size: 2rem;
	}
	.header {
		padding-top: 40px;
		&__logo {
			max-width: 1000px;
			margin-top: -25px;
		}
		&__nav {
			
		}
	}
	section {
		padding-top: 80px;
	}
	section,header,footer {
		padding-left: 30px;
		padding-right: 30px;
	}
	.social a {
		height: 30px;
		img {
			height: 100%;
			width: auto;
		}
	}
	.btn {
		font-size: 18px;
	}
	.roadmap {
		&__phase {
			h3 {
				font-size: 1.5rem;
			}
			p {
				font-size: .7rem;
			}
		}
	}
	.team {
		h4 {
			font-size: 1.3rem;
		}
		h5 {
			font-size: 1rem;
		}
	}
	.faq {
		.question {
			font-size: 1.2rem;
			padding: 0;
		}
		.answer {
			font-size: 0.85rem;
		}
	}
	.footer {
		padding-top: 3rem;
		padding-bottom: 2rem;
	}
}
@media (max-width: 1365px) {
	html {
		font-size: 18px;
	}
	.header {
		&__logo {
			max-width: 800px;
			margin-top: 0;
		}
	}
	.flex {
		&-2col {
			>*{
				flex-grow: 1;
				&:first-child {
					width: 30%;
				}
				
			}
		}
	}
	.lore {
		p {
			// font-size: 15px;
		}
	}
	.roadmap {
		&__phase {
			p {
				font-size: .9rem;
			}
		}
	}
	.faq {
		h2 {
			margin-bottom: 40px;
		}
	}
}
@media (max-width: 1023px) {
	.header {
		&__nav {
			a {
				font-size: .62rem;
				width: 6rem;
				height: 3.1rem;
			}
		}
	}
	.flex {
		&-2col {
			flex-wrap: wrap;
			>*{
				flex-grow: 1;
				width: 100%;
				&:first-child {
					width: 100%;
				}
				
			}
		}
	}
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 767px) {
	section, header, footer {
		padding-left: 20px;
		padding-right: 20px;
	}
	section {
		padding-top: 60px;
	}
	.header {
		padding-top: 30px;
		// position: relative;
		// z-index: 4;
		// padding-right: 8px;
		// &__hamb, &__nav-close {
		// 	display: block;
		// 	width: 50px;
		// 	padding: 12px;
		// }
		// &__nav-close {
		// 	position: absolute;
		// 	top: 15px;
		// 	right: 10px;
		// }
		&__logo {
			margin-top: 30px;
			margin-bottom: 20px;
		}
		&__nav {
			// position: fixed;
			// width: 100%;
			// height: 100%;
			// padding: 20px 30px;
			// top: 0;
			// left: 0;
			// text-align: center;
			// z-index: 6;
			// flex-direction: column;
			// justify-content: center;
			// background: #464087;
			// transform: translate3d(100%, 0, 0px);
			// transition: .25s;
			// &.active {
			// 	transform: translate3d(0%, 0, 0px);
			// 	transition: .25s;
			// }
			margin-bottom: 100px;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 340px;
			a {
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					position: relative;
					top: 1px;
					&::after {
						display: none;
					}
				}
			}
			
		}
		.btn {
			padding: 10px 15px;
			font-size: 14px;		
		}
	}
	h2 {
		font-size: 1.5rem;
	}
	.clowns {
		h2 {
			margin-bottom: 40px;
		}
	}
	.banner::after {
		height: 60px;
	}
	.grid {
		gap: 14px
	}
	.roadmap {
		&__phase {
			padding: 20px;
			margin-bottom: 30px;
			h3 {
				margin-bottom: 20px;
				font-size: 1.2rem;
			}
			p {
				font-size: .8rem;
			}
		}
	}
	.team {
		h4 {
			font-size: 1.1rem;
		}
		h5 {
			font-size: 0.8rem;
		}
		p {
			font-size: 0.65rem;
		}
	}
	.faq {
		.question {
			font-size: 1rem;
		}
		.answer {
			font-size: 0.8rem;
		}
	}
	.social {
		a {
			height: 25px;
			margin-right: 12px;
		}
	}
}



