.vertical-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	list-style: none;
	
	&.centered {
	  text-align: center;
	  .text-content {
		  position: absolute;
		  bottom: 30px;
		  left: 0;
		  width: 100%;
		  padding: 0 20px;
	  }
	  h3 {
		  font-size: 23px;
	  }
	}
	.img-content {
		overflow: hidden;
	}
	li {
	  position: relative;
	  list-style: none;
	  padding: 0;
	  &:hover {
		  img {
			transform: scale(1.05);
			transition: .3s;
		  }
		  .btn-alt, .btn-lg {
			color: #000 !important;
			background: transparent !important;
		  }
	  }
	  &::before {
		  display: none;
	  }
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		transition: .3s;
	}
	h3 {
		margin-top: 13px;
		margin-bottom: 12px;
		font-size: 14px;
	}
	a {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}
  }
  .top-blogs {
	  ul {
		grid-template-columns: repeat(2, 1fr);
	  }
	  li {
		  overflow: hidden;
	  }
	  .text-content {
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  width: 100%;
		  padding: 25px 40px 30px 20px;
	  }
	  h3 {
		  font-size: 29px;
		  margin-top: 0;
		  margin-bottom: 0px;
	  }
	  .btn {
		  margin-top: 0 !important;
	  }
	  p {
		  margin-bottom: 30px;
		  font-size: 17px;
		  font-family: "Noe Display Bold";
	  }
  }
  .btn-alt {
	  padding: 5px 23px 7px;
	  color: #fff;
	  font-size: 16px;
	  background: #000;
	  text-transform: initial;
	  margin: 0;
	  &:hover {
		color: #000;
		background: transparent;
	  }
  }
  section.regular {
	  padding: 30px 0 15px;
	  h2 {
		  display: block;
		  width: 100%;
		  margin-bottom: 20px;
		  text-align: center;
	  }
  }
  .banner {
	  &__flex {
		  display: flex;
		  flex-wrap: nowrap;
		  gap: 32px;
		 align-items: center;
		 &.alt {
			 flex-flow: row-reverse nowrap;
		 }
		 >div {
			 flex-grow: 1;
		 }
	  }
	  img {
		  width: 100%;
	  }
	  &__content {
		  margin-top: 100px;
		  max-width: 320px;
		  min-width: 300px;
	  }
	  h2 {
		  font-size: 43px;
		  line-height: 1;
		  margin-bottom: 10px;
	  }
	  p {
		  font-size: 18px;
		  line-height: 1.1;
	  }
  }
  .wrapper.-medium {
	a.btn-lg, span.btn-lg {
		margin-top: 18px;
		font-size: 22px;
		padding: 8px 30px 11px;
		text-transform: initial;
		background: #000;
		color: #fff;
		&:hover {
			background:transparent;
			color: #000;
		}
	}
  }
  .collage {
	  &__flex {
		display: flex;
		flex-flow: row nowrap;
		gap: 15px;
		align-items: stretch;
		&.alt {
			flex-direction: row-reverse;
		}
		>div {
			width: 50%;
		}
	  }
	  &.regular h2 {
		  margin-bottom: 0;
	  }
	  &__secondary {
		>div {
			overflow: hidden;
			position: relative;
			&:first-child {
				margin-bottom: 15px;
			}
			.collage__text span.btn-lg {
				font-size: 16px;
				padding: 5px 20px 7px;
			}
		}
	  }
	  &__secondary > div, &__main {
		&:hover {
			img {
			  transform: scale(1.05);
			  transition: .3s;
			}
			.btn-lg {
			  color: #000 !important;
			  background: transparent !important;
			}
		}
	  }
	  img {
		  width: 100%;
		  transition: .3s;
	  }
	  &__main {
		overflow: hidden;
		  position: relative;
		  img {
			  position: absolute;
			  width: 100%;
			  height: 100%;
			  object-fit: cover;
			  top: 0;
			  left: 0;
		  }
	  }
	  &__text, a {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	  }
	  &__text {
		  z-index: 1;
		  left: 45px;
		  max-width: 350px;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: flex-start;
		  h3 {
			font-size: 33px;
			line-height: 1;
		  }
		  p,b {
			  display: block;
			  line-height: 1.2;
		  }
		  b {
			  margin-top: 8px;
		  }
		  &-bg {
			  left: 0;
			  bottom: 0;
			  height: auto;
			  top: auto;
			  padding: 30px 30px 30px 20px;
			  display: block;
			  max-width: none;
			  b {
				  font-size: 18px;
				  span {
					  display: inline-block;
					  text-decoration: line-through;
					  font-weight: 400;
				  }
			  }
		  }
	  }
	  .comment {
		  position: absolute;
		  font-size: 11px;
		  bottom: 22px;
	  }
  }

  @media (max-width: 1200px) {
	.collage {
		&__text {
			max-width: 280px;
			left: 20px;
			h3 {
			  font-size: 26px;
			}
			&-bg {
				left: 0;
				max-width: none;
			}
		}
		.comment {
			bottom: 15px;
		}
	}
  }
  @media (max-width: 1023px) {
	.vertical-list {
		grid-template-columns: repeat(2, 1fr);
	}
	.banner {
		&__flex {
			gap: 20px;
		}
		&__content {
			margin-top: 0;
		}
		h2 {
			font-size: 28px;
		}
		p {
			font-size: 16px;
			line-height: 1.1;
		}
	}
	.wrapper.-medium {
		a.btn-lg, span.btn-lg {
			font-size: 18px;
			padding: 8px 25px 11px;
		}
	  }
	  .collage {
		&__flex {
		  > .collage__secondary {
			width: 60%;
		  }
		  > .collage__main {
			width: 40%;
		  }
		}
		&__secondary {
			> div .collage__text span.btn-lg {
				margin-top: 10px;
			}
		}
		&__text {
			&-bg {
				padding: 20px 15px;
			}
		}
		
	}
  }
  @media (max-width: 767px) {
	.vertical-list {
		&.centered {
			.text-content {
				bottom: 15px;
				padding: 0 10px;
			}
			h3 {
				font-size: 14px;
				margin-bottom: 6px;
			}
		  }
	}
	.btn-alt {
		font-size: 13px;
	}
	.collage {
		&__flex {
		  flex-flow: row wrap;
		  >div {
			  width: 100% !important;
		  }
		}
		&__secondary {
			.btn {
				display: none;
			}
		}
		&__main {
			img {
				position: relative;
			}
		}
		
		&__text {
			max-width: 200px;
			z-index: 1;
			left: 12px;
			h3 {
			  font-size: 18px;
			}
			p,b {
				font-size: 14px;
			}
			&-bg {
				max-width: none;
				left: 0;
				padding: 20px 12px;
				b {
					font-size: 14px;
				}
			}
		}
	}
	.top-blogs {
		max-width: 420px;
		margin: 0 auto;	
		ul {
		  grid-template-columns: repeat(1, 1fr);
		}
		h3 {
			font-size: 18px;
		}
		p {
			font-size: 14px;
			margin-bottom: 16px;
		}
		.text-content {
			padding: 20px 25px 20px 12px;
		}
	}
  }
  @media (max-width: 660px) {
	.banner {
		&__flex.wrapper {
			flex-direction: column;
			max-width: 400px;
			margin: 0 auto;
		   &.alt {
			   flex-direction: column;
		   }
		}
		&__content {
			max-width: none;
			text-align: center;
			padding: 0 20px;
		}
	}
	.wrapper.-medium {
		a.btn-lg, span.btn-lg {
			font-size: 16px;
		}
	  }
  }
  @media only screen and (max-width: 800px) {
	.advice-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px 0px;
		a .img-container {
			max-width: 120px;
		}
	}
}