@media (max-width: 1365px) {
	.head {
		&__img.half {
		    display: flex;
		    align-items: center;
		}
		&-about {
			.head-page__text {
				padding-right: 40px;
			}
			.flex {
				align-items: center;
			}
			&__desktop {
				display: none;
			}
			&__mob {
				display: block;
				position: relative;
				z-index: 2;
			}
		}
	}
	.badges {
		flex-flow: row wrap;
		li {
			width: 25%;
			max-width: none;
			margin-bottom: 30px;
		}
		span {
			max-width: 130px;
			margin: 14px auto 0;
		}
	}
	.diff {
		h5 {
			font-size: 28px;
			padding-right: 30px;
			p {
				font-size: 28px;
			}
		}
		li {
			padding: 60px 60px 60px 30px;
		}
	}
	.product {
		>.flex {
			flex-direction: column;
		}
		&__card {
			&.prod-best {
				.product__ribbon {
					padding: 5px 0;
					line-height: 1;
					font-size: 11px;
					word-spacing: 100vw;
					transform: translate3d(-50px, 8px, 0px) rotate(-45deg);
				}
			}
		}
		
		&__badges {
			margin-bottom: 26px;
			margin-top: 22px;
			width: calc(100% + 30px);
			position: relative;
			left: -15px;
			img {
				width: 75px;
			}
			span {
				font-size: 12px;
			}
		}
		.half {
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
			&:nth-child(2n) {
				margin-right: auto;
			}
		}
		.btn {
			font-size: 15px;
			padding: 10px 0 13px;
			&::after {
				position: relative;
				top: 2px;
			}
		}
	}
}
@media (max-width: 1023px) {
	body {
		font-size: 15px;
	}
	h1 {
		font-size: 61px;
	}
	h2,h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 22px;
	}
	.announcement-bar {
	    padding: 0 15px;
	    height: 29px;
	    .s-width {
	    	justify-content: center;
	    }
	    p {
	    	text-align: center;
	    	font-size: 13px;
	    	svg {
	    		width: 18px;
	    	}
	    }
	    a:not(.announcement-bar__message) {
	    	display: none;
	    }
	}
	div#shopify-section-header {
		top: -29px;
	}
	.header {
		padding: 0 15px;
		height: auto;
		&__logo {
			width: 150px;
		}
		&-mob {
			&__hamb {
				display: block;
				margin-right: 20px;
				position: relative;
				top: 1px;
				padding: 25px 0;
				svg {
					display: block;
				}
			}
			&__close {
				display: block;
				padding-left: 23px;
				margin-bottom: 25px;

			}
			&__link {
				display: block;
			}
		}
		&__cta {
			margin: 0;
			padding: 5px 11px;
		}
		&__nav {
			&-cart {
				svg {
					display: block;
				}
			}
			&-nav.flex {
				padding-top: 40px;
			    position: fixed;
			    width: 80%;
			    height: 100%;
			    top: 0;
			    left: 0;
			    z-index: 100;
			    background: #fff;
			    flex-direction: column;
			    justify-content: flex-start;
			    align-items: flex-start;
			    box-shadow: none;
			    transform: translate3d(-100%, 0, 0);
			    transition: .3s;
			    &.active {
			    	// box-shadow: 0 0 100px rgba(0, 0, 0, 50%);
			    	transform: translate3d(0%, 0, 0);
			    	transition: .3s;
			    }
			    a {
			    	font-size: 21px;
			    }
			    a.header-mob__cta {
			    	display: block;
			        padding: 6px 20px;
			        width: calc(100% - 40px);
			        position: relative;
			        left: 20px;
			        text-align: center;
			        margin: 20px 0;
			        font-size: 16px !important;
			        text-transform: capitalize !important;
			        border: 2px solid #000;
			        &::after {
			        	display: none;
			        }
			        &:hover {
			        	color: #000;
			        }
			    }
			}
		}
	}
	.head {
		span {
			font-size: 16px;
		}
		p {
			font-size: 17px;
			&.line {
				font-size: 11px;
				padding: 0 5px 5px;
			}
		}
		&__icons {
			li {
				display: block;
				max-width: 75px;
				text-align: center;
			}
			img {
				max-width: 42px;
				margin: 0 auto;
				max-height: 31px;
			}
			span {
				font-size: 11px;
				display: block;
				margin: 10px 0 0;
			}
		}
		&-page:not(.head-product) {
			position: relative;
			background: url(page-bg-mob.svg) no-repeat bottom center/100% auto;
		}
		&-about {
			.flex {
				align-items: center;
			}
		}
		&-nft {
			h1 {
				font-size: 45px;
			}
		}
	}
	.nft {
		&-images {
			img {
				max-height: 200px;
			}
		}
		&-team {
			.s-width {
				flex-wrap: wrap;
				>div {
					flex-grow: initial;
					width: 40%;
					&:first-child {
						width: 100%;
					}
				}
			}
		}
		&-goals {
			.s-width {
				flex-wrap: wrap;
			}
			.faq__title {
				width: 100%;
				margin-right: 0;
				margin-bottom: 35px;
			}
			&__chart {
				width: 100%;
				margin-left: 76px;
			}
		}
		&-faq {
			.faq__blocks .faq__list {
				width: calc(50% - 16px);
			}
		}
	}
	.single-chart {
		margin-right: 20px;
	}
	.reviews {
		li {
			width: calc(25% - 20px);
		}
		p {
			font-size: 16px;
		}
	}
	.diff {
		padding: 45px 0 0;
		h2 {
			margin-bottom: 35px;
		}
		li {
			padding: 35px 20px;
			flex-direction: column;
			&:last-child {
				padding-bottom: 50px;
			}
			.half {
				width: 100%;
				&:last-child {
					padding: 0;
				}
				&.flex {
					align-items: center;
					margin-bottom: 25px;
				}
			}
		}
		.num {
			margin-right: 15px;
			font-size: 41px;
			padding: 20px;
		}
		h5 {
			font-size: 22px;
			p {
				font-size: 22px;
			}
		}
		p {
			font-size: 15px;
		}
	}
	.tech {
		h4,h3 {
			font-size: 26px;
		}
	}
	.image-text {
		&.tech-lipo {
			align-items: flex-start;
		}
	}
	.best {
		h5 {
			font-size: 22px;
		}
		&__features {
			.flex {
				width: calc(50% - 15px);
			}
		}
	}
	.standard {
		h3 {
			margin-bottom: 24px;
		}
		.badges {
			padding-right: 0;
			li {
				margin-bottom: 20px;
				&:nth-child(2n) {
					transform: translate3d(0, 0, 0px);
				}
			}
			&+.half {
				padding-left: 0px;
			}
		}
		&__badges {
			flex-direction: column-reverse;
			.half {
				width: 100%;
			}
		}
		&__cert {
			align-items: flex-start;
		}
		&__text {
			width: calc((100% - 225px) / 2 - 30px);
		}
	}

	.s-contact {
		padding-top: 30px;
		padding-bottom: 35px;
		p {
			font-size: 15px;
			&.lg {
				font-size: 19px;
				line-height: 1.3;
				margin-bottom: 15px;
			}
			&.xlg {
				font-size: 19px;
			}
		}
		.half {
			width: 100%;
		}
		ul {
			margin-top: 60px;
		}
		li {
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.link-arr {
			margin-top: 12px;
		}
		img {
			width: 40px;
			min-width: 40px;
			margin-right: 20px;
		}
		&__form {
			position: relative;
			margin-top: 75px;
			padding: 45px 0px;
			&::after {
				content: '';
				position: absolute;
				width: calc(100% + 40px);
				left: -20px;
				top: 0;
				height: 100%;
				background: #eee;
				z-index: -1;
			}
			.btn {
				width: 100%;
				max-width: none;
			}
		}
	}

	.blog-post {
		padding-top: 30px;
		padding-bottom: 30px;
		.hidden-desktop {
			display: block;
			margin-top: 30px;
			padding-bottom: 40px;
		}
		.hidden-mob {
			display: none;
		}
		.s-width.flex {
			flex-flow: row wrap;
			>div {
				width: 100%;
			}
		}
		&__left {
			padding-right: 0px;
		}
		&__right {
			max-width: 300px;
			margin: 0 auto;
		}
	}
}
@media (max-width: 767px) {
	section {
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn {
		font-size: 16px;
		padding: 10px 0px;
		display: block;
		max-width: 280px;
		margin: 0 auto;
		&::after {
			position: relative;
			top: 1px;
		}
	}
	h4 {
		font-size: 24px;
		&.subh {
			font-size: 18px;
			text-align: center;
			padding-bottom: 30px;
		}
	}
	h2 {
		font-size: 32px;
	}
	h6 {
		font-size: 16px;
	}
	.do-dont , .image-text, .head, .faq {
		.half {
			width: 100%;
		}
	}
	.head {
		&__img.half {
			display: none;
		}
		h1,p.line {
			text-align: left;
			position: relative;
			z-index: 2;
		}
		&__mob-img {
			display: block;
			margin-top: -45px;
			width: calc(100% + 50px);
			position: relative;
			z-index: 1;
			left: -20px;
		}
		&__text.half {
			padding-top: 50px;
		}
		p {
			text-align: center;
			&.line {
				margin-bottom: 0;
				text-align: left;
			}
		}
		&__icons {
			margin-top: 45px;
			
			.flex {
				width: calc(100% + 40px);
				position: relative;
				left: -20px;
				flex-wrap: nowrap;
				justify-content: space-between;
			}
			li {
				display: flex;
				flex-direction: column;
			}
			img {
				margin-bottom: 10px;
			}
			span {
				margin-top: auto;
				font-size: 10px;
			}
		}
		&-page {
			padding-top: 45px;
			padding-bottom: 60px;
			h2 {
				font-size: 30px;
			}
			p {
				font-size: 15px;
				margin-top: 20px;
			}
		}
		&-product {
			padding-top: 28px;
			padding-bottom: 35px;
			background-position: right 25% center;
			h2 {
				font-size: 23px;
			}
			p {
				margin-top: 10px;
			}
		}
		&-faq {
			padding-bottom: 95px;
			padding-top: 60px;
		}
		&-benefits {
			padding-top: 0;
			background: url('page-shape-mob.svg') no-repeat bottom center/ 100% auto;
			padding-bottom: 40px;
			h2 {
				font-size: 34px;
			}
			&__img {
				width: 150%;
				margin-left: -20px;
			}
		}
		&-about {
			padding-top: 50px;
			padding-bottom: 0;
			&__img {
				margin-top: -55px;
			}
			.flex {
				flex-direction: column;
			}
			p {
				padding: 0;
			}
			.half {
				width: 100%;
				padding: 0;
			}
			&__mob {
				position: relative;
				top: 55px;
			}
		}
		&-nft {
			padding-top: 40px;
			padding-bottom: 0px;
			text-align: center;
			background: #111 url('nft-bg.svg') no-repeat bottom center/ 120% auto;
			&__img {
				margin-top: -30px;
				&::before {
					width: 140%;
    				left: -20%;
				}
				img {
					width: 140%;
    				left: -20%;
				}
			}
			.s-width {
				flex-wrap: wrap;
			}
			.half {
				width: 100%;
			}
			span {
				font-size: 17px;
			}
			h1 {
				font-size: 34px;
			}
		}
	}
	.nft {
		&-why {
			padding-top: 30px;
			.half {
				width: 100%;
			}
			h2 {
				font-size: 30px;
				padding-right: 0;
				margin-bottom: 26px;
			}
		}
		&-images {
			.half {
				width: 100%;
				&:first-child {
					margin-bottom: 55px;
					img {
						transform: scale(1.5);
						margin-bottom: 20px;
					}
				}
			}
			.btn {
				margin-top: 40px;
			}
			p {
				font-size: 19px;
				margin-top: 10px;
				position: relative;
				z-index: 2;
			}
			img {
				width: 100%;
				height: auto;
				max-width: 270px;
				max-height: none;	
			}
		}
		&-owners {
			margin-top: 70px;
			padding-top: 60px;
			padding-bottom: 50px;
			.flex {
				flex-wrap: wrap;
			}
			.half {
				width: 100%;
			}
			h3 {
				br {
					display: none;
				}
			}
		}
		&-team {
			padding-top: 65px;
			padding-bottom: 50px;
			.s-width {
				>div {
					width: 100%;
				}
			}
			h5 {
				font-size: 22px;
			}
			h2 span {
				display: block;
			}
		}
		&-promo.promo {
			.flex {
				img {
					max-width: none;
					margin: 0 auto;
					transform: scale(1.3);
				}
			}
		}
		&-text-block {
			padding-top: 60px;
			h4 {
				margin-bottom: 0;
			}
		}
		&-better {
			h3+p {
				margin-bottom: 30px;
			}
			.half {
				margin-bottom: 26px;
			}
		}
		&-benefits {
			.proven {
				margin-top: 15px;
			}
		}
		&-badges {
			margin-top: 0;
			width: calc(100% + 40px);
			position: relative;
			left: -20px;
			li:nth-child(2n-1) {
				transform: translateY(0px);
				margin-bottom: 0;
			}
		}
		&-standard {
			margin-top: 0;
			.standard__cert {
				padding-top: 0;
				border-top: 0;
			}
		}
		&-goals,&-faq, &-roadmap {
			.faq__title {
				display: flex;
				align-items: center;
			}
			.faq__icon {
				margin-bottom: 0;
				margin-right: 24px;
			}
		}
		&-goals {
			.launch {
				display: none;
			}
			&__chart {
				margin-left: 0;
				&::before {
					display: none;
				}
			}
		}
		&-roadmap {
			&__flex {
				grid-template-columns: repeat(1,1fr);
				gap: 35px;
				>div {
					padding: 0;
				}
			}
		}
		&-faq {
			.faq__blocks .faq__list {
				width: 100%;
			}
		}
	}
	.page-container {
		overflow: hidden;
	}
	.single-chart {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.circular-chart {
		width: 195px;
		height: 195px;
	}
	.chart-cont {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 0;
		margin-bottom: 45px;
		&::after, &::before {
			display: none;
		}
	}
	#shopify-section-cart-template {
		padding: 0 20px;
	}
	.header {
		.mob-cart-hidden {
			display: none;
		}
		.mob-cart-visible {
			display: block;
		}
	}
	.text-block {
		&.about {
			margin-top: 120px;
			h4 {
				font-size: 22px;
			}
		}
		.half {
			width: 100%;
			margin-bottom: 25px;
		}
	}
	.image-text {
		.h-text, &.alt .h-text {
			padding: 0;
			margin-bottom: 25px;
			text-align: center;
		}
		&.essential, &.about-upto, &.tech-vitamin {
			flex-direction: column-reverse;
		}
		&.tech-lipo {
			flex-direction: column;
			margin-top: 15px;
		}
		&.about-upto, &.about-lipo {
			p, h4 {
				text-align: left;
			}
			h4 {
				font-size: 30px;
			}
			h3 {
				font-size: 36px;
			}
			img {
				margin-bottom: 30px;
			}
		}
		&.about-lipo {
			margin-top: 30px;
		}
		&.tech-lipo, &.tech-vitamin {
			h3, h4 {
				font-size: 26px;
				text-align: left;
			}
		}
		&.goodness {
			.h-text {
				margin-bottom: 0;
				margin-top: 20px;
			}
			.table {
				margin-top: 30px;
			}
			&-about {
				margin-top: 35px;
				h4 {
					margin-bottom: 15px;
				}
			}
		}
		.badges {
			min-width: calc(100% + 30px);
			position: relative;
			left: -15px;
		}
	}
	.best {
		margin-top: 10px;
		h3 {
			margin-bottom: 25px;
		}
		.h-text {
			margin-top: 10px;
			text-align: left;
		}
		&__features {
			margin-top: 15px;
			flex-direction: column;
			.flex {
				width: 100%;
				margin-bottom: 40px;
			}
			img {
				width: 80px;
			}
			.flex>div {
				width: calc(100% - 100px);
			}
			h5 {
				margin-bottom: 10px;
			}
		}
	}
	.standard {
		.badges {
			width: calc(100% + 30px);
			position: relative;
			left: -15px;
			padding-top: 40px;
			padding-bottom: 30px;
		}
		&__cert {
			padding-top: 40px;
			padding-bottom: 55px;
			img {
				margin: 15px auto 0;
			}
		}
		&__text {
			width: 100%;
			margin-bottom: 25px;
		}
	}
	.clinical {
		padding-top: 55px;
		.h-text.center {
			margin-bottom: 50px;
			font-size: 18px;
			h2 {
				font-size: 32px;
			}
		}
		&.benefits {
			.proven {
				margin-top: 35px;
			}
			h4 {
				text-align: left;
			}
		}
	}
	.proven {
		margin: 50px 0 40px;
		padding-bottom: 40px;
		width: calc(100% + 20px);
		position: relative;
		left: -10px;
		h4 {
			font-size: 18px;
			padding-bottom: 30px;
			margin-bottom: 30px;
		}
		&__list {
			max-width: calc(50% - 5px);
			li {
				margin-bottom: 30px;
				>div {
					width: 100%;
					padding-left: 0;
				}
			}
			img {
				display: none;
			}
			span {
				font-size: 15px;
				display: block;
			}
			svg {
				display: inline-block;
				width: 24px;
				height: 24px;
				top: 5px;
			}
			h3 {
				font-weight: 400;
				font-size: 22px;
				margin-right: 2px;
				display: inline-block;
			}
			.question.active + .answer {
				padding-top: 10px;
			}
			p {
				font-size: 13px;
			}
		}
	}
	.table {
		li {
			font-size: 15px;
			&:first-child {
				font-size: 15px;
			}
		}
	}
	.badges {
		img {
			width: 55px;
		}
		span {
			font-size: 11px;
			max-width: 85px;
		}
	}
	.do-dont {
		min-width: calc(100% + 40px);
		position: relative;
		left: -20px;
		margin-top: 40px;
		margin-bottom: 50px;	
		.half {
			padding: 30px 40px 40px 25px;
		}
		p {
			font-size: 13px;
			&.subh {
				font-size: 15px;
				margin-bottom: 8px;
			}
		}
		&.about {
			margin-top: 25px;
			margin-bottom: 0;
		}
	}
	.reviews {
		margin-bottom: 40px;
		h4 {
			margin-bottom: 32px;
		}
		li {
			width: 100%;
			margin-bottom: 28px;
		}
		p {
			max-width: 300px;
			line-height: 1.6;
		}
		.name {
			font-size: 14px;
		}
		.virified {
			font-size: 13px;
		}
	}
	.diff {
		h2 {
			font-size: 30px;
			padding: 0 20px
		}
		h5 {
			padding-right: 0;
		}
	}
	.promo {
		text-align: center;
		padding-bottom: 60px;
		.flex {
			flex-direction: column-reverse;
			img {
				max-width: 290px;
				margin: 0 auto 15px;
			}
		}
		.btn {
			margin-top: 15px;
		}
	}
	.faq {
		padding-top: 50px;
		padding-bottom: 75px;
		&__icon {
			width: 62px;
			margin-bottom: 14px;
		}
		h2 {
			margin-bottom: 14px;
		}
		&__title.half {
			padding-right: 0;
			margin-bottom: 50px;
		}
		p {
			font-size: 14px;
		}
		&__info {
			padding: 30px 25px;
			margin-bottom: 35px;
			.faq__icon {
				width: 50px;
			}
			&-text {
				width: 100%;
				margin-top: 20px;
			}
			h6 {
				font-size: 18px;
			}
			p {
				font-size: 15px;
			}
		}
		&__blocks {
			h5 {
				margin-bottom: 23px;
			}
			.faq__list:first-child {
				margin-bottom: 25px;
			}
		}
		&__block {
			margin-bottom: 45px;
		}
		
	}
	.faq-page {
		padding-bottom: 0px;
		padding-top: 0;
		margin-top: -40px;
		position: relative;
		z-index: 2;
	}
	#shopify-section-faq-general .btn {
		margin-top: 45px;
		margin-bottom: 0;
	}
	.faq.faq-padding {
		padding-top: 0;
		padding-bottom: 0;
	}
	.faq.faq-page-block {
		.btn {
			margin-top: 0;
			margin-bottom: 45px;
		}
	}
	.faq.faq-general {
		padding-bottom: 70px;
	}
	.footer {
		&__logo {
			max-width: 140px;
		}
		h6, &__logo {
			margin-bottom: 23px;
		}
		h6 {
			font-size: 17px;
		}
		a {
			font-size: 14px;
		}
		&__main {
			padding: 55px 20px;
			.flex {
				flex-flow: row wrap;
				justify-content: space-between;
			}

			li {
				width: 40%;
				margin-bottom: 45px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			li:first-child, li:last-child {
				width: 100%;
			}
		}
		&__disclaimer {
			font-size: 12px;
			padding: 25px 20px;
		}
		.social {
			justify-content: flex-start;
		}
	}
	.product {
		padding-top: 30px;
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 45px;
		&__card {
			padding-left: 14px;
			padding-right: 14px;
			
			&.shipping {
				.product__img {
					position: relative;
					&::after {
						width: 75px;
						height: 75px;
						bottom: 0px;
					}
				}
			}
			&.lg {
				padding: 25px 15px;
				h3 {
 					font-size: 30px;
				} 
				.flex {
					justify-content: flex-end;
					>div {
						margin-right: 0;
					}
				}
				.product__price {
					margin-top: -10px;
					margin-right: 0;
					padding-right: 0;
					
				}
			}
			h3 {
				font-size: 26px;
			}
			&-accent {
				font-size: 22px;
			}
		}
		.btn {
			display: none;
		}
		&__mob-btn.btn {
			margin-top: 16px;
			display: block;
			width: 100%;
			max-width: none;
		}
		&__price {
			span {
				font-size: 15px;
				&.val {
					font-size: 36px;
				}
			}
			p {
				font-size: 14px;
			}
		}
		&__badges {
			li {
				width: 33.33%;
				&:first-child {
					padding-left: 8px;
				}
				&:last-child {
					padding-right: 8px;
				}
			}
		}
	}


	.cart-page {
		padding-top: 36px;
		padding-bottom: 90px;
		h1 {
			font-size: 30px;
			margin-bottom: 25px;
		}
		thead {
			display: none;
		}
		table, tbody {
			display: block;
			border: 0;
		}
		tr {
			display: flex;
			width: 100%;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			padding: 15px 0 30px;
			border-bottom: 1px solid #F5F5F5;
			&:first-child {
				border-top: 1px solid #F5F5F5;
			}
		}
		td {
			padding: 0;
			width: 100%;
		}
		.cart__product-information {
			align-items: center;
		}
		.cart__image-wrapper {
			padding: 0;
		    margin-right: 20px;
		    flex-basis: 130px;
		}
		.cart__image {
			max-height: none;
		}
		.cart-subtotal {
			text-align: right;
		}
		.btn {
			width: 100%;
			max-width: none;
			margin-top: 20px;
		}
		.small--hide {
			display: block !important;
		}
		.cart__qty {
			margin-top: 0;
			label {
				display: block;
				margin-bottom: 8px;
			}
		}
		.cart__quantity-td {
			flex-grow: 1;
		    width: auto;
		    text-align: left !important;
		    padding-left: 150px !important;
		    margin-top: 15px;
		}
		.cart__final-price {
			margin-top: 15px;
			display: flex !important;
			width: auto;
			align-items: center;
		}
		.cart__buttons-container {
			max-width: 370px;
		}
		.cart__footer {
			padding-top: 0;
		}
	}
	.empty-page-content  {
		h1 {
			font-size: 30px;
		}
	}
	.blog-post {
		.btn {
			max-width: none;
		    width: 100%;
		}
		&__left {
			h2 {
				font-size: 30px;
			}
		}
		&__meta {
			&-img {
			    width: 35px;
			    height: 35px;
			}
		}
		&__content {
			h2 {
				font-size: 24px;
			}
			h3 {
				font-size: 20px;
			}
		}
		.banner1 {
			p {
				font-size: 15px;
			}
			&-img {
				margin-bottom: 16px;
				width: 100%;
				&-top {
					margin-top: 16px;
				}
			}
			>div {
				width: 100%;
				padding-left: 0px;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				> * {
					order: 2;
				}
				.btn {
					order: 1;
				}
			}
		}
		&__images {
			ul {
				flex-direction: column;
			}
		}
		.banner2 {
			text-align: center;
			&::before {
				display: none;
			}
			&-img {
				display: none;
			}
			>div {
				padding-left: 0px;
			}
		}
		&-product {
			padding: 50px 16px 25px;
			.flex {
				flex-flow: row wrap;
				>div {
					width: 100%;
					padding-left: 0px;
				}
			}
			&__img {
				width: 100%;
				margin-bottom: 20px;
			}
			&__badge {
				font-size: 13px;
				transform: translate3d(-45px, 15px, 0px) rotate(-45deg);
			}
		}
		&__right {
			width: 100%;
			max-width: none;
			h2 {
				font-size: 25px;
			}
		}
	}
}



